<template>
    <span class="toggle_button">
         BUBUBU!!!22223
    </span>
</template>

<script>

export default {
    name: 'Bu',

}

</script>

<style scoped>
    .toggle_button {
        cursor: pointer;
    }
</style>