<template>
    <span v-if="sort_order !== 'none'" class="toggle_button">
        <font-awesome-icon icon="sort"       v-show="sort_order === 'any'" v-on:click="reorder('any')"/>
        <font-awesome-icon icon="caret-up"   v-show="sort_order === 'up'"  v-on:click="reorder()" />
        <font-awesome-icon icon="caret-down" v-show="sort_order === 'down'" v-on:click="reorder()"/>
    </span>
</template>

<script>

import {$$} from '../utils'

export default {
    name: 'ToggleButton',
    created() {
        // this.$log.debug("SORT DIRECTION", this.sort_direction)
    },

    methods: {
        reorder(order) {
            let new_order = order === 'any' ? 1 : this.sort_direction * -1
            this.sort_direction = new_order
            this.raze_emit()
        },
        raze_emit() {
            this.$emit('sort', this.sort_order);
        },
    },
    computed: {
        sort_order() {
            let order = this.sort_direction
            return order === 1
                ? 'up' : order === -1
                    ? 'down'
                    : $$.is_defined(order)
                        ? 'any'
                        : 'none'
        },
    },
    props: ['sort_direction']
}

</script>

<style scoped>
    .toggle_button {
        cursor: pointer;
    }
</style>