<template>
    <span ref='button_wrapper' @click='click'>
    <slot/>
    </span>
</template>

<script>

import {$$} from '../utils'

const active = 'icon_active'
const passive = 'icon_passive'

export default {
    name: 'ToggleButton',
    created() {
        this.is_active = this.status === 'active'
    },
    mounted() {
        this.sync_status()
    },
    methods: {
        sync_element(element) {
            element.classList.remove(this.is_active ? passive : active);
            element.classList.add(this.is_active ? active : passive);
        },
        sync_extra() {},
        sync_status() {
            const children = this.$refs.button_wrapper.children || []
            for (let i=0; i<children.length; i+=1) {
                this.sync_element(children[i])
            }
            this.sync_extra()
        },
        toggle_status() {
            this.is_active = ! this.is_active
            this.sync_status()
        },
        click() {
            this.toggle_status()
            this.$emit('click', {action: this.action, active: this.is_active});
        },
    },
    computed: {
    },
    watch: {
        status(data) {
            this.is_active = this.status === 'active'
            this.sync_status()
        },
    },
    props: ['status', 'action'],
    data() {
        return {
            is_active: true
        }
    }
}

</script>

<style scoped>
    .toggle_button {
        cursor: pointer;
    }
</style>
