<template>
    <span class="toggle_button">
         <myicon :icon="icon_value" @click="toggle()"/>
    </span>
</template>

<script>

import myicon from '../../Common/Icon/myicon'

export default {
    name: 'ToggleRadioButton',
    components: {myicon},
    methods: {
        toggle() {
            this.value = ! this.value
            this.$emit('toggle', this.value)
        },
    },
    computed: {
        icon_value() { return this.value ? this.icon_on : this.icon_off },
    },
    props: {
        value: {
            type: Boolean,
            default: true
        },
        icon_on: {
            type: String,
            default: 'toggle-on'
        },
        icon_off: {
            type: String,
            default: 'toggle-off'
        }
    }
}

</script>

<style scoped>
    .toggle_button {
        cursor: pointer;
    }
</style>