<template>
    <span class="disable-selection" ref="button_wrapper" @click="click">
    <span>
        <slot></slot>
        <span ref="breadcrumb_text" class="breadcrumb_button_text">{{ text }}</span>
    </span>
    </span>
</template>

<script>

import {$$} from '../utils'
import toggle_button from './ToggleButton'

export default {
    name: 'ToggleBreadcrumbButton',
    mixins: [toggle_button],
    methods: {
        sync_extra() {
            this.sync_element(this.$refs.breadcrumb_text)
        },
    },
    props: ['action', 'text'],
}

</script>

<style scoped>
.active {
    color: #1099ff;
}
.passive {
    color: black;
}
.breadcrumb_button_text {
    /*top: +3px;*/
    margin-top: 3px;
    vert-align: middle;

    /*color: dodgerblue;*/
    /*color: #1099ff;*/
    font-weight: bold;
}
</style>

