<template>

  <div
        :ref='selfRefName'
        @click.stop='click($event)'
        @click.right.stop.prevent='rightClick($event)'
        @dblclick.stop='dblClick($event)'
        @mouseout='mouseout'
        @mouseover='mouseover'
        @mouseenter='mouseover'
        :class='[currentClass]'
        :style='currentStyle'
        >

       <span>(page: {{currentPage}}</span>&nbsp;&nbsp;&nbsp;<span>pages: {{countPages}}</span>)&nbsp;&nbsp;&nbsp;
       <span class='large' @click='shuffle()'><myicon icon='random' /></span>
        {{ title}}

       <span class='large' @click='goPage("home")' ><myicon size="85%" icon='flaticon2-fast-back' /></span>&nbsp;
       <span class='large' @click='goPage("left")' ><myicon size="85%" icon='flaticon2-back' /></span>&nbsp;
       <span class='large' @click='goPage("right")'><myicon size="85%" icon='flaticon2-mext' /></span>&nbsp;
       <span class='large' @click='goPage("end")'><myicon size="85%" icon='flaticon2-fast-next' /></span>&nbsp;

        <template v-for='(item, index) in pageValues' :key='index'>
            <span @click='setPageSize(item.value)'>
              <b v-if='isPageSize(item.value)'>{{ item.title }}</b><span v-else>{{ item.title }}</span>
              </span>
            &nbsp;&nbsp;
        </template>
      &nbsp;<span style='background-color: yellowgreen' @click='setWindowNumberRows(5)'>5</span>
      &nbsp;<span style='background-color: yellowgreen' @click='setWindowNumberRows(10)'>10</span>
      &nbsp;<span style='background-color: yellowgreen' @click='setWindowNumberRows(15)'>15</span>
      &nbsp;<span style='background-color: yellowgreen' @click='setWindowNumberRows(20)'>20</span>
      &nbsp;<span @click='goToPage(1)'>1</span>
      &nbsp;<span @click='goToPage(2)'>2</span>
      &nbsp;<span @click='goToPage(3)'>3</span>
      <button @click="scale(0.5)" type="button" class="btn btn-warning">0.5</button>&nbsp;
      <button @click="scale(0.8)" type="button" class="btn btn-warning">0.8</button>&nbsp;
      <button @click="scale(1.0)" type="button" class="btn btn-warning">1.0</button>&nbsp;
      <button @click="scale(1.2)" type="button" class="btn btn-warning">1.2</button>&nbsp;
      <button @click="scale(2.0)" type="button" class="btn btn-warning">2.0</button>&nbsp;
  </div>

</template>

<style>
</style>

<script lang='ts'>

import { defineComponent } from 'vue';
import myicon from 'components/Icon/Myicon.vue'

import TableBaseComponent from '../TableBaseComponent.vue'
import EventBaseComponent from '../../Abstract/EventBaseComponent.vue';
import {TablePaginatorType} from 'components/Table/Types/TableSettingsType';

const PAGE_VISUAL_ENUMERATION_SHIFT = 1;

export default defineComponent({
    components: {
      myicon
    },
    mixins: [
      TableBaseComponent,
      EventBaseComponent
    ],
    props: ['controller', 'settings'],
    emits: ['page-size', 'go-page', 'shuffle', 'win-size', 'scale'],
    methods: {
        setWindowNumberRows(value: number) { this.$emit('win-size', value) },
        setPageSize(size: number)   { this.$emit('page-size', size) },
        shuffle()                   { this.$emit('shuffle') },
        goPage(mode: string)        { this.$emit('go-page', {mode: mode} ) },
        goToPage(index: number)     { this.$emit('go-page', { mode: 'value', value: index}) },
        isPageSize(size: number)    { return this.controller.getPageSize() === size },
        scale(scale: number) {
          // const cntr1 = this.controller.view.pageSize;
          // const cntr2 = cntr1 / scale;
          // console.log('############################ before: [' + cntr1 + '] after:[ ' + cntr2 + ']');
          let cntr2 = 10;
          if (scale === 0.5) cntr2 = 20;
          if (scale === 0.8) cntr2 = 12;
          if (scale === 1.0) cntr2 = 10;
          if (scale === 1.2) cntr2 = 8;
          if (scale === 2.0) cntr2 = 5;
          this.$emit('scale', scale);
          // this.$nextTick(this.$emit('page-size', cntr2));
          // this.$emit('page-size', cntr2);
          this.$emit('win-size', cntr2)
          // this.setPageSize(cntr2)
        },
    },
    computed: {
        paginator(): TablePaginatorType { return this.settings.paginator },
        pageValues()  { return this.settings.paginator.pageValues },
        title()           { return '' },
        currentPage() { return PAGE_VISUAL_ENUMERATION_SHIFT + this.controller.currentPage() },
        countPages()  { return this.controller.countPages() },
    },
    data() {
      return {
        componentKind: 'table-paginator'
      }
    }
})

</script>
