<template
    :ref="selfRefName"
    :class="[currentClass]"
    :style="currentStyle"
>
    <table border="0" width="100%">
    <tr>
        <td>
        <span @click="clearText">
            <myicon icon="times"/>
        </span>
        </td>
        <td width="90%">
        <input style="width: 100%"
               ref="SearchText"
               type="text"
               class="field-for-writing"
               @input="input"
               :placeholder="placeholder"/>
        </td>
      <td>
        <myicon @click="doSearch" icon="search"/>
        &nbsp;&nbsp;
        <ToggleIcon
            :startValue="searchFromStart"
            :iconOn="iconStart"
            :iconOff="iconAny"
            @toggle="changeMode"
        />

      </td>
    </tr>
    </table>
</template>


<script lang="ts">

import myicon from 'components/Icon/Myicon.vue';
import { SearcherType, SearchViewModes } from '../Types/TableViewType';
import TableBaseComponent from '../TableBaseComponent.vue';

import ToggleIcon from 'components/Button/ToggleIcon.vue'


export default {
    components: {
        myicon,
        ToggleIcon
    },
    mixins: [
        TableBaseComponent
    ],
    props: {
        controller: {},
        settings: { type: SearcherType }
    },
    emits: ['do-search', 'search-mode', 'clear-search', 'extra-action'],
    methods: {
        extraAction() { this.$emit('extra-action', 'reload') },

        clearText() {
            const value = this.$refs.SearchText.value;
            this.$refs.SearchText.value = '';
            this.$emit('clear-search', value)
        },
        doSearch()   {
            this.$emit('do-search', {
                text: this.$refs.SearchText.value,
                params: this.localSettings})
        },
        input() {
            if (this.localSettings.instant) {
                this.doSearch()
            }
        },
        changeMode() {
          this.localSettings.mode = this.localSettings.mode === SearchViewModes.Start ? SearchViewModes.Any : SearchViewModes.Start;
          this.$emit('search-mode', this.localSettings.mode === SearchViewModes.Start
              ? SearchViewModes.Any
              : SearchViewModes.Start);
          this.doSearch()
        }
    },
    computed: {
      iconStart() { return 'ellipsis-v' },
      iconAny()   { return 'ellipsis-v 90' },
      searchFromStart() { return this.localSettings.mode === SearchViewModes.Start },
      cssClass() { return 'table_search_form w100'},
      placeholder() {
          return this.localSettings.mode === SearchViewModes.Start
              ? 'search beginning with...'
              : 'search any occurrence...'
      },
    },
    data() {
      return {
        componentKind: 'table-searcher'
      }
    }
}

</script>
