<template
    :ref="selfRefName"
    :class="[currentClass]"
    :style="currentStyle"
>
    <div class="table-wrap-window">
      <slot/>
    </div>
</template>


<script lang="ts">

import { SearcherType, SearchViewModes } from '../Types/TableViewType';
import TableBaseComponent from '../TableBaseComponent.vue';

export default {
    components: {
    },
    mixins: [
        TableBaseComponent
    ],
    props: {
        // controller: {},
        // settings: { type: SearcherType }
    },
    emits: [],
    methods: {

    },
    computed: {

    },
    data() {
      return {
      }
    }
}

</script>
