<template>
    <td :ref='selfRefName'
        v-if='rowIsFirst'
        :class='[currentClass]'
        :style='style'
        :rowspan='rowsNumber'
        >
        <div  :ref='verticalPreScrollRef'  :class='verticalBarClass' :style='preStyle'></div>
        <div  :ref='verticalScrollBarRef'  :class='verticalBarClass' :style='barStyle'></div>
        <div  :ref='verticalPostScrollRef' :class='verticalBarClass' :style='postStyle'></div>
    </td>
</template>

<script lang='ts'>

import { defineComponent } from 'vue'
import {$$} from 'src/system/utils';

import {TABLE_RESIZE} from 'components/Table/Types/EventTypes';
import TableBaseComponent from '../../TableBaseComponent.vue'
import dataScrollBar, {RectBox, BarXYPercentage} from 'components/Table/Implementation/dataScrollBar';
import {TableViewType, XYPercentage} from 'components/Table/Types/TableViewType';

export default defineComponent({
  components: {},
  mixins: [
        TableBaseComponent,
        dataScrollBar   // 'scrollBarSize' & 'scroll' emmit here
    ],
    emits: ['scrollBarSize', 'scroll'],
    props: {
      rowsNumber: { type: Number, default: 0 },
      rowIndex:   { type: Number, default: 0 },
      controller: {}
    },
    created() {
      $$.addEventListener(window, TABLE_RESIZE, (e: any) => {
        console.log('TABLE-RESIZE');

        // if (this.isThisTableEvent(e)) {
        //   this.$nextTick(() => {
        //     this.reset(this.controller.view.scrollPercentage);
        //   })
        // }
      });
    },
    mounted() {
      if (this.rowIsFirst) {
          this.$nextTick(this.init);
      }
    },
    methods: {
        // emitPercentage(e: any) {
        //   console.log('####################################', e)
        // },
        isThisTableEvent(e: any) { return e.detail.refId === this.controller.selfRefName },
        getView(): TableViewType  { return this.controller.view as TableViewType; },

        init() {
          this.bar      = this.domElement(this.verticalScrollBarRef);
          this.preBar   = this.domElement(this.verticalPreScrollRef);
          this.postBar  = this.domElement(this.verticalPostScrollRef);
          this.wrapper  = this.bar.parentElement;

          console.log('################## SCROLL ININTTTT:::::: [' + this.controller.view.scrollPercentage.y + ']')
          this.$nextTick(this.reset);
        },

        reset() {
            this.buildVerticalScroll(this.controller.view.scrollPercentage);
            this.applyBarSize();
        },

        percentageY(): XYPercentage {
          const winRows = this.getView().windowNumberRows,
               pageSize = this.getView().actualPageSize;
          return { y: (this.getView().scrollShift) / (pageSize - winRows), x:0};
        }
    },
    computed: {
        style() {
          const result = this.currentStyle;
          result.width = this.colWidth;
          result['background-color'] = 'white';
          result['padding'] = 0;
          result['margin'] = 0;
          return result;
        },

        rowIsFirst()  { return this.rowIndex === 0 },
        colWidth()    { return '12px' }
    },
    data() {
      return {

        verticalPreScrollRef:  $$.uniqueId('scroll-pre'),
        verticalScrollBarRef:  $$.uniqueId('scroll'),
        verticalPostScrollRef: $$.uniqueId('scroll-post'),

        verticalBarClass: 'view-table-vertical-bar-class',
        componentKind: 'table-scroll-column',

        bar:            null as unknown as HTMLElement,
        preBar:         null as unknown as HTMLElement,
        postBar:        null as unknown as HTMLElement,
        wrapper:        null as unknown as HTMLElement,
        wrapperRectBox: null as unknown as RectBox,

        preStyle: {
          'background-color': 'white',
          'height': '100px',
          'width': '100%',
        },
        postStyle: {
          'background-color': 'white',
          'height': '100px',
          'width': '100%',
        },
        barStyle: {
            'height': $$.safeGet(this, ['controller','view', 'scroll', 'currentScrollBarSize'], 10) + 'px',
            'width': '100%',
            'border-radius': '10px'
        }
      }
    }
})

</script>
