<template>
    <th
        :ref="selfRefName"
        @click.stop="click($event)"
        @click.right.stop.prevent="rightClick($event)"
        @dblclick.stop="dblClick($event)"
        @mouseout="mouseout"
        @mouseover="mouseover"
        @mouseenter="mouseover"
        :class="[currentClass]"
        :style="getHeadColumnStyle()"
        >
        <component
                :item="item"
                :is="cellView"
                :settings="localSettings"
                :textScale="textScale"
        >
        </component>
    </th>
</template>

<script lang="ts">

// :class="[currentClass]"
//  class="ellipsis"

import { defineComponent } from 'vue'
import { $$ } from 'src/system/utils'
import { columnResizer } from 'components/Table/Implementation/columnResizer';
import ColumnNameControl from 'components/Controls/ColumnNameControl.vue';
import DomBaseComponent from 'components/Abstract/DomBaseComponent.vue';
import AbstractColumn from './AbstractColumn.vue';
import { TABLE_RESIZE } from 'components/Table/Types/EventTypes';
import { TableSettingsType } from 'components/Table/Types/TableSettingsType';

export default defineComponent({
    mixins: [
      AbstractColumn,
      DomBaseComponent
    ],
    created() {
        $$.addEventListener(window, TABLE_RESIZE, (e: any) => {
          if (this.isThisTableEvent(e)) {
              this.$nextTick(() => {
                this.initResizebleColumns()
            })
          }
      });
    },
    mounted() {
      this.$nextTick(this.initResizableColumns);
      this.$nextTick(this.registerColumn);
    },
    methods: {
      isThisTableEvent(e: any) {
        const refId = $$.safeGet(e, ['detail', 'refId'])
        return refId && refId === this.controller.selfRefName
      },
      initResizableColumns() {
        //const lastColumnResizable = $$.safeGet(this, ['settings' ,'columnResize', 'lastColumnResizable'], false);
        // if (this.settings.columnResizable && (lastColumnResizable || ! this.isLastItem())) {
        // if (this.settings.columnResizable) {
        // if (!this.isLastItem()) {
        //   this.$nextTick(() => this.makeResizable(this.isLastRealItem()));
        // console.log('#### COLUMN Index: [' + this.itemIndex + "] this.isLastItem()::[" + this.isLastItem() + "] ..totalCount: [" + this.itemsCount + ']')
          this.$nextTick(() => this.makeResizable(this.isLastItem()));
        // }
        // }
      },
      registerColumn() {
         const column = this.asDomElement();
         this.rowController.registerColumn(column, this.itemIndex, this.itemIndex === this.itemsCount - 1, -1, true);
      },

      makeResizable(isLastItem: boolean) {
        if (this.tableDom) {
          const column = this.item;
          const tableDom = this.tableDom();

          if (column) {
            const box = tableDom.getBoundingClientRect();
            const columnElement = this.asDomElement();
            const div = columnResizer.createControlDiv(box.height);

            tableDom.style.minWidth = box.width + 'px';

            columnElement.appendChild(div);
            columnElement.style.position = 'relative';

            columnResizer.setListeners(this, div, columnElement, this.itemIndex, this.controller.columnsWidth, isLastItem, tableDom, this.controller.selfRefName);
          }
        }
      }
    },
    computed: {
        cellView()      { return ColumnNameControl }
    },
    props: {
      // other props - see mixins
      item:       { type: Object },  // TableHeaderColumnType
      controller: { },
      tableDom:   { type: Function },
      settings:   { type: TableSettingsType, default: new TableSettingsType() }
    },
    data() {
      return {
        componentKind: 'table-head-column',
        getHeadColumnStyle() {
          return {
              'white-space': 'nowrap',
              'width': this.columnWidth
          }
        }
      }
    }
})

</script>
