<template>
    <td :ref="selfRefName"
        @click.stop="click($event)"
        @click.right.stop.prevent="rightClick($event)"
        @dblclick.stop="dblClick($event)"
        @mouseout="mouseout"
        @mouseover="mouseover"
        @mouseenter="mouseover"
        :class="[currentClass]"
        :style="currentStyle"
        >
        <component
                :item="item"
                :is="cellView"
                :settings="localSettings"
        >
        </component>
    </td>
</template>


<style>

</style>

<script lang="ts">

import { defineComponent } from 'vue'
import RowSelectControl from 'components/Controls/RowSelectControl.vue';

import Column from './TableRegularColumn.vue';

export default defineComponent({
    mixins: [
        Column
    ],
    methods: {
        click()   { this.select({}) },
    },
    computed: {
      cellView()  { return RowSelectControl },
    },
    data() {
      return {
        componentKind: 'table-row-select-column'
      }
    }
})

</script>
