<template>
    <td :ref="selfRefName"
        @click="clickColumn($event)"
        @click.right.stop.prevent="rightClick($event)"
        @dblclick.stop="dblClick($event)"
        @mouseout="mouseout"
        @mouseover="mouseover"
        @mouseenter="mouseover"
        @keydown="keydown"
        :nowrap="nowrap"
        class="just-ellipsis"
        >
       <!-- KeepAlive decreases performance here -->
<!--<KeepAlive> -->
        <component
                :item="item"
                :is="cellView"
                :settings="localSettings"
                :wholeData="wholeData"
                :itemIndex="itemIndex"
                :textScale="textScale"
                :style="getStyle"
        >
        </component>
<!--        </KeepAlive>-->
    </td>
</template>

<!--                @click="this.$emit('click', $event)"-->
<!--              v-bind="cellParams"-->

<style>
</style>

<script lang="ts">

import {$$} from 'src/system/utils'
import {defineComponent, PropType} from 'vue'
import StringControl from 'components/Controls/StringControl.vue';
import NumberControl from 'components/Controls/NumberControl.vue';
import BooleanControl from 'components/Controls/BooleanControl.vue';
import ButtonControl from 'components/Controls/ButtonControl.vue';
import PictureControl from 'components/Controls/PictureControl.vue';
import ButtonGroup from 'components/Controls/ButtonGroup.vue';

import AbstractColumn from './AbstractColumn.vue';
import { TableStringField } from 'components/Table/Fields/TableStringField';


export default defineComponent({
    mixins: [
        AbstractColumn
    ],
    computed: {
        cellParams()  { return this.model.params; },
        getStyle()    { return $$.safeGet(this.model, ['params', 'style'], {}); },
        cellView()  {
          const types = {
            'X_string':       StringControl,
            'string':       TableStringField,
            'number':       NumberControl,
            'boolean':      BooleanControl,
            'button':       ButtonControl,
            'button_group': ButtonGroup,
            'picture':      PictureControl,
            '_default_':    StringControl
          };

          if ($$.isString(this.model.type)) {
            const val = types[this.model.type as keyof typeof types];
            return val ?? types['_default_'];
          }
          return this.model.type;
        },
        nowrap() { return this.cellParams.nowrap }
    },

    props: {
      // more props are defined in 'mixin'
      model: { type: Object },
      controller: {},
    },
    data() {
      return {
          componentKind: 'table-column'
      }
    }
})

</script>
