<template>
    <td :ref='selfRefName'
        :class='[verticalWrapperClass]'
        :style='scrollColumnCurrentStyle'
    >
        <div  :ref='verticalPreScrollRef'  :class='verticalPlaceHolderTopClass'    :style='barStyles[0]'></div>
        <div  :ref='verticalScrollBarRef'  :class='verticalBarClass'               :style='barStyles[1]'></div>
        <div  :ref='verticalPostScrollRef' :class='verticalPlaceHolderBottomClass' :style='barStyles[2]'></div>
    </td>
</template>


<script lang='ts'>

import { defineComponent, PropType } from 'vue';
import {$$} from 'src/system/utils';

import {TABLE_RESIZE} from 'components/Table/Types/EventTypes';
import TableBaseComponent from '../../TableBaseComponent.vue'
import dataScrollBar, {RectBox, BarXYPercentage} from 'components/Table/Implementation/dataScrollBar';
import { InputDataType, TableViewType, XYPercentage } from 'components/Table/Types/TableViewType';

export default defineComponent({
  mixins: [
        TableBaseComponent,
        dataScrollBar       // 'scrollBarSize' & 'scroll' emmit here
    ],
    emits: ['scroll'],
    props: {
      // scrollPercentage: { type: Object as PropType<BarXYPercentage>, required: true},
      controller: {},
      inputData:{ type: Array as PropType<InputDataType>, required: true },
      tableHeight: { type: Number, required: true}
    },
    watch: {
      tableHeight() {
          this.wrapperRectBox.height = this.tableHeight;
      },
      inputData (val) {
        // console.log('curr_count_of_rows:', this.curr_count_of_rows)
        if (this.curr_count_of_rows != this.inputData.length) {
          this.init();
          this.curr_count_of_rows = this.inputData.length;
        }
      }
    },
    created() {
      console.log('################## SCROLL CREATED ::::: [' + this.controller.view.scrollPercentage.y + ']')
      $$.addEventListener(window, TABLE_RESIZE, (e: any) => {
        console.log('TABLE-RESIZE');

        // if (this.isThisTableEvent(e)) {
        //   this.$nextTick(() => {
        //     this.reset(this.controller.view.scrollPercentage);
        //   })
        // }
      });
      // this.$nextTick(this.init);
    },
    // eslint-disable-next-line @typescript-eslint/no-empty-function
    mounted() {
    },
    methods: {
        isThisTableEvent(e: any) { return e.detail.refId === this.controller.selfRefName },
        getView(): TableViewType  { return this.controller.view as TableViewType; },

        init() {
          this.bar      = this.bar      || this.domElement(this.verticalScrollBarRef);
          this.preBar   = this.preBar   || this.domElement(this.verticalPreScrollRef);
          this.postBar  = this.postBar  || this.domElement(this.verticalPostScrollRef);
          this.wrapper  = this.wrapper  || this.bar.parentElement;

          this.buildVerticalScroll();
        }
    },
    computed: {
        style() {
          const result = this.currentStyle;
          result.width = this.colWidth;
          result['background-color'] = 'white';
          result['padding'] = 0;
          result['margin'] = 0;
          return result;
        },
        barStyles() {
          if (!this.inputData) {
            return [{}, {}, {}]
          }
          // const cntRows = this.controller.totalNumberOfRows();
          // const actualCountOfRows = this.controller.view.actualCountOfRows;
          const actualCountOfRows = this.inputData.length;
          const windowNumberRows = this.controller.view.windowNumberRows;

          // console.log('####################### 0 >>>>>>>>>>>> barStyles::cntRows: [' + actualCountOfRows + ']')
          // console.log('####################### 0 >>>>>>>>>>>> windowNumberRows: [' + windowNumberRows + ']')
          // const x = (windowNumberRows / actualCountOfRows);

          const barMinHeight = 20;
          // const barHeight = 20;
          const shiftTop = 0; //36;
          const shiftBottom = 16;

          const wrapperRect = this.wrapperRectBox,
                baseHeight = wrapperRect.height,
                actualHeight = baseHeight - shiftTop - shiftBottom;

          const bhx = (windowNumberRows / actualCountOfRows) * baseHeight;

          const barHeight = Math.min(baseHeight, Math.max(barMinHeight, bhx));
          const wholeHeight = barHeight === baseHeight;
          const halfBarHeight = barHeight / 2;
          const barColor = wholeHeight ? '#000000' : '#00B4FF';
          // console.log('####################### >>>>>>>>>>>> baseHeight: [' + baseHeight + '] bhx: [' + bhx + '] <' + wholeHeight + '>')

          const maxH1 = baseHeight - barHeight - shiftBottom;
          const barCenter = this.controller.view.scrollPercentage.y * actualHeight + shiftTop;

          const h1 = Math.max(0, Math.min(maxH1, barCenter - halfBarHeight));
          const h2 = baseHeight - h1 - barHeight;

          // console.log('#### SIZE:: total:[' + wrapperRect.height + '] h1:[' + h1 + '] h2:[' + h2 + '] h1+h2:[' + (h2 + h1) + '] %%', this.controller.view.scrollPercentage.y)

          const pre = {
            // 'background-color': 'yellow',
            'height': '' + h1 + 'px',
            'width': '100%',
          }
          const post = {
            // 'background-color': 'pink',
            'height': '' + h2 + 'px',
            'width': '100%',
            };
          const bar = {
            // 'height': $$.safeGet(this, ['controller','view', 'scroll', 'currentScrollBarSize'], 10) + 'px',
            // 'height': this.controller.view.scroll.currentScrollBarSize + 'px',
            'height': barHeight + 'px',
            'width': '100%',
            'background-color': barColor,
            // background-color: #00B4FF;
            // 'border-radius': '10px'
          }
          return [pre, bar, post]
        },


        // rowIsFirst()  { return this.rowIndex === 0 },
        colWidth()    { return '12px' }
    },
    data() {
      return {
        curr_count_of_rows: -1,
        verticalPreUpRef:      $$.uniqueId('pre-up'),
        verticalPreDownRef:    $$.uniqueId('pre-down'),
        verticalPreScrollRef:  $$.uniqueId('scroll-pre'),
        verticalScrollBarRef:  $$.uniqueId('scroll'),
        verticalPostScrollRef: $$.uniqueId('scroll-post'),

        verticalWrapperClass:           'view-table-vertical-wrapper-class',
        verticalPlaceHolderTopClass:    'view-table-vertical-placeholder-top-class',
        verticalPlaceHolderBottomClass: 'view-table-vertical-placeholder-bottom-class',
        verticalBarClass:               'view-table-vertical-bar-class',
        componentKind: 'table-scroll-column',

        bar:            null as unknown as HTMLElement,
        preBar:         null as unknown as HTMLElement,
        postBar:        null as unknown as HTMLElement,
        wrapper:        null as unknown as HTMLElement,
        wrapperRectBox: { height: 0,  top: 0} as unknown as RectBox,
        scrollColumnCurrentStyle: {}
        // exclusiveCss: {
        //   style: {
        //     'padding': '0',
        //     'margin': '0',
        //   }
        // }
      }
    }
})

</script>
