<template>
    <td :ref="selfRefName"
        @click.stop="click($event)"
        @click.right.stop.prevent="rightClick($event)"
        @dblclick.stop="dblClick($event)"
        @mouseout="mouseout"
        @mouseover="mouseover"
        @mouseenter="mouseover"
        :class="[currentClass]"
        :style="currentStyle"
        >
              <component
                :item="realValue"
                :is="cellView"
                :settings="localSettings"
        >
        </component>
    </td>
</template>


<style>

</style>

<script lang="ts">

import { defineComponent } from 'vue'

import Column from './TableRegularColumn.vue';
import IndexColumnControl from 'components/Controls/IndexColumnControl.vue';

export default defineComponent({
    mixins: [
        Column
    ],
    props: ['row'],
    methods: {
        click()   { this.select({}) },
    },
    computed: {
      realValue() { return {value: this.row[0].SYS.count} },
      cellView()  { return IndexColumnControl },
    },
    data() {
      return {
        componentKind: 'table-row-enumerate-column'
      }
    }
})

</script>
