<template>
    <td :ref='selfRefName'
        :class='[currentClass]'
        :style='currentStyle'
        :rowspan='rowsNumber'
        v-if='rowIsFirst'
        :width='colWidth'
        >
          <div  :ref='verticalScrollBarRef'
                :class='verticalBarClass'
                :style='barStyle'
          ></div>
    </td>
</template>

<script lang='ts'>

import { defineComponent } from 'vue'
import {$$} from 'src/system/utils';

import {TABLE_RESIZE} from 'components/Table/Types/EventTypes';
import TableBaseComponent from '../../TableBaseComponent.vue'
import dataScrollBar, {BarXYPercentage} from 'components/Table/Implementation/dataScrollBar';
import {TableViewType, XYPercentage, YCoordinate} from 'components/Table/Types/TableViewType';

export default defineComponent({
    mixins: [
        TableBaseComponent,
        dataScrollBar
    ],
    emits: ['scroll'],
    props: {
      rowsNumber: { type: Number, default: 0 },
      rowIndex: { type: Number, default: 0 },
      controller: {}
    },
    created() {
      $$.addEventListener(window, TABLE_RESIZE, (e) => {
        if (this.isThisTableEvent(e)) {
          this.$nextTick(() => {
            this.adjust(0);
          })
        }
      })
    },
    mounted() {
      if (this.rowIsFirst) {
          this.$nextTick(this.init);
      }
    },
    methods: {
        isThisTableEvent(e) { return e.detail.refId === this.controller.selfRefName },
        getView(): TableViewType  { return this.controller.view as TableViewType; },
        init() {
          this.element = this.domElement(this.verticalScrollBarRef);
          this.wrapper = this.element.parentElement;

          window.addEventListener('resize', () => {
            this.adjust(0);
          });

          this.reset();
        },

        reset(shiftY: YCoordinate | undefined) {
            this.buildVerticalScroll();
            this.adjust(shiftY);
        },

        adjust(shiftY: YCoordinate | undefined) {
            this.adjustY(shiftY || 0);
            this.adjustVerticalBarWidth(this.element);
        },

        adjustedBarHeight()   {
          const minScrollBarSize = this.getView().scroll.minScrollBarSize;
          return Math.min(this.wrapperRect().height, Math.max(minScrollBarSize,
              this.wrapperRect().height * this.getView().windowNumberRows / this.getView().actualPageSize));
        },
        percentageY(): XYPercentage {
          const winRows = this.getView().windowNumberRows,
              pageSize = this.getView().actualPageSize;
          return { y:  (this.getView().scrollShift) / (pageSize - winRows), x:0};
        },

        adjustY(shiftY: YCoordinate) {
            if (this.element) {
                this.setVerticalBarSize(this.element, this.adjustedBarHeight());
                this.moveToVerticalPercent(this.element, this.percentageY().y, shiftY)
            }
            else {
                this.resetPercentage()
            }
        },
        emitPercentage(percentage: BarXYPercentage) {
            // percentage.auto = true;
            console.log('EMMIT SCROLL TRURE HERRRREEEEE')
            this.$emit('scroll', percentage);
        },
        resetPercentage()  {
          console.log('SCROLL COLUMN - RESET Percentage');
          this.$emit('scroll', {x: 0, y: 0, 'auto': false} as BarXYPercentage);
        }
    },
    computed: {
        verticalScrollBarRef() { return $$.uniqueId('scroll')},
        verticalBarClass() { return 'view-table-vertical-bar-class'},
        wrapperStyleDefault()  { return { 'height': 'calc(100% - ' + this.heightDelta + 'px)'} },
        rowIsFirst()  { return this.rowIndex === 0 },
        colWidth()    { return '16px' }
    },
    data() {
      return {
        componentKind: 'table-scroll-column',

        heightDelta: 10,    // props
        element: null as unknown as HTMLElement,
        wrapper: null as unknown as HTMLElement,
        wrapperRectBox:  null, // as WrapperRectBox,
        barStyle: {
            'background-color': 'red',
            'height': '20px',
            'width': '10px'
        }
      }
    }
})

</script>
