<template>
    <span ref="button_wrapper"
          @click="click">
    <slot></slot>
    </span>
</template>

<script>


/*
Usage

  <toggle_button
          v-bind:status="status('dashboard')"
          v-bind:action="'dashboard'"
          @click="send_event($event)">
          <myicon icon="th"/>
  </toggle_button>

 */

const active = 'icon_active'
const passive = 'icon_passive'

export default {
    name: 'ToggleButton',
    created() {
        this.is_active = this.status === 'active'
    },
    mounted() {
        this.sync_status()
    },
    methods: {
        syncElement(element) {
            element.classList.remove(this.is_active ? passive : active);
            element.classList.add(this.is_active ? active : passive);
        },
        syncExtra() {},
        syncStatus() {
            const children = this.$refs.button_wrapper.children || []
            for (let i=0; i<children.length; i+=1) {
                this.sync_element(children[i])
            }
            this.sync_extra()
        },
        toggleStatus() {
            this.is_active = ! this.is_active
            this.sync_status()
        },
        click() {
            this.toggle_status()
            this.$emit('click', {action: this.action, active: this.is_active});
        },
    },
    computed: {
    },
    watch: {
        status(data) {
            this.is_active = this.status === 'active'
            this.sync_status()
        },
    },
    props: ['status', 'action'],
    data() {
        return {
            is_active: true
        }
    }
}

</script>

<style scoped>
    .toggle_button {
        cursor: pointer;
    }
</style>