<template>
<span :ref="selfRefName"
      :class="[currentClass]"
      :style="currentStyle"
      class="toggle_button"
>
     <myicon v-if="value" :icon=iconOn  @click="toggle()"/>
     <myicon v-else       :icon=iconOff @click="toggle()"/>
</span>
</template>

<script lang="ts">

import myicon from 'components/Icon/Myicon.vue';
import buttonBase from './ButtonBaseComponent.vue';

export default {
    components: { myicon },
    mixins: [ buttonBase ],
    methods: {
        toggle() {
            this.value = ! this.value;
            this.$emit('toggle', this.value)
        },
    },
    emits: ['toggle'],
    props: {
        startValue: { type: Boolean,  default: true },
        iconOn:     { type: String, default: 'toggle-on' },
        iconOff:    { type: String, default: 'toggle-off' }
    },
    data() {
      return {
        value: this.startValue,
        componentKind: 'icon-toggle-button'
      }
    }
}
</script>

<style scoped>
.toggle_button {
    cursor: pointer;
}
</style>
