<template>
    <DlgConfirm
      :propVisible="showConfirmWindow"
      :onOk="dlgConfirmOnOk"
      :onCancel="() => showConfirmWindow = false"
    >
      <!-- :onCancel="() => dlgConfirm = false" -->
      {{ dlgConfirmText }}
  </DlgConfirm>
  <AddDataIntoDB
    :prop-visible="isModalAddNewDataVisible"
    :url="'redis/'"
    :action="'insert'"
    :connector="connectorName"
    :schema="'public'"
    :delete-button-visible="false"
    @hide-add-data="hideAddDataIntoDB"
  />
  <div v-if="props.propCurrConnTypeName === 'Redis'">
    <q-btn @click="toggleNewttlInput" label="add ttl" color="green" />
    <div v-if="showNewttlInput">
      <q-input v-model="newTTL" label="ttl" outlined />
      <q-btn @click="addFunc" label="Add TTL" color="green" />
    </div>

    <q-btn @click="isModalAddNewDataVisible = true" label="New Key" color="green" />

<!--    <div v-if="showNewKeyInput">-->
<!--      <q-input v-model="newKeyName" label="New Key" outlined />-->
<!--      <q-input v-model="newValue" label="New Value" outlined />-->
<!--      <q-btn @click="addFunc" label="Add New Key" color="green" />-->
<!--    </div>-->
    <q-btn @click="toggleRenameInput" label="Rename Key" color="primary" />
    <div v-if="showRenameInput">
      <q-input v-model="newKeyName" label="New Key Name" outlined />
      <q-btn @click="renameFunc" label="Rename Key" color="primary" />
    </div>
    <q-btn @click="delFunc" label="Delete Key" color="red" />
    <q-btn label="Download key as csv" color="grey" />
    <q-btn @click="toggleUpdateInput" label="Update value" color="grey" />
    <div v-if="showUpdateValue">
      <q-input v-model="newKeyValue" label="New Value" outlined />
      <q-btn @click="updFunc" label="Update Key Value" color="orange" />
    </div>
  </div>
  <div v-if="props.propCurrConnTypeName === 'Zookeeper'">
    <q-btn @click="toggleNewNodeInput" label="New Node" color="green" />
    <div v-if="showNewNodeInput">
      <q-input v-model="newNodeName" label="New Node" outlined />
      <q-input v-model="newNodeValue" label="New Value" outlined />
      <q-btn @click="addFuncNode" label="Add New Node" color="green" />
    </div>
    <q-btn @click="toggleNodeRenameInput" label="Rename Node" color="primary" />
    <div v-if="showRenameNodeInput">
      <q-input v-model="newNodeName" label="New Node Name" outlined />
      <q-btn @click="renameFuncNode" label="Rename Node" color="primary" />
    </div>
    <q-btn @click="delFuncNode" label="Delete Node" color="red" />
    <q-btn @click="toggleNodeUpdateInput" label="Update Node" color="orange" />
    <div v-if="showUpdateNodeValue">
      <q-input v-model="reNodeValue" label="New Value" outlined />
      <q-btn @click="updFuncNode" label="Update Node Value" color="orange" />
    </div>
  </div>
  <div v-if="props.propCurrConnTypeName === 'Kafka'">
    <q-btn @click="toggleNewTopicInput" label="New Topic" color="green" />
    <div v-if="showNewTopicInput">
      <q-input v-model="newTopicName" label="Topic Name" outlined />
      <q-btn @click="addFuncTopic" label="Add New Topic" color="green" />
    </div>
    <q-btn @click="delFuncTopic" label="Delete Topic" color="red" />
    <q-btn @click="ConsumeMessage" label="Consume Message" color="blue" />
    <q-btn @click="toggleSendingData" :class="{ 'bg-pink': sendingDataEnabled, 'bg-yellow': !sendingDataEnabled }"
      label="Toggle data" />
    <q-btn @click="ConfigTopic" label="Info" color="pink" />
    <q-btn @click="toggleMessageInput" label="Send Message" color="orange" />
    <div v-if="showMessageValue">
      <q-input v-model="newMessageValue" label="Message" outlined />
      <q-btn @click="sendFuncTopic" label="Send" color="orange" />
    </div>
  </div>
  <div v-if="props.propCurrConnTypeName === 'Rabbitmq'">
    <q-btn @click="toggleNewQueueInput" label="New Queue" color="green" />
    <div v-if="showNewQueueInput">
      <q-input v-model="newQueueName" label="Queue Name" outlined />
      <q-btn @click="addQueue" label="Add New Queue" color="green" />
    </div>
  </div>
  <div v-if="props.propCurrConnTypeName === 'Postgres'">
    <q-btn @click="Copy_from_Postgres" label="Copy Table" color="green" />
    <q-btn @click="Past_in_Postgres" label="Past Table" color="blue" />
    <q-btn label="Download table as csv" color="grey" />
    <q-btn @click="Delete_table_Postgres" label="Delete table" color="red" />
    <q-btn label="Rename table" color="grey" />
  </div>
  <div v-if="props.propCurrConnTypeName === 'MySQL'">
    <q-btn @click="Copy_from_Mysql" label="Copy Table" color="green" />
    <q-btn @click="Past_in_Mysql" label="Past Table" color="blue" />
    <q-btn label="Download table as csv" color="grey" />
    <q-btn @click="Delete_table_Mysql" label="Delete table" color="red" />
    <q-btn label="Rename table" color="grey" />
  </div>
  <div v-if="props.propCurrConnTypeName === 'GoogleSheets'">
    <q-btn label="Download sheets file as csv" color="grey" />
  </div>
</template>

<script lang="ts" setup>
import {watch, ref, onBeforeMount} from 'vue'
import { postData } from 'src/app/DbBrowser/myutils'
import DlgConfirm from 'src/app/DbBrowser/components/DlgConfirm.vue'
import AddDataIntoDB from 'src/app/DbBrowser/pages/AddDataIntoDB.vue';

const props = defineProps([
  'propCurrConnTypeName',
  'propConnectorName',
  'propRefreshFn',
  'propCatalog',
  'propConnName',
])
// const currConnTypeName = props.propCurrConnTypeName;
let connectorName = props.propConnectorName;

const catalog = props.propCatalog;
const refreshFn = props.propRefreshFn;

const newKeyName          = ref('');
const newValue            = ref('');
const newKeyValue         = ref('');
const showNewKeyInput     = ref(false);
const showRenameInput     = ref(false);
const showUpdateValue     = ref(false);
const newNodeName         = ref('');
const newNodeValue        = ref('');
const reNodeValue         = ref('');
const showNewNodeInput    = ref(false);
const showRenameNodeInput = ref(false);
const showUpdateNodeValue = ref(false);
const newTopicName        = ref('');
const newMessageValue     = ref('');
const newQueueName        = ref('');
const showNewTopicInput   = ref(false);
const showNewQueueInput   = ref(false);
const showMessageValue    = ref(false);
const sendingDataEnabled  = ref(false);
const showConfirmWindow   = ref(false);
const isModalAddNewDataVisible = ref(false);
const newTTL              = ref('');
const showNewttlInput     = ref(false);

let dlgConfirmText = '';
let dlgConfirmOnOk: any;

watch(() => props.propConnectorName, newValue => {
  console.log('WATCH connectorName', newValue);
  connectorName = newValue;
});

onBeforeMount(() => console.log('////////////////////////////////////////////////////// typeof connectorName', typeof connectorName));


//******************** REDIS *************************************************************
async function delRedisRow(connectorName: string, catalogName: string, schema = 'public') {
  const url = 'redis/';
  const data = {
    action: 'delete',
    rediskey: catalogName,
    connector: connectorName,
    schema: schema
  };
  console.log('del redis key ', data);
  return await postData(url, data);
}

async function addTTL(connectorName: string, catalogName: string, ttl: any, schema = 'public') {
  const url = 'redis/';
  const data = {
    action: 'add_ttl',
    connector: connectorName,
    schema: schema,
    rediskey: catalogName,
    ttl: ttl
  };
  return await postData(url, data);
}

const hideAddDataIntoDB = () => {
  isModalAddNewDataVisible.value = false;
  console.log('Cancel! isModalAddNewDataVisible = ', isModalAddNewDataVisible.value);
};

const addFunc = () => {
  console.log('redis conname', connectorName);
  addTTL(connectorName, catalog.name, newTTL.value)
    .then(refreshFn);
  newTTL.value = '';
  showNewttlInput.value = false;
};

const renameFunc = () => {
  renameRedisRow(connectorName, catalog.name, newKeyName.value)
    .then(refreshFn);
  newKeyName.value = '';
  showRenameInput.value = false;
};

const delFunc = () => {
  dlgConfirmText = 'Delete key `' + catalog.name + '`?';
  dlgConfirmOnOk = () => {
    showConfirmWindow.value = false;
    delRedisRow(connectorName, catalog.name)
      .then(refreshFn)
  };
  showConfirmWindow.value = true;
};

async function renameRedisRow(connectorName: string, catalogName: string, newKeyName: string, schema = 'public') {
  const url = 'redis/';
  const data = {
    action: 'rename',
    rediskey: catalogName,
    connector: connectorName,
    schema: schema,
    key_name: newKeyName,
  };
  console.log('rename redis key ', data);
  return postData(url, data);
}

async function updRedisRow(connectorName: string, catalogName: string, newValue: string, schema = 'public') {
  const url = 'redis/';
  const data = {
    action: 'update',
    rediskey: catalogName,
    connector: connectorName,
    schema: schema,
    new_value: newValue,
  };
  console.log('update value in redis key ', data);
  return postData(url, data);
}

const updFunc = () => {
  updRedisRow(connectorName, catalog.name, newKeyValue.value)
    .then(refreshFn);
  newKeyValue.value = '';
  showUpdateValue.value = false;
};

const toggleNewttlInput = () => {
  showNewttlInput.value = !showNewttlInput.value;
};

const toggleRenameInput = () => {
  showRenameInput.value = !showRenameInput.value;
};

const toggleUpdateInput = () => {
  showUpdateValue.value = !showUpdateValue.value;
};

//************************ ZooKeeper ****************************************************************/
async function delZookeeperRow(connectorName: string, catalogName: string, schema = 'public') {
  const url = 'zookeeper/';
  const data = {
    action: 'delete',
    zoonode: catalogName,
    connector: connectorName,
    schema: schema
  };

  console.log('del zookeeper node ', data);
  return postData(url, data);

}

async function addZookeeperRow(connectorName: string, newNodeName: string, newNodeValue: string, schema = 'public') {
  const url = 'zookeeper/';
  const data = {
    action: 'insert',
    connector: connectorName,
    schema: schema,
    node_name: newNodeName,
    value_node: newNodeValue
  };

  console.log('add zookeeper node ', data);
  return await postData(url, data);
}

const addFuncNode = () => {
  console.log('connectorName = ', connectorName)
  addZookeeperRow(connectorName, newNodeName.value, newNodeValue.value)
    .then(refreshFn);
  newNodeName.value = '';
  newNodeValue.value = '';
  showNewNodeInput.value = false;
};

async function renameZookeeperRow(connectorName: string, catalogName: string, newNodeName: string, schema = 'public') {
  const url = 'zookeeper/';
  const data = {
    action: 'rename',
    zoonode: catalogName,
    connector: connectorName,
    schema: schema,
    node_name: newNodeName,
  };

  console.log('rename zookeeper node ', data);
  return await postData(url, data);
}

async function updZookeeperRow(connectorName: string, catalogName: string, reNodeValue: string, schema = 'public') {
  const url = 'zookeeper/';
  const data = {
    action: 'update',
    zoonode: catalogName,
    connector: connectorName,
    schema: schema,
    new_value: reNodeValue,
  };

  console.log('update value in zookeeper node ', data);
  return await postData(url, data);
}

const delFuncNode = () => {
  dlgConfirmText = 'Delete key `' + catalog.name + '`?';
  dlgConfirmOnOk = () => {
    showConfirmWindow.value = false;
    delZookeeperRow(connectorName, catalog.name)
      .then(refreshFn)
  };
  showConfirmWindow.value = true;
};


const updFuncNode = () => {
  updZookeeperRow(connectorName, catalog.name, reNodeValue.value)
    .then(refreshFn);
  reNodeValue.value = '';
  showUpdateNodeValue.value = false;
};


const renameFuncNode = () => {
  renameZookeeperRow(connectorName, catalog.name, newNodeName.value)
    .then(refreshFn);
  newNodeName.value = '';
  showRenameNodeInput.value = false;
};


const toggleNewNodeInput = () => {
  showNewNodeInput.value = !showNewNodeInput.value;
};

const toggleNodeRenameInput = () => {
  showRenameNodeInput.value = !showRenameNodeInput.value;
};

const toggleNodeUpdateInput = () => {
  showUpdateNodeValue.value = !showUpdateNodeValue.value;
};


//*************************** KAFKA ***************************************************** */
async function addKafkaRow(connectorName: string, newTopicName: string, schema = 'public') {
  const url = 'kafka/';
  const data = {
    action: 'insert',
    connector: connectorName,
    schema: schema,
    topic_name: newTopicName
  };
  console.log('add topic ', data);
  return await postData(url, data);
}

async function delTopicRow(connectorName: string, catalogName: string, schema = 'public') {
  const url = 'kafka/';
  const data = {
    action: 'delete',
    topic_name: catalogName,
    connector: connectorName,
    schema: schema
  };
  console.log('del kafka topic ', data);
  return await postData(url, data);
}

async function sendMessageTopic(connectorName: string, catalogName: string, newMessageValue: string, schema = 'public') {
  const url = 'kafka/';
  const data = {
    action: 'send',
    topic_name: catalogName,
    connector: connectorName,
    schema: schema,
    new_value: newMessageValue
  };
  console.log('send message to topic ', data);
  return await postData(url, data);
}

async function consumeMessageTopic(connectorName: string, catalogName: string, schema = 'public') {
  const url = 'kafka/';
  const data = {
    action: 'consume',
    topic_name: catalogName,
    connector: connectorName,
    schema: schema
  };
  console.log('send message to topic ', data);
  return await postData(url, data);
}

async function sending_data(connectorName: string, catalogName: string, action: boolean, schema = 'public') {
  const url = 'kafka/';
  const data = {
    action: 'data',
    topic_name: catalogName,
    connector: connectorName,
    schema: schema,
    session: action
  };
  console.log('start or stop sending data from binance to kafka', data);
  return await postData(url, data);
}

async function configTopic(connectorName: string, catalogName: string, schema = 'public') {
  const url = 'kafka/';
  const data = {
    action: 'config',
    topic_name: catalogName,
    connector: connectorName,
    schema: schema
  };
  console.log('Topic config ', data);
  return await postData(url, data);
}

const addFuncTopic = () => {
  addKafkaRow(connectorName, newTopicName.value)
    .then(() => setTimeout(refreshFn, 500))
  newTopicName.value = '';
  showNewTopicInput.value = false;
};

const toggleNewTopicInput = () => {
  showNewTopicInput.value = !showNewTopicInput.value;
};

const ConsumeMessage = () => {
  consumeMessageTopic(connectorName, catalog.name)
    .then(refreshFn);
};

const startData = () => {
  sending_data(connectorName, catalog.name, true);
};

const stopData = () => {
  sending_data(connectorName, catalog.name, false);
};

const toggleSendingData = () => {
  if (sendingDataEnabled.value) {
    stopData();
  } else {
    startData();
  }
  sendingDataEnabled.value = !sendingDataEnabled.value;
};

const ConfigTopic = () => {
  configTopic(connectorName, catalog.name)
    .then(refreshFn);
};

const toggleMessageInput = () => {
  showMessageValue.value = !showMessageValue.value;
};

const sendFuncTopic = () => {
  sendMessageTopic(connectorName, catalog.name, newMessageValue.value)
    .then(refreshFn);
  newMessageValue.value = '';
  showMessageValue.value = false;
};

const delFuncTopic = () => {
  dlgConfirmText = 'Delete topic `' + catalog.name + '`?';
  dlgConfirmOnOk = () => {
    showConfirmWindow.value = false;
    delTopicRow(connectorName, catalog.name)
      .then(refreshFn)
  };
  showConfirmWindow.value = true;
};

//************************* Rabbit MQ ****************************************************** */
async function addNewQueue(connectorName: string, newQueueName: string, schema = 'public') {
  const url = 'rabbitmq/';
  const data = {
    action: 'insert',
    connector: connectorName,
    schema: schema,
    queue_name: newQueueName,
  };

  console.log('add new Queue ', data);
  return await postData(url, data);
}


const addQueue = () => {
  addNewQueue(connectorName, newQueueName.value)
    .then(refreshFn)
  newQueueName.value = '';
  showNewQueueInput.value = false;
};

const toggleNewQueueInput = () => {
  showNewQueueInput.value = !showNewQueueInput.value;
};

//************************** POSTGRES *************************************************** */

async function copy_table_from_postgres(connectorName: string, catalogName: string, schema = 'public') {
  const url = 'postgres/';
  const data = {
    action: 'copy',
    table_name: catalogName,
    connector: connectorName,
    schema: schema
  };
  console.log('copy_table', data);
  return await postData(url, data);
}

const Copy_from_Postgres = () => {
    copy_table_from_postgres(connectorName, catalog.name)
  }

async function past_table_in_postgres(connectorName: string) {
  const url = 'postgres/';
  const data = {
    action: 'past',
    connector: connectorName
  };
  console.log('past_model', data);
  return await postData(url, data);
}

const Past_in_Postgres = () => {
    past_table_in_postgres(connectorName)
      .then(refreshFn)
  }

async function delete_postgres_table(connectorName: string, catalogName: string, schema = 'public') {
  const url = 'postgres/';
  const data = {
    action: 'delete',
    table_name: catalogName,
    connector: connectorName,
    schema: schema
  };
  console.log('delete_postgres_table', data);
  return await postData(url, data);
}

const Delete_table_Postgres = () => {
    delete_postgres_table(connectorName, catalog.name)
  }
//************************** MySQL *************************************************** */

async function copy_table_from_mysql(connectorName: string, catalogName: string) {
  const url = 'mysql/';
  const data = {
    action: 'copy',
    table_name: catalogName,
    connector: connectorName
  };
  console.log('copy_table', data);
  return await postData(url, data);
}

const Copy_from_Mysql = () => {
    copy_table_from_mysql(connectorName, catalog.name)
  }

async function past_table_in_mysql(connectorName: string) {
  const url = 'mysql/';
  const data = {
    action: 'past',
    connector: connectorName
  };
  console.log('past_model', data);
  return await postData(url, data);
}

const Past_in_Mysql = () => {
    past_table_in_mysql(connectorName)
      .then(refreshFn)
  }

async function delete_mysql_table(connectorName: string, catalogName: string) {
  const url = 'mysql/';
  const data = {
    action: 'delete',
    table_name: catalogName,
    connector: connectorName
  };
  console.log('delete_mysql_table', data);
  return await postData(url, data);
}

const Delete_table_Mysql = () => {
    delete_mysql_table(connectorName, catalog.name)
  }

//************************** END *************************************************** */


</script>
