<template>
  <q-card>
    <q-card-section class="q-py-xs text-h6">

        {{ pTitle }} <ContentCopy :content="JSON.stringify(props.pJSON)" />
        <q-btn label="ON" @click="showDashboard(true)" />
        <q-btn label="OFF" @click="showDashboard(false)" />
    </q-card-section>
    <q-card-section class="q-py-xs">
      <!-- <JsonViewer sort
        expanded
        :expandDepth="2"
        theme="dark"
        :value="JSONViewerVal"
      /> -->
      <vue-json-pretty v-if="props.pJSON.length < 2"

        showIcon
        theme="dark"
        :height="280"
        :deep="3"
        :showDoubleQuotes="false"
        :showLine="false"
        :data="props.pJSON[0]"
      />
      <template v-else>
        <q-input dense filled borderless v-model="searchWord" input-class="text-right" label="Enter text to search..." class="q-py-sm">
        <template v-slot:append>
          <q-icon v-if="searchWord === ''" name="search" />
          <q-icon v-else name="clear" class="cursor-pointer" @click="searchWord = ''" />
        </template>
      </q-input>
        <q-table
          flat bordered dense virtual-scroll
          style="height: 300px"
          class="my-sticky-dynamic"
          :filter="searchWord"
          :virtual-scroll-sticky-size-start="24"
          :rows-per-page-options="[0]"
          :rows="props.pJSON"
        />
      </template>
    </q-card-section>
  </q-card>
  <PopUpWindow style="z-index: 100;"
    title="Dashboard"
    :size="{ height: 500, width: 600 }"
  >
    <DashBoard />
  </PopUpWindow>




</template>

<script lang="ts" setup>
  import DashBoard from 'src/components/charts/DashBoard.vue'
  import PopUpWindow from './PopUpWindow.vue';
  import { ref, watch } from 'vue';
  import { JsonViewer } from 'vue3-json-source-viewer';
  import 'vue3-json-source-viewer/dist/index.css';
  import ContentCopy from './ContentCopy.vue';

  // Manual https://www.npmjs.com/package/vue-json-pretty
  import VueJsonPretty from 'vue-json-pretty';
  import 'vue-json-pretty/lib/styles.css';
import { currentConnection, postData, useNotify } from '../myutils';
  const { showNotify } = useNotify();
  const searchWord = ref('');
  const props = defineProps([
    'pJSON',
    'pTitle',
  ]);

  const ppDashboard = ref(false);

  const showDashboard = ((active: boolean) => {
    const data = {
      action: 'dashboard',
      active: active,
      connector_id: currentConnection.connector.id
    }

    // postData('postgres/', data)
    //   .then(msg => showNotify('Ok!', 'positive'))
    //   .catch(err => {
    //     console.log('[ERR] Dashboard action error: ', err);
    //     showNotify('Err! Show console log', 'negative')
    //   })
  })


  watch(props.pJSON, (newVal) => {
    console.log('ConnInfoCard new pJSON ', newVal)
    searchWord.value = '';
  }, { deep: true });
</script>




