<template>
    <q-icon  class="myclass"  name="content_copy" @click.stop="onCopy" />
  <!-- <q-badge class="myclass" color="blue" @click.stop="onCopy">
    <q-icon name="content_copy" color="white" />
  </q-badge> -->
  <!-- {{ props.content }} -->
  <slot></slot>
</template>
]
<script setup lang="ts">
import { copyToClipboard } from 'quasar'
import { useNotify } from '../myutils';

const { showNotify } = useNotify();

const props = defineProps(['content']);

const onCopy = () => {
  copyToClipboard(props.content)
    .then(() => {
      // success!
      showNotify('Copied!', 'positive', 1000);

    })
    .catch(() => {
      // fail
      showNotify('FAIL copy to clipboard!', 'negative', 1000);

    })
}

</script>

<style>
  .myclass {
    opacity: 20%;
  }
  .myclass:hover {
    opacity: 100%;
  }
</style>
