<template>
  <div class="q-pa-xs">
    <q-btn size="sm" color="purple" :label="'Fields (' + visibleColumns.length + '/' + columns.length + ')'">
      <q-menu>
        <div class="column no-wrap q-pa-xs">
          <div v-for="column in columns" :key="column.name">
            <q-checkbox v-model="visibleColumns" :label="column.name" :val="column.name"
              @update:model-value="setLocalStor(visibleColumns)" />
          </div>
        </div>
      </q-menu>
    </q-btn>
    <q-input dense filled borderless v-model="searchWord" input-class="text-right"  label="Enter text to search..." class="q-py-sm">
      <template v-slot:append>
        <q-icon v-if="searchWord === ''" name="search" />
        <q-icon v-else name="clear" class="cursor-pointer" @click="searchWord = ''" />
      </template>
    </q-input>
    <q-select
      dense
      filled
      multiple
      options-dense
      class="q-pb-sm"
      style="width: 100%"
      label="Select schemes..."
      v-model="schemaSel"
      :options="schemaSelOptions"
    >
      <template v-slot:append>
        <q-icon v-if="schemaSel.length > 0" name="close" @click.stop.prevent="schemaSel = []" class="cursor-pointer" />
      </template>
    </q-select>
    <!-- style="max-height: 80vh;" -->
    <!-- :rows="isSystemView ? props.myrows : props.myrows.filter(i => !i['system'])" -->
    <q-table flat bordered dense virtual-scroll
      style="height: 500px"
      class="my-sticky-dynamic"

      :columns="columns"
      :filter="searchWord"
      :title="mytitle"
      :rows-per-page-options="[0]"
      :row-key=myrowkey
      :rows="getFilteredRows()"
      :loading="loadState"
      :visible-columns="visibleColumns"
      @row-click="myclick"
      @row-dblclick="mydblclick"
      >
      <template v-if="myicon !== undefined" v-slot:top>
        <q-icon :name="myicon" size="sm" />
        <div class="q-ml-sm text-h6">
          {{ mytitle }}
        </div>
        <q-space />
        <q-checkbox dense v-if="viewSystem !== undefined" v-model="isSystemView" label="sys table" />
        <div class="q-ml-sm">
          <q-btn dense :loading="loadState" icon="refresh" size="sm" @click="myrefresh('catalog', true)" />
          <q-btn dense :disable="loadState" icon="science" size="sm" @click="myscience('catalog', 'check_gaps')" />
          <q-btn dense :disable="loadState" icon="settings" size="sm" @click="extrainfo('table', 'default')" />
        </div>

      </template>
      <template v-if="true" v-slot:body-cell-mycol="props">
        <q-td :props="props">
          <q-icon :name="'img:' + dbConnectors[props.row['type_name']].icon" size="xs" />
        </q-td>
      </template>
    </q-table>


    <!--     <SimpleTable-->
    <!--      :inputData="isSystemView ? myrows : myrows.filter(i => !i['system'])"-->
    <!--      :model='model'-->
    <!--    />-->
  </div>
</template>

<script setup>

import { ref, watch, onMounted } from 'vue';
// import { searchCatalog } from '../myutils';
import { dbConnectors } from '../DbConnectorsList';

// import SimpleTable from 'components/Table/Table2CurrentSimple.vue';
import { TableColumnModelType } from 'components/Table/Types/TableColumnType';
import { useQuasar } from 'quasar';
import { currentConnection } from '../myutils';

const props = defineProps({
  loadState: Boolean,
  storedKeyName: String,
  myrowkey: String,
  mytitle: String,
  myicon: String,
  myrows: Array,
  mycolumns: Array,
  myclick: Function,
  mydblclick: Function,
  myrefresh: Function,
  myscience: Function,
  extrainfo: Function,
  viewSystem: Boolean,
});

// const schemaSelOptions = ref(['Google', 'Facebook', 'Twitter', 'Apple', 'Oracle'])
const schemaSelOptions = ref([])
const schemaSel = ref([])


onMounted(() => {
  // console.log('#######################', props.myrows)
});

//////////////////////////////////////////////////////////////////////////
const columns = ref(extractColumns());
const visibleColumns = ref(getVisibleColumns());
const model = [
  new TableColumnModelType('name', 'string'),
  new TableColumnModelType('schema', 'string'),
  new TableColumnModelType('type', 'string'),
  new TableColumnModelType('system', 'boolean')
];
const getFilteredRows = () => {

  // const result = schemaSel.value.length === 0
  //   ? isSystemView.value
  //       ? props.myrows
  //       : props.myrows.filter(item => !item['system'])
  //   : props.myrows.filter(row => schemaSel.value.includes(row.schema))
  const resSys = isSystemView.value
        ? props.myrows
        : props.myrows.filter(item => !item['system'])

  const result = schemaSel.value.length === 0
    ? resSys
    : resSys.filter(row => schemaSel.value.includes(row.schema))


  return result;
}

const getSchemes = () => {
  if (!props.myrows) return [];
  // const uniqSchemes = new Set(answCatalog.value.filter(item => !item['system']).map(item => item['schema']));
  const uniqSchemes = new Set(props.myrows.map(item => item['schema']));
  // const res = Array.from(uniqSchemes).map(item => ({ schema: item }));
  const res = Array.from(uniqSchemes);
  return res;
};

watch(() => props.myrows, updateColumns);

const isSystemView = ref(props.viewSystem)


const searchWord = ref('')
// const rows = ref(props.myrows)

//isSystemView,


// searchCat(word) {
//   searchCatalog(word)
//     .then((val) => {
//       console.log('SEARCH SEND OK!', word)
//       this.rows = val;
//     })
//     .catch(() => {
//       console.log('SEARCH SEND FAULT!', word)
//     })

// },
const tableFilter = () => {
  console.log('Filter val ')
  return 'redis';
}
const setLocalStor = (val) => {
  if (val === null) return;
  localStorage.setItem(props.storedKeyName, JSON.stringify(val))
}

function getVisibleColumns() {
  // console.info('visible columns', props.myrows)
  if (props.myrows.length === 0) return []
  let visColStore = JSON.parse(localStorage.getItem(props.storedKeyName));
  if (visColStore === null) {
    visColStore = Object.keys(props.myrows[0]);
    setLocalStor(visColStore);
  }
  return visColStore;
}

function extractColumns() {
  if (props.myrows.length === 0) {
    return [];
  }
  const result = props.mycolumns.length === 0
    ? Object.keys(props.myrows[0]).map(name => ({
      align: 'left',
      name: name,
      label: name,
      field: name
    }))
    : props.mycolumns;
  return result;
}

function updateColumns() {
  // rows.value = props.myrows;
  searchWord.value = '';
  schemaSel.value = [];
  schemaSelOptions.value = getSchemes();
  columns.value = extractColumns();
  visibleColumns.value = getVisibleColumns();
}

</script>
