<template>
  <div
    :ref="tableWrapperRef"
    style=" height: 1%; width: 100%"
    >
     <SimpleTable
      :inputData='myrows'
      :model='model'
      :wrapperDom="asDomElement"
      :darkMode='idDarkMode'
       resizeXEvent="DatabaseTableViewResizeX"
       resizeYEvent="DatabaseTableViewResizeY"
      :settings='getUniqueSettingsForTableView()'
    />
  </div>
</template>

<script lang="ts">
import SimpleTable from 'components/Table/Table2Current.vue'
// import SimpleTable from 'components/Table/Table3FixedColumns.vue'
import { TableColumnModelType } from 'components/Table/Types/TableColumnType';
import { getPressedKey } from 'components/system/ActionWrapper.vue';
import {useQuasar} from 'quasar';
import {getSettingsForTableView} from 'components/Table/Types/TableSettingsType';
import {RecordInterface} from 'src/app/DbBrowser/interfaces/general';
import {PropType} from 'vue';
import { InputDataType } from 'components/Table/Types/TableViewType';
import {$$} from 'src/system/utils'

const connVariants = {
        postgres: {
          isEdit: false
        },
        redis: {
          isEdit: true
        }};

  export default {
    name: 'VirtCard2Sergii',
      components: {
      SimpleTable
    },
    props: {
      loadState: Boolean,
      columns:  Array,
      resourceName: String,
      myrowkey: String,
      mytitle:  String,
      myrows:{ type: Array as PropType<InputDataType>, required: true },
      mydblclick: Function,
      delFunc:    Function,
      connVariant: String,
      // controller: Object
    },
    methods: {
      getUniqueSettingsForTableView() {
        const resourceName = this.resourceName || '__empty__';
        // console.log('########### resourceName::', resourceName)
        let resourceSetting = this.tabHash[resourceName];
        if (!resourceSetting) {
            resourceSetting = getSettingsForTableView()
            this.tabHash[resourceName] = resourceSetting;
        }
        return resourceSetting;
      },
      // isEdit() {
      //   return connVariants[this.connVariant].isEdit;
      // },
      getPressedKey() { return getPressedKey },
      asDomElement() {
        // const xx = this.controller.getWrapperInfo();
        // return this.$refs[this.tableWrapperRef] as HTMLElement;
      }
    },
    computed: {
      model() {
          return this.columns.map((it: any) => {
            return new TableColumnModelType(it.label, 'string'); });
      },
      idDarkMode() {
        return this.$q.dark.isActive;
      }
    },
    data() {
      return {
        tableWrapperRef: $$.uniqueId('tabWrap'),
        // tableWrapperDom='asDomElement'
        $q: useQuasar(),
        tabHash: {}
      }
    }
  };
</script>
