<template>
  <div class="q-pa-xs">
    <q-btn
      size="md"
      color="purple"
      :label="'Fields (' + visibleColumns.length + '/' + columns.length + ')'"
    >
      <q-menu>
        <div class="column no-wrap q-pa-xs">
          <div v-for="column in columns" :key="column.name">
            <q-checkbox :label="column.name" v-model="visibleColumns" :val="column.name"
              @update:model-value="setLocalStor(visibleColumns)" />
          </div>
        </div>
      </q-menu>
    </q-btn>

    <!-- style="max-height: 80vh;" -->

     <SimpleTable
          :inputData="isSystemView ? myrows : myrows.filter(i => !i['system'])"
          :model='model'
          @click='onClick($event)'
        />

      <q-table flat bordered dense
           :columns="columns"
           :title="mytitle"
           :rows-per-page-options="[0]"
           :row-key=myrowkey
           :rows="isSystemView ? myrows : myrows.filter(i => !i['system'])"
           :visible-columns="visibleColumns"
           :loading="loadState"
           @row-click="myclick"
           @row-dblclick="mydblclick">
         </q-table>


<!--           @xclick='xmyclick($event)'-->
<!--        <template v-if="myicon != undefined" v-slot:top>-->
<!--          <q-icon :name="myicon" size="md" />-->
<!--          <div class="q-ml-md text-h6" >-->
<!--            {{ mytitle }}-->
<!--          </div>-->
<!--          <q-space />-->
<!--          <q-checkbox v-if="viewSystem != undefined"-->
<!--            v-model="isSystemView" label="sys table" />-->
<!--          <q-icon name="refresh" size="md" @click="myrefresh" />-->
<!--        </template>-->
<!--        <template v-if="true" v-slot:body-cell-mycol="props">-->
<!--          <q-td :props="props">-->
<!--            <q-icon :name="'img:'+ dbConnectors[dbConnectors.connTypeNames[props.row['type_id']]].icon" size="xs"/>-->
<!--          </q-td>-->
<!--        </template>-->

<!--      </q-table>-->

  </div>
</template>

<script lang="js">

import { ref } from 'vue';
import { dbConnectors } from '../DbConnectorsList';

import SimpleTable from 'components/Table/Table2Current.vue'
import { TableColumnModelType } from 'components/Table/Types/TableColumnType';
import {useQuasar} from 'quasar';
// import { CatalogRecord } from 'src/app/DbBrowser/interfaces/general';

export default {
  name: 'DatabaseCatalogView',
  components: {SimpleTable},
  props: {
    loadState: Boolean,
    storedKeyName: String,
    myrowkey: String,
    mytitle: String,
    myicon: String,
    myrows: Array,
    mycolumns: Array,
    myclick: Function,
    mydblclick: Function,
    myrefresh: Function,
    viewSystem: Boolean,
  },
  mounted() {
    console.log('#######################', this.myrows);
  },
  data() {
    return {
      columns: this.extractColumns(),
      visibleColumns: this.getVisibleColumns(),
      model: [
          new TableColumnModelType('name', 'string'),
          // new TableColumnModelType('schema', 'string'),
          new TableColumnModelType('type', 'string', 'type', {'style': {'color':'#EFABEF','text-align': 'right'}}),
          new TableColumnModelType('read_only', 'boolean')
      ],
    };
  },
  watch: {
    myrows: 'updateColumns',
  },
  setup(props) {
    const isSystemView = ref(props.viewSystem)
    return {
      isSystemView,
      dbConnectors
    }
  },
  methods: {
    tableFilter() {
      console.log('Filter val ')
      return 'redis';
    },
    onClick(data) {
      // console.log('DatabaseCatalogViewSergii.vue ############## onClick DATA::', data)
      console.log('DatabaseCatalogViewSergii.vue ############## onClick ROW DATA::', {...data.row.data})
      const catalogData = {...data.row.data};  // as CatalogRecord;
      this.myclick(null, catalogData);
    },
    setLocalStor(val) {
      if (val === null) return;
      localStorage.setItem(this.storedKeyName, JSON.stringify(val))
    },

    getVisibleColumns() {
      if (this.myrows.length === 0) return []
      let visColStore = JSON.parse(localStorage.getItem(this.storedKeyName));
      if (visColStore === null) {
        visColStore = Object.keys(this.myrows[0]);
        this.setLocalStor(visColStore);
      }
      return visColStore;
    },

    extractColumns() {
      if (this.myrows.length === 0) {
        return [];
      }
      const result = this.mycolumns.length === 0
                  ? Object.keys(this.myrows[0]).map(name => ({
                      name: name,
                      label: name,
                      field: name
                    }))
                  : this.mycolumns;
      return result;
    },
    updateColumns() {
      this.columns = this.extractColumns();
      this.visibleColumns = this.getVisibleColumns();
    },
  },
};
</script>
