<template>
  <q-splitter horizontal
    v-model="sizeTable"
    unit="px"
    :separator-style="{ backgroundColor: '#1976D2', minHeight: '6px' }"
  >
    <AddDataIntoDB
      :prop-visible="isModalAddNewDataVisible"
      :url="'redis/'"
      :action="'insert'"
      :connector="dlgTitle"
      :schema="'public'"
      :delete-button-visible="true"
      @hide-add-data="hideAddDataIntoDB"
    />
    <template v-slot:before>
      <template v-if="tableType === 'json'">
        <div class="row q-py-xs q-pl-md text-h6">
          {{ jsonTableRow.key }}
          <div class="q-pl-xs">
            <ContentCopy :content="JSON.stringify(jsonTableRow.val)" />
          </div>

          <q-space />
          <div class="q-pr-md">

            <q-btn dense :loading="props.loadState" icon="refresh" size="sm" @click="myrefresh('fetch', true)" />
            <q-btn dense :disable="props.loadState" icon="science" size="sm" @click="myscience('table', 'check_gaps')" />
            <q-btn dense :disable="props.loadState" icon="settings" size="sm" @click="extrainfo('table', 'default')" />
          </div>
        </div>
          <vue-json-pretty
          virtual
          showIcon
          theme="dark"
          :height="350"
          :deep="3"
          :showDoubleQuotes="false"
          :showLine="false"
          :data="jsonTableRow.val"
          />
      </template>
      <template v-else-if="tableType === 'single'">
        <!-- <table>
          <tr v-for="(val, key) in singleTableRow" v-bind:key>
            <td>{{ key }}</td><td>{{ val }}</td>
          </tr>
        </table> -->
        <VirtCard
          style="height: 390px"
          :visiblecolumns="getVisibleColumns()"
          :columns="props.columns"
          :loadState="loadState"
          :mytitle="mytitle"
          :row-key=myrowkey
          :rows="myrows"
          :row-dblclick="mydblclick"
          :row-click="onSelectRow"
          :myrefresh="myrefresh"
          :myscience="myscience"
          :extrainfo="extrainfo"
          :isedit="isEdit"
        />
      </template>
      <template v-else>
        <VirtCard
          style="height: 390px"
          :columns=props.columns
          :visiblecolumns="getVisibleColumns()"
          :loadState="loadState"
          :mytitle="mytitle"
          :row-key=myrowkey
          :rows="myrows"
          :row-dblclick="mydblclick"
          :row-click="onSelectRow"
          :myrefresh="myrefresh"
          :myscience="myscience"
          :extrainfo="extrainfo"
          :isedit="isEdit"
        />
      </template>

    </template>
    <template v-slot:separator>
      <q-icon size="30px" name="sym_o_more_horiz" />
    </template>
    <template v-if="true" v-slot:after>
      <div class="q-pa-md">
        <ConnInfoCard v-if="rowIsJSON" :pJSON="pJSON" pTitle="JSON!!!" />
        <!-- <div v-if="!rowIsJSON" class="q-gutter-y-md" style="max-width: 800px"> -->
        <div v-else class="q-gutter-y-md">
            <q-tabs
              v-model="tab"
              dense
              active-color="primary"
              indicator-color="primary"
            >
              <q-tab name="nv_spline" label="Spline"></q-tab>
              <q-tab name="nv_area" label="Area"></q-tab>
              <q-tab name="nv_candles" label="Candles"></q-tab>
<!--              <q-tab name="nv_binance" label="Binance"></q-tab>-->
            </q-tabs>
            <q-tab-panels v-model="tab" animated>
              <q-tab-panel name="nv_spline">
                <nvCandles
                  :chartsModel="chartNVModelSpline"
                  :chartsData="chartNVCandle"
                  :chartsTypes="[{type: 'Spline', mainField: 'Close' }]" />
              </q-tab-panel>
              <q-tab-panel name="nv_area">
                <nvCandles
                  :chartsModel="chartNVModelArea"
                  :chartsData="chartNVCandle"
                  :chartsTypes="[{type: 'Area', mainField: 'High' }]" />
              </q-tab-panel>
              <q-tab-panel name="nv_candles">
                <nvCandles
                  :chartsModel="chartNVModelCandles"
                  :chartsData="chartNVCandle"
                  :chartsTypes="chartNVTypes" />
              </q-tab-panel>
<!--              <q-tab-panel name="nv_binance">-->
<!--                <nvCandles-->
<!--                  :chartsData="testBinancepJson"-->
<!--                  :chartsTypes="[{ type: 'Candles', mainField: '' }]" />-->
<!--              </q-tab-panel>-->
            </q-tab-panels>
          </div>
        </div>
    </template>
  </q-splitter>
</template>

<script setup>
import { defineComponent, ref, watch, onMounted,  reactive } from 'vue';
import { $$ } from 'src/system/utils'
import {getExtraInfo, isJSON, WebDBUniqIndex} from 'src/app/DbBrowser/myutils';
import ConnInfoCard from './ConnInfoCard.vue';
import nvCandles from 'components/charts/nvCandles.vue';
import { testBinanceWSData } from 'src/app/DbBrowser/myutils';
import ContentCopy from './ContentCopy.vue'
import { registerWebsocketListener } from 'src/components/system/ws-wrapper';
import AddDataIntoDB from 'src/app/DbBrowser/pages/AddDataIntoDB.vue';
import VirtCard from './VirtCard.vue';
import { dbConnectors } from '../DbConnectorsList';
import VueJsonPretty from 'vue-json-pretty';
import 'vue-json-pretty/lib/styles.css';


const props = defineProps([
  'loadState',
  'columns',
  'resourceName',
  'myrowkey',
  'mytitle',
  'myrows',
  'connVariant',
  'mydblclick',
  // delFunc:     Function, //удаление через пиктограммы. Отключено т.к. МАкс сделал отдельный блок кнопок
  'myrefresh',
  'myscience',
  'extrainfo'
]);


const sizeTable = ref(400);
const tab = ref('nv_spline');
// const chartNVCandle = ref([]);
const chartNVCandle = ref(null);
const rowIsJSON = ref(false);
const pJSON = ref(null);
const testBinancepJson = ref([]);
const isModalAddNewDataVisible = ref(false);
const dlgTitle = props.mytitle;
const tableType = ref('');
let singleTableRow = ref([{}]);
const jsonTableRow = reactive({});
// let  jsonTableRow = ref({});

// selector
// registerWebsocketListener('selector', (data) => {
//   console.log('!!!!!!!!!!!! WS data = ', data);
// })
const connVariants = {
  Postgres: { isEdit: false },
  Redis: { isEdit: true },
};

const chartNVTypes = [
  { type: 'Candles', mainField: '' },
  //{type: 'Spline',  mainField: 'Open' },
  //{type: 'Area',    mainField: 'High' },
];

const chartNVModelSpline = ref(['timestamp', 'close']);

const chartNVModelCandles = ref([
  'timestamp',
  'open',
  'high',
  'low',
  'close',
  'volume'
]);

//   const chartNVModelCandles = ref( [
//         'Open time',
//         'Open',
//         'High',
//         'Low',
//         'Close',
//         'Volume'
// ]);

const chartNVModelArea = ref(['timestamp', 'close']);

const isEdit = () => {
  return props.connVariant.length > 0 ? dbConnectors[props.connVariant].isEdit : false;
};

const getTableType = () => {
  // console.log('INPUT DATA ROWS = ', props.myrows);

  const rowsLength = props.myrows.length;
  if (rowsLength > 1) return 'table'
  if (rowsLength === 1) {
    const columns = Object.keys(props.myrows[0]).filter(key => key !== WebDBUniqIndex)
    const colLength = columns.length;
    // console.log('table type = ', columns);
    if (colLength > 1) {
      singleTableRow.value[0] = props.myrows[0];
      return 'single'
    }
    if (colLength === 1)
      if (isJSON(props.myrows[0][columns[0]])) {
        // console.log('!!!JSON ', JSON.parse(props.myrows[0][columns[0]]))
        jsonTableRow['key'] = columns[0];
        jsonTableRow['val'] = JSON.parse(props.myrows[0][columns[0]]);

        // console.log('jsonTableRow=', jsonTableRow)
        return 'json';
      } else {
        singleTableRow.value[0] = props.myrows[0];
        return 'single'
      }
  }
  return ''
};

const getVisibleColumns = () => {
  // console.log('props columns = ', props.columns)
  // const result = props.columns.filter(item => item !== WebDBUniqIndex);
  const result = (props.myrows.length === 0)
    ? []
    : props.columns.map(item => item['name']);
  // const result = (props.myrows.length === 0)
  //   ? []
  //   : Object.keys(props.myrows[0])
  //     .filter(item => item !== WebDBUniqIndex);

  return result;
};

// watch(props.myrows, () => console.log('myrows change!!!!!!!!!!!!!!!!'), { deep: true });

const transformToGrap = (record) => {
  if (record['timestamp']) {
    if ($$.isString(record['timestamp'])) {
      record['date'] = record['timestamp'];
      record['timestamp'] = $$.datestrAsInt(record['timestamp']);
      if (isNaN(record['timestamp'])) {
        record['timestamp'] = record['date'] * 1000;
      }
    } else {
      record['timestamp'] = record['timestamp'] * 1000;
    }
  }
  return record;
}

const getDataForCharts = () => {
  tableType.value = getTableType();
  // console.log('get new chartdata', getTableType())
  // console.log('prps.row chartdata', )

  chartNVCandle.value = getAdaptationChartData(props.myrows);
  // chartNVCandle.value = props.myrows.map(item => transformToGrap(item));

  chartNVModelSpline.value = ['timestamp', 'close']
  rowIsJSON.value = false;
};

const getAdaptationChartData = (rawData) => {
  const row = rawData[0];
  if (!row) return rawData;
  // console.log('verify timestamp', row);
  if (row['timestamp']) {
    if (row['timestamp'].length === 13) {
      if (row['date']) {
        return rawData;
      }
      return rawData.map(item => { item['date'] = (new Date(+item['timestamp'])).toISOString(); return item })
    } else {
      if ((new Date(row['timestamp'])).getTime() > 0) {
        return rawData.map(item => {
          item['date'] = (new Date(item['timestamp'])).toISOString();
          item['timestamp'] = (new Date(item['timestamp'])).getTime();
          return item
        })
      }

      if (row['date']) {
        return rawData.map(item => { item['timestamp'] *= 1000; return item });
      }
      return rawData.map(item => {
        item['date'] = (new Date(+item['timestamp'] * 1000)).toISOString();
        item['timestamp'] *= 1000;
        return item
      })
    }
  }
  return rawData;
}

watch(() => props.myrows, getDataForCharts);

// watch(() => props.columns, (newVal) => console.log('New columns=', newVal), { deep: true })


watch(() => testBinanceWSData, (newVal) => {
  console.log('CHANGE BINANCE ', newVal.value);
  const testBinanceJSONLength = testBinancepJson.value.length;
  if (testBinanceJSONLength === 0) {
    testBinancepJson.value.push(newVal.value);
    return;
  }
  const lastTimestamp = testBinancepJson.value[testBinanceJSONLength - 1]['Open time'];
  if (lastTimestamp === newVal.value['Open time']) {
    console.log('timestmap === last element', testBinancepJson.value[testBinanceJSONLength - 1]);
    testBinancepJson.value[testBinanceJSONLength - 1] = newVal.value;
  } else {
    testBinancepJson.value.push(newVal.value);
  }

  console.log('Binance arr = ', testBinancepJson.value);

}, { deep: true });

const onSelectRow = (e, r, i) => {
  if (isJSON(e.target.innerText)) {
    console.log('is JSON');
    pJSON.value = JSON.parse(e.target.innerText);
    rowIsJSON.value = true;
  } else {
    console.log('is !JSON')
    pJSON.value = null;
    rowIsJSON.value = false;
  }
  // console.log('row ', r, ' index = ', i)
  // console.log('EVENT ', JSON.parse(e.target.innerText))
};

const hideAddDataIntoDB = () => {
  isModalAddNewDataVisible.value = false;
  console.log('Cancel! isModalAddNewDataVisible = ', isModalAddNewDataVisible.value);
  console.log('PROPS //////////////////////////////////////////////////', props.myrows[0]);
};


</script>

<!-- <style lang="sass">
.my-sticky-dynamic
  /* height or max-height is important */

  // max-height: 75vh

  .q-table__top.body--dark,
  .q-table__bottom.body--dark,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #888

  thead tr th
    position: sticky
    z-index: 1
  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 24px
  thead tr:first-child th
    top: 0

  /* prevent scrolling behind sticky top row on focus */
  tbody
    /* height of all previous header rows */
    scroll-margin-top: 24px
</style> -->

<!--<i class="q-icon notranslate material-icons" aria-hidden="true" role="presentation" style="font-size: 32px;">refresh</i>-->
