<template>
  <q-dialog v-model="visible">
    <q-card  style="width: 400px;">
      <q-card-section>
          <slot></slot>
      </q-card-section>
      <q-separator />
      <q-card-actions align="right">
        <SimpleButton v-if="props.onOk" :title="props.nameOk || 'Ok'" color="primary" :onClick="props.onOk" v-close-popup></SimpleButton>
        <SimpleButton v-if="props.onCancel" :title="props.nameCancel || 'Cancel'" color="secondary" :onClick="props.onCancel" v-close-popup></SimpleButton>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup>

import SimpleButton from './SimpleButton.vue';

const props = defineProps({
  nameOk: String,
  nameCancel: String,
  onOk: Function,
  onCancel: Function,
})

const visible = defineModel('visible', { default: false });

</script>
