<template>
  <q-dialog v-model="visible" backdrop-filter="blur(4px)">
    <div role="dialog" aria-labelledby="modalTitle" aria-describedby="modalDescription">
      <q-card style="width: 400px; height: 300px">
        <q-card-section class="text-center">
          <div class="text-h5 q-mb-lg">Login</div>
          <q-form class="q-mt-lg" @submit.prevent="login">
            <q-input v-model="loginForm.user" class="text-h6 q-mb-md" filled type="text" label="User" />
            <q-input v-model="loginForm.password" class="text-h6 q-mb-md" filled :type="isPwd ? 'password' : 'text'"
              label="Password">
              <template v-slot:append>
                <q-icon :name="isPwd ? 'visibility_off' : 'visibility'" class="cursor-pointer"
                  @click="isPwd = !isPwd" />
              </template>
            </q-input>

            <q-card-actions class="q-mt-lg" align="center">
              <SimpleButton title="LOGIN" type="submit" color="primary" class="q-mr-lg" v-close-popup />
              <SimpleButton title="CANCEL" color="negative" class="q-mr-lg" v-close-popup />
            </q-card-actions>

          </q-form>
        </q-card-section>
      </q-card>
    </div>
  </q-dialog>
</template>

<!-- <script lang="ts"> -->
<script setup>
import { ref, defineModel } from 'vue';
import { postLogin, isLogin, useNotify } from '../myutils';
import SimpleButton from 'src/app/DbBrowser/components/SimpleButton.vue';

const { showNotify } = useNotify();

const props = defineProps({
  propActionAfterLogin: Function
})

const visible = defineModel('visible', { default: false });

const loginForm = ref({
  user: 'kostya@example.com',
  password: 'sdfawFWE',
});

const isPwd = ref(true);

const login = () => {
  const { user, password } = loginForm.value;
  postLogin(user, password).then(val => {
    showNotify('Login OK!', 'positive', 1000);
    setTimeout(()=>{
      props.propActionAfterLogin();
      isLogin.value = true;
    }, 500)
  }).catch((err) => {
    console.log('!!!!ERROR Login error: ', err.response.data);
    showNotify('Error login! See console log', 'negative');

  })

};


</script>
