<template>
  <q-dialog v-model="logoutFormVisible">
    <div role="dialog" aria-labelledby="modalTitle" aria-describedby="modalDescription">
      <q-card style="width: 400px; height: 200px">
        <q-card-section  class="text-center">
          <div class="text-h5 q-mb-xl q-mt-lg">Are you sure you want to log out?</div>
          <q-card-actions class="q-mt-lg" align="center" >
            <SimpleButton title="LOGOUT" :onClick="doLogout" color="primary" class="q-mr-lg"></SimpleButton>
            <SimpleButton title="CANCEL" :onClick="cancelLogout" color="negative" class="q-mr-lg"></SimpleButton>
          </q-card-actions>
        </q-card-section>
      </q-card>
    </div>
  </q-dialog>
</template>

<script lang="ts">
import SimpleButton from './SimpleButton.vue';
import { userLogout } from 'src/app/DbBrowser/myutils'
import { ref , watch, onBeforeMount} from 'vue';

export default {
  name: 'DlgLogout',
  props: {
    propVisible: Boolean,
  },
  components: {
    SimpleButton,
  },
  setup(props: { propVisible: boolean; }) {
    const logoutFormVisible = ref(false);
    const updVisibleState = () => {
        logoutFormVisible.value = props.propVisible;
        console.log('DLG LOGOUT methods');
    };

    watch(() => props.propVisible, updVisibleState);

    onBeforeMount(() => {
      logoutFormVisible.value = props.propVisible;
      // console.log('DLG LOGIN BeforeMount: ', props.propVisible);
    });

    const doLogout = () => {
      userLogout().then(response => {
        console.log('Log out')
      });
      logoutFormVisible.value = false;
    }

    const cancelLogout = () => {
      logoutFormVisible.value = false;
      console.log('Cancel logout button! ');
    };

    return {
      logoutFormVisible,
      doLogout,
      cancelLogout,
    }
  }
}
</script>

<style scoped>

</style>
