<!-- src/components/MyCard.vue -->
<template>
    <q-card class="my-card" :style="{ width: cardWidth + 'px', height: cardHeight + 'px', transform: `translate(${cardX}px, ${cardY}px)` }">
      <q-bar class="drag-handle" @mousedown="startDrag">
            Windows1
            <q-space/>
            <q-icon name="minimize" @click="minimizeWindow" class="control-icon"></q-icon>
            <q-icon name="crop_square" @mousedown.stop.prevent="startResize" class="control-icon"></q-icon>
            <q-icon name="close" @click="closeWindow" class="control-icon"></q-icon>
      </q-bar>
      <q-card-section>
          <div class="text-h6">View</div>
        </q-card-section>

        <q-card-section class="q-pt-none" :v-if="cardDialogText">
          <table border="1">
            <tr>
              <th>Field name</th>
              <th>Value</th>
            </tr>
            <tr v-for="(val, name) in cardDialogText" :key="name">
              <td>{{ name }}</td><td>{{ val }}</td>
            </tr>
          </table>
        </q-card-section>
    </q-card>
  </template>
  
  <script>
  export default {
    data() {
      return {
        isDragging: false,
        isResizing: false,
        dragStartX: 0,
        dragStartY: 0,
        cardStartWidth: 0,
        cardStartHeight: 0,
        cardWidth: 300,
        cardHeight: 300,
        cardX: 150,
        cardY: 150,
        cardDialogText: {},
      };
    },
    methods: {
      startDrag(event) {
        this.isDragging = true;
        this.dragStartX = event.clientX - this.cardX;
        this.dragStartY = event.clientY - this.cardY;
  
        document.addEventListener('mousemove', this.handleDrag);
        document.addEventListener('mouseup', this.stopDrag);
      },
      handleDrag(event) {
        if (this.isDragging) {
          this.cardX = event.clientX - this.dragStartX;
          this.cardY = event.clientY - this.dragStartY;
        }
      },
      stopDrag() {
        this.isDragging = false;
        document.removeEventListener('mousemove', this.handleDrag);
        document.removeEventListener('mouseup', this.stopDrag);
      },
      startResize() {
        this.isResizing = true;
        this.cardStartWidth = this.cardWidth;
        this.cardStartHeight = this.cardHeight;
  
        document.addEventListener('mousemove', this.handleResize);
        document.addEventListener('mouseup', this.stopResize);
      },
      handleResize(event) {
        if (this.isResizing) {
          const offsetX = event.clientX - this.dragStartX;
          const offsetY = event.clientY - this.dragStartY;
  
          this.cardWidth = Math.max(50, this.cardStartWidth + offsetX);
          this.cardHeight = Math.max(50, this.cardStartHeight + offsetY);
        }
      },
      stopResize() {
        this.isResizing = false;
        document.removeEventListener('mousemove', this.handleResize);
        document.removeEventListener('mouseup', this.stopResize);
      },
      minimizeWindow() {
        // Добавьте обработчик сворачивания окна
        console.log('Minimize window');
      },
      closeWindow() {
        // Добавьте обработчик закрытия окна
        console.log('Close window');
      },
    },
  };
  </script>
  
  <style scoped>
  .my-card {
    position: absolute;
    user-select: none;
    border-radius: 10px;
    border: 2px solid #007bff; /* Граница окна */
  }
  
  .card-content {
    padding: 20px;
  }
  
  .drag-handle {
    cursor: move;
    background-color: #007bff; /* Синий цвет */
    height: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    color: #000; /* Черный цвет шрифта */
  }
.control-icon {
    cursor: pointer;
    display: flex;
    gap: 5px;
  }
  </style>
  