<template>
    <q-layout view="lHh lpr lFf" container
              :style=widowStyle
              class="shadow-2 rounded-borders">
        <q-header elevated>
          <q-bar class="q-electron-drag">
            <q-icon name="laptop_chromebook" />
            <div>{{title}}</div>

            <q-space />

            <q-btn dense flat icon="minimize" @click="minimize" />
            <q-btn dense flat icon="crop_square" @click="toggleMaximize" />
            <q-btn dense flat icon="close" @click="closeApp" />
            <q-btn dense flat icon="link" @click="asWindow" />

          </q-bar>
        </q-header>

        <q-page-container>
          <q-page class="q-pa-md">
              YES - Lorem ipsum dolor sit amet consectetur adipisicing elit.
              voluptates asperiores pariatur eos numquam rerum delectus commodi perferendis voluptate?
          </q-page>
        </q-page-container>
      </q-layout>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  ref
} from 'vue';

import { useQuasar } from 'quasar'
import { fasFont } from '@quasar/extras/fontawesome-v5'
import { event } from 'quasar'

const { stopAndPrevent } = event


function useClickCount() {
  const clickCount = ref(0);
  function increment() {
    clickCount.value += 1
    return clickCount.value;
  }

  return { clickCount, increment };
}


export default defineComponent( {
  name: 'MyPopup',
  props: {
    title:  { type: String, required: true },
    height: { type: String, required: true },
    width:  { type: String, required: true },
  },
  emits: {},
  methods: {
    onClick() {
      this.$emit('click')
      alert('YESSSSSS!!!!! AAA CLICLLLL')

      console.log(this);
      // console.log($q.dark.mode);
      // $q.dark.set(true);
      // $q.dark.toggle()
    },
    asWindow() {
        console.log('###########', this)
        // alert('IT WORKS', this)
        // window.open('', this, `height=${this.height}`)
        window.open('')
      },
    minimize () {
        // window.myWindowAPI?.minimize()
      },
    toggleMaximize () {
        // window.myWindowAPI?.toggleMaximize()
      },
    closeApp () {
        // window.myWindowAPI?.close()
      }

  },
  computed: {
    widowStyle() { return `height: ${this.height}; width:  ${this.width};`}
  },
  data() {
      return {
        // title: 'Vaaa-LU-EEEE',
        componentKind: 'icon-toggle-button'
      }
    },
  setup: function(props) {
    return {
      ...useClickCount(),
    };
  }
});
</script>
