<template>
  <q-dialog
    @hide="$emit('hide-connectors')"
    no-esc-dismiss
    no-route-dismiss
    maximized
    v-model="NewConnectorsFormVisible"
  >
    <div role="dialog" aria-labelledby="modalTitle" aria-describedby="modalDescription" class="services_db">
      <q-card>
        <div class="text-h5 q-mt-xl q-pt-lg text-center">Services</div>
        <div class="row">
          <div class="col q-mb-auto q-mt-lg text-center">
            <img src="/servicesIcons/PostgreSQL.png"
                @click="() => {
                  isModalSourcesPostgresVisible = true;
                  NewConnectorsFormVisible = false;
                  console.log('Click REGISTER!', isModalSourcesPostgresVisible);
                }"
              clickable alt="">
          </div>
          <div class="col q-mb-none q-mt-lg text-center">
            <img src="/servicesIcons/Redis.png" @click="() => {
                    isModalSourcesRedisVisible = true;
                    NewConnectorsFormVisible = false; }"
                 clickable class="smaller_db_img" alt="">
          </div>
          <div class="col q-mb-auto q-mt-lg text-center">
            <img src="/servicesIcons/ClickHouse.png" alt="">
          </div>
          <div class="col q-mb-auto q-mt-lg text-center">
            <img src="/servicesIcons/RabbitMQ.png" class="smaller_db_img" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col q-mt-auto q-mb-xl text-center">PostgreSQL</div>
          <div class="col q-mt-auto q-mb-xl text-center">Redis</div>
          <div class="col q-mt-auto q-mb-xl text-center">ClickHouse</div>
          <div class="col q-mt-auto q-mb-xl text-center">RabbitMQ</div>
        </div>
        <div class="row">
          <div class="col q-my-auto text-center">
            <img src="/servicesIcons/MySQL.png" alt="">
          </div>
          <div class="col q-my-auto text-center">
            <img src="/servicesIcons/zookeeper_256.png" alt="">
          </div>
          <div class="col q-my-auto text-center">
            <img src="/servicesIcons/Cassandra.png" alt="">
          </div>
          <div class="col q-my-auto text-center">
            <img src="/servicesIcons/SQLight.png" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col q-mt-auto q-mb-xl text-center">MySQL</div>
          <div class="col q-mt-auto q-mb-xl text-center">Apache Zookeeper</div>
          <div class="col q-mt-auto q-mb-xl text-center">Cassandra</div>
          <div class="col q-mt-auto q-mb-xl text-center">SQLite</div>
        </div>
        <div class="row">
          <div class="col q-my-auto text-center">
            <img src="/servicesIcons/TimeScale.png" class="smaller_db_img" alt=""></div>
          <div class="col q-my-auto text-center">
            <img src="/servicesIcons/Kafka.png" class="smaller_db_img" alt=""></div>
          <div class="col q-my-auto text-center">
            <img src="/servicesIcons/csv.png" @click="() => {
                    isModalSourcesCsvVisible = true;
                    NewConnectorsFormVisible = false; }"
                 clickable class="smaller_db_img" alt="">
          </div>
          <div class="col q-my-auto text-center">
            <img src="/servicesIcons/g_sheets.png" class="google_sheets_db_img" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col q-mt-auto q-mb-xl q-mb-lg text-center">TimeScale</div>
          <div class="col q-mt-auto q-mb-xl q-mb-lg text-center">Kafka</div>
          <div class="col q-mt-auto q-mb-xl q-mb-lg text-center">CSV</div>
          <div class="col q-mt-auto q-mb-xl q-mb-lg text-center">Google Sheets</div>
        </div>
      </q-card>
    </div>
  </q-dialog>

  <DlgSourcesPostgres
    :prop-visible="isModalSourcesPostgresVisible"
    @hide-postgres="isModalSourcesPostgresVisible = false"
    :id='dbSourcesParams.postgres.id'
    :driver='dbSourcesParams.postgres.driver'
    :url='dbSourcesParams.postgres.urlValue'
    :connector-name='dbSourcesParams.postgres.connectorName'
    :edit-connector = false
    persistent
  />

  <DlgSourcesTimescale
    :prop-visible="isModalSourcesTimescaleVisible"
    @hide-postgres="isModalSourcesTimescaleVisible = false"
    :id='dbSourcesParams.postgres.id'
    :driver='dbSourcesParams.postgres.driver'
    :url='dbSourcesParams.postgres.urlValue'
    :connector-name='dbSourcesParams.postgres.connectorName'
    :edit-connector = false
    persistent
  />
  <DlgSourcesRedis
    :prop-visible="isModalSourcesRedisVisible"
    @hide-redis="isModalSourcesRedisVisible = false"
    :id='dbSourcesParams.redis.id'
    :driver='dbSourcesParams.redis.driver'
    :url='dbSourcesParams.redis.urlValue'
    :connector-name='dbSourcesParams.redis.connectorName'
    :edit-connector = false
    persistent
  />

  <DlgSourcesCsv
    :prop-visible="isModalSourcesCsvVisible"
    @hide-csv="isModalSourcesCsvVisible = false"
    persistent
  />
</template>

<script lang="ts">


import {ref, watch, onBeforeMount, onBeforeUnmount} from 'vue';
import DlgSourcesPostgres from 'src/app/DbBrowser/components/DlgSourcesDB/DlgSourcesPostgres.vue';
import DlgSourcesTimescale from 'src/app/DbBrowser/components/DlgSourcesDB/DlgSourcesTimescale.vue';
import DlgSourcesRedis from 'src/app/DbBrowser/components/DlgSourcesDB/DlgSourcesRedis.vue';
import DlgSourcesCsv from 'src/app/DbBrowser/components/DlgSourcesDB/DlgSourcesCsv.vue';
import {dbSourcesParams} from '../myutils';

export default {
  name: 'NewConnectors',
  emits: ['hide-connectors'],
  props: {
    propVisible: Boolean,
  },
  components: {
    DlgSourcesPostgres,
    DlgSourcesTimescale,
    DlgSourcesRedis,
    DlgSourcesCsv,
  },
  setup(props: { propVisible: boolean; }) {
    const NewConnectorsFormVisible = ref(false);
    const isModalSourcesPostgresVisible = ref(false);
    const isModalSourcesTimescaleVisible = ref(false);
    const isModalSourcesRedisVisible = ref(false);
    const isModalSourcesCsvVisible = ref(false);

    const updVisibleState = () => {
      NewConnectorsFormVisible.value = props.propVisible;
      console.log('DLG Services DB methods');
    };

    const showServicesDlg = () => {
      NewConnectorsFormVisible.value = true;
    };

    watch(() => props.propVisible, updVisibleState);

    onBeforeMount(() => {
      NewConnectorsFormVisible.value = props.propVisible;
      // console.log('DLG SERVICES DB BeforeMount: ', props.propVisible);
    });

    onBeforeUnmount(() => {
      NewConnectorsFormVisible.value = props.propVisible;
      console.log('Services DB BeforeUNMOUNT: ', props.propVisible);
    })

    // const hidePostgresConnection = () => {
    //   isModalSourcesPostgresVisible.value = false;
    //   console.log('POSTGRES Visible: ', isModalSourcesPostgresVisible.value);
    // }


    return {
      NewConnectorsFormVisible,
      showServicesDlg,
      isModalSourcesPostgresVisible,
      isModalSourcesTimescaleVisible,
      isModalSourcesRedisVisible,
      isModalSourcesCsvVisible,
      dbSourcesParams
    };
  }
}
</script>

<style scoped>
  .services_db {
    width: 700px;
    height: 600px;
  }
  img {
    width: 70px;
  }
  .smaller_db_img {
    width: 60px;
  }
  .google_sheets_db_img {
    width: 40px;
  }
  .bigger_db_img {
    width: 100px;
  }
</style>
