<template>
  <slot></slot>
</template>

<script lang="ts">
  import PopupWindow from './PopUpWindow.vue';
  import { IPopupWindow, IPopupWindows } from './PopupWindowsInterfaces';



  const popupWindows: IPopupWindows = {};

  export const testVar = 'Hello! World!!!';

  export const getPopupWindow = (name: string): IPopupWindow => {
    return popupWindows[name];
  };

  export const setPopupWindow = (name: string, windowSettings: IPopupWindow): void => {
    popupWindows[name] = windowSettings;
  };

  export default {
    component: {
      PopupWindow
    }
  }
</script>
