<template>
  <div ref="window"
    class="draggable-window"
    :style="{
      minHeight: `${MAX_HEIGHT}px`,
      minWidth: `${MAX_WIDTH}px`,
      zIndex: 1000,
      // 'z-index': 1000,
      width: `${sizeWindow.width}px`,
      height: `${sizeWindow.height}px`,
      left: `${position.x}px`,
      top: `${position.y}px`
  }"
>
  <q-card :style="{ height: '100%' }">
    <q-bar @mousedown.stop="startDrag" :style="{ cursor: 'move' }">
      <div>{{props.title}}</div>
      <q-space />
      <q-btn disable dense flat icon="minimize" />
      <q-btn disable dense flat icon="crop_square" />
      <q-btn dense flat icon="close" @click="visible = false" />
    </q-bar>
    <q-card-section>
      <slot :wHeight="sizeWindow.height"></slot>
    </q-card-section>
  </q-card>
  <!-- <div class="resize-handle top-left" @mousedown="startResize($event, 'topLeft')"></div>
    <div class="resize-handle top-right" @mousedown="startResize($event, 'topRight')"></div>
    <div class="resize-handle bottom-left" @mousedown="startResize($event, 'bottomLeft')"></div> -->
    <!-- <div class="resize-handle bottom-right" @mousedown.stop="startResize($event, 'bottomRight')"> -->
      <q-icon class="resize-handle bottom-right" @mousedown.stop="startResize($event, 'bottomRight')" name="signal_cellular_4_bar" />
    <!-- </div> -->
    </div>

</template>

<script setup lang="ts">
import { reactive, onMounted, ref } from 'vue';

const MAX_HEIGHT = 200;
const MAX_WIDTH  = 200;


interface ISizeWindow {
  width: number;
  height: number;
}

const props = defineProps<
  {
    title:  string,
    size:   ISizeWindow
  }>();

const visible = defineModel('visible', { type: Boolean, default: false });

interface Position {
  x: number;
  y: number;
}

const position = reactive<Position>({ x: 0, y: 0 });
const sizeWindow = reactive<ISizeWindow>({ width: 600, height: 500 });
let isDragging = false;
let offsetX = 0;
let offsetY = 0;
let startWidth = 0;
let startHeight = 0;

const startDrag = (event: MouseEvent) => {
  isDragging = true;
  offsetX = event.clientX - position.x;
  offsetY = event.clientY - position.y;

  const handleDrag = (event: MouseEvent) => {
    if (isDragging) {
      let newPosition = event.clientX - offsetX;
      position.x = (newPosition < 0) ? 0 : newPosition;
      newPosition = event.clientY - offsetY;
      position.y = (newPosition < 0) ? 0 : newPosition;
    }
  };

  const stopDrag = () => {
    isDragging = false;
    document.removeEventListener('mousemove', handleDrag);
    document.removeEventListener('mouseup', stopDrag);
  };

  document.addEventListener('mousemove', handleDrag);
  document.addEventListener('mouseup', stopDrag);
};

const startResize = (event: MouseEvent, direction: string) => {
  startWidth = sizeWindow.width;
  startHeight = sizeWindow.height;
  const handleResize = (event: MouseEvent) => {
    if (direction.includes('Right')) {
      const _width = event.pageX - position.x + 5;
      sizeWindow.width = _width < MAX_WIDTH ? MAX_WIDTH : _width;
    }
    if (direction.includes('bottom')) {
      const _height = event.pageY - position.y + 5;
      sizeWindow.height = _height < MAX_HEIGHT ? MAX_HEIGHT : _height;
    }
  };

  const stopResize = () => {
    document.removeEventListener('mousemove', handleResize);
    document.removeEventListener('mouseup', stopResize);
  };

  document.addEventListener('mousemove', handleResize);
  document.addEventListener('mouseup', stopResize);
};

onMounted(() => {
  // Центрируем окно по центру экрана при загрузке
  sizeWindow.width = props.size.width;
  sizeWindow.height = props.size.height;

  position.x = (window.innerWidth - sizeWindow.width) / 2;
  position.y = (window.innerHeight - sizeWindow.height) / 2;
});
</script>

<style scoped>

.draggable-window {
  position: absolute;

}

.resize-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  /* background-color: #007bff; */
}

/*
.top-left {
  top: -5px;
  left: -5px;
  cursor: nw-resize;
}

.top-right {
  top: -5px;
  right: -5px;
  cursor: ne-resize;
}

.bottom-left {
  bottom: -5px;
  left: -5px;
  cursor: sw-resize;
}
*/

.bottom-right {
  bottom: 0px;
  right: 0px;
  cursor: se-resize;
}
</style>
