<template>
  <q-btn

      :style="{ width: '80px' }"
      :color='props.color'
      @click='props.onClick'
    >
      {{ props.title }}
    </q-btn>
</template>
<script setup lang="ts">
  const props = defineProps({
    title: String,
    color: String,
    onClick: Function
  });
</script>


