<template>
  <AceEditor v-model:p-content=content class="q-mb-md aceeditor" :style="{ height: `${props.winHeight }px` }"/>
  <q-separator />

  <q-btn
    dense
    class="q-mt-md"
    icon="play_arrow"
    color="primary"
    :loading=isExecuting
    @click="sendSQL"
  >
    <q-tooltip class="text-body2">Execute SQL</q-tooltip>
  </q-btn>
  <!-- <q-btn v-else color="secondary" class="execButton">
    <q-spinner />Executig...
  </q-btn> -->


</template>

<script setup lang="ts">
import AceEditor from '../../../components/Editor/AceEditor.vue'
import { answFetch, currentConnection, dataReceiveQueue, getTableModel, postData, postSQL, tableModel } from '../myutils'
import { ref, onMounted } from 'vue';
import { useQuasar } from 'quasar';
import { IConnector } from '../myinterfaces';
import { tablesUUID } from 'src/components/system/ws-request-queue';

const $q = useQuasar();
const isExecuting = ref(false);
const props = defineProps<{
  connName: IConnector
  winHeight: number
}>();


const content = ref('');

// **************** fake testing data!!!!! *****************
// const content = ref(`select studentID, FullName, sat_score
// from student
// where
//   (
//     studentID between 1
//     and 5 -- inclusive
//     or studentID = 8
//     or FullName like '%Maximo%'
//   )
//   and sat_score NOT in (1000, 1400)
// order by FullName DESC;
// `);

const sendSQL = () => {
  const data = {
    connector: props.connName.name,
    connector_id: props.connName.id,
    // schema:
    // table:
    action: 'sql_execute',
    sql: content.value,
  };
  // console.log('Sending SQL POST: ', props.connName);
  // isExecuting.value = true;
  postSQL(data).then(val => {

    // dataReceiveQueue.value[val['unique_id']] = 'fetch';
    tablesUUID.fetch = val['unique_id'];

      // answFetch.value = val.rows;
      // tableModel.value = getTableModel(val.meta.model);

  })

  // postData('execute/', data)
  //   .then((resp) => {
  //     console.log('SQL sending Ok!', resp)
  //     $q.notify({
  //         position: 'top',
  //         timeout: 1000,
  //         type: 'positive',
  //         message: 'SQL sending Ok!'
  //       });
  //   }).catch((err) => {
  //     console.log('SQL sending fault!!! ', err)
  //     $q.notify({
  //         position: 'top',
  //         timeout: 1000,
  //         type: 'negative',
  //         message: 'SQL sending fault!!!'
  //       })
  //   }).finally(() => {isExecuting.value = false})

}

onMounted(() => {
  content.value = currentConnection.catalog.sql;
})

</script>
<style scoped>
.aceeditor {
  font-size: 18px;
  /* height: 400 px; */
}

.execButton {
  width: 150px
}

</style>
