<template>
  <div class="q-pa-xs">
    <!-- <div> -->

    <q-btn size="sm" color="purple" :label="`Fields (${visibleColumns.length}/${columns.length})`">
      <q-menu>
        <div class="column no-wrap q-pa-xs">
          <div v-for="column in columns" :key="column.name">
            <q-checkbox :label="column.name" v-model="visibleColumns" :val="column.name"
              @update:model-value="setLocalStor(visibleColumns)" />
          </div>
        </div>
      </q-menu>
    </q-btn>
  </div>

  <q-checkbox v-if="viewSystem != undefined" v-model="isSystemView" label="sys table" size="xs" />
  <!-- style="max-height: 80vh;" -->
  <q-table flat bordered dense class="my-sticky-header-table" :columns="columns" :title="mytitle"
    :rows-per-page-options="[0]" :row-key=myrowkey
    :rows="isSystemView ? myrows : myrows.filter((item: ICatalogItem) => !item['system'])"
    :visible-columns="visibleColumns" :loading="loadState" @row-click="myclick"
    >
    <!-- @row-dblclick="mydblclick" -->
    <template v-slot:top>
      <q-btn dense icon="add_link" @click="addConnector" />
      <div class="q-ml-sm text-h6" >
        {{ mytitle }}
      </div>
    </template>

    <template v-slot:body-cell="props">
      <q-td :props="props"
        :style="getReadOnlyStyle(props.row)">
        {{ props.value }}
        <!-- {{ props.row['option_conn']}} -->
        <q-menu context-menu>
            <q-list dense>
              <q-item clickable v-close-popup @click="console.log(props.row)">
                <q-item-section>Dashboard</q-item-section>
              </q-item>

            </q-list>
          </q-menu>

      </q-td>
    </template>

    <template v-if="true" v-slot:body-cell-name="cellprops">
      <q-td :props="cellprops" :style="getReadOnlyStyle(cellprops.row)">
        <div class="row no-wrap items-center cell-name" >
          {{ cellprops.value }}
          <q-space />
            <q-icon class="classIconShowProcesses" name="sym_o_info" @click.stop="props.showProcesses(cellprops.row)" />
        </div>
      </q-td>
    </template>

    <template v-if="true" v-slot:body-cell-mycol="props">
      <q-td :props="props" :style="getReadOnlyStyle(props.row)">

        <!-- <q-icon class="q-mr-xs" :name="connStatus(props.row['id']).name" :color="connStatus(props.row['id']).color" /> -->

        <!-- <q-icon v-if="props.row['type_name'] === 'Redis'" size="xs"
          :name="'img:' + dbConnectors[props.row['type_name']].icon"
          @click="openConnectorDlg(props.row['connection'], props.row['name'], 'redis', props.row['id'], props.row['type_name'])">

            <q-badge rounded floating :color="connStatus(props.row['id']).color"
              style="min-height: 3px; padding: 3px" />

        </q-icon>

        <q-icon v-else-if="props.row['type_name'] === 'Postgres'" size="xs"
          :name="'img:' + dbConnectors[props.row['type_name']].icon"
          @click="openConnectorDlg(props.row['connection'], props.row['name'], 'postgres', props.row['id'], props.row['type_name'])">

            <q-badge rounded floating :color="connStatus(props.row['id']).color"
              style="min-height: 3px; padding: 3px" />
          </q-icon>

        <q-icon v-else size="xs" :name="'img:' + dbConnectors[props.row['type_name']].icon">
          <q-badge rounded floating :color="connStatus(props.row['id']).color"
            style="min-height: 3px; padding: 3px" />
        </q-icon> -->


        <q-icon size="xs" :name="'img:' + dbConnectors[props.row['type_name']].icon"
          @click.stop="() => openEditConnector(props.row)">

            <q-badge rounded floating :color="connStatus(props.row['id']).color"
              style="min-height: 3px; padding: 3px" />


        </q-icon>

      </q-td>

    </template>

  </q-table>

  <DlgSourcesRedis :prop-visible="visibleConnectorMode === 'redis'" @hide-redis="visibleConnectorMode = ''"
    :id='connectorId' :driver='connectorDriver' :url='connectorUrl' :connector-name='connectorName'
    :edit-connector='true' persistent />
  <DlgSourcesPostgres :prop-visible="visibleConnectorMode === 'postgres'" @hide-postgres="visibleConnectorMode = ''"
    :id='connectorId' :driver='connectorDriver' :url='connectorUrl' :connector-name='connectorName'
    :edit-connector='true' persistent />
</template>


<script setup lang="ts" >

import {onMounted, ref, watch } from 'vue'
import { dbSourcesParams, wsConnStatus } from '../myutils'
import DlgSourcesRedis from 'src/app/DbBrowser/components/DlgSourcesDB/DlgSourcesRedis.vue'
import DlgSourcesPostgres from 'src/app/DbBrowser/components/DlgSourcesDB/DlgSourcesPostgres.vue'
import { ICatalogItem } from '../myinterfaces';
import { dbConnectors } from '../DbConnectorsList'

const props = defineProps([
    'loadState',
    'storedKeyName',
    'myrowkey',
    'mytitle',
    'myicon',
    'myrows',
    'mycolumns',
    'myclick',
    // 'mydblclick',
    'viewSystem',
    'connectorUrlValue',
    'connectorNameValue',
    'showProcesses'
  ]);

  const emit = defineEmits(['openEditConnector']);
  const openEditConnector = (row: any) => emit('openEditConnector', row);

  const isSystemView                  = ref(props.viewSystem)
  // const isModalSourcesRedisVisible    = ref(false);
  // const isModalSourcesPostgresVisible = ref(false);
  // const redisId                       = ref(undefined);
  // const postgresId                    = ref(undefined);
  // const redisDriver                   = ref(undefined);
  // const postgresDriver                = ref(undefined);

  const visibleConnectorMode          = ref('');
  const connectorId                   = ref();
  const connectorDriver               = ref('');
  const connectorUrl                  = ref('');
  const connectorName                 = ref('');

  onMounted(() => {
    connectorUrl.value = props.connectorUrlValue;
    connectorName.value = props.connectorNameValue;
  });


  function connStatus(connID: string) {
    if (wsConnStatus.value[connID] === undefined) return { 'name': 'hourglass_empty', 'color': 'grey'};
    return wsConnStatus.value[connID] === null
        ? { 'name': 'check_circle', 'color': 'yellow'}
        : wsConnStatus.value[connID]
          ? { 'name': 'check_circle', 'color': 'green'}
          : { 'name': 'cancel',       'color': 'red'};
  };

  const extractColumns = () => {
    if (props.myrows.length === 0) return [];
    const result = props.mycolumns.length === 0
                ? Object.keys(props.myrows[0]).map(name => ({
                    name  : name,
                    label : name,
                    field : name
                  }))
                : props.mycolumns;
    return result;
  };

  const getReadOnlyStyle = (row: any) => {
    // console.log('RO Style ROW ', JSON.parse(row['option_conn']))
    const result = JSON.parse(row['option_conn'])['read_only'] && 'background-color: DarkSlateGray'
    return result;
  }

  const setLocalStor = (val: any) => {
    if (val === null) return;
    localStorage.setItem(props.storedKeyName, JSON.stringify(val))
  };

  const getVisibleColumns = () => {
    if (props.myrows.length === 0) return []
    let visColStore = JSON.parse(localStorage.getItem(props.storedKeyName) || 'null');
    if (visColStore === null) {
      visColStore = props.mycolumns.length === 0
                ? Object.keys(props.myrows[0])
                : props.mycolumns.map((item: any) => item['name'])
      setLocalStor(visColStore);
    }
    return visColStore;
  };

  const columns         = ref(extractColumns());
  const visibleColumns  = ref(getVisibleColumns());

  const updateColumns = () => {
    columns.value = extractColumns();
    visibleColumns.value = getVisibleColumns();
  };

  const openConnectorDlg = (url: string, connectName: string, visibleConnector: string, id: number, driver: string) => {
    connectorUrl.value = url;
    connectorName.value = connectName;
    visibleConnectorMode.value = visibleConnector;
    connectorId.value = id;
    connectorDriver.value = driver;
  }

  watch(() => props.myrows, updateColumns);

  const addConnector = () => {
    const row = {
      id: null,
      type_name: '',
      type_id: null,
      name: 'new_connector',
      connection: '',
      option_conn: JSON.stringify({})
    };
    openEditConnector(row);
  }
</script>

<style>
.my-sticky-header-table {
  flex-grow: 1;
  height: 90%
}
.classIconShowProcesses {
    opacity: 15%;
  }
.cell-name:hover .classIconShowProcesses {
    opacity: 100%;
  }

</style>
