<template>
  <table class="table table-striped table-bordered q-mx-auto">
    <tr v-for="(numbersLine, index) in makeTableArray(makeArrayOfObjects(makeArrayOfRandomNumbers(10000, 1, 100),
     makeGradientColors(makeArrayOfRandomNumbers(10000, 1, 100), 270)), 10)" :key="index">
      <td class="q-pa-sm" v-for="(number, columnIndex) in numbersLine" :key="columnIndex" :style="{ backgroundColor: number.color }">
        {{ number.value }}
      </td>
    </tr>
  </table>
</template>

<script lang="ts">
import {onBeforeMount, ref, watch} from 'vue';
import {makeGradientColors} from 'src/app/DbBrowser/myVisualUtils';

export default {
  name: "TableGradient",
  setup() {

    const makeArrayOfRandomNumbers = (howManyNumbers: number, minVal: number, maxVal: number ) => {
      const newArray = [];
      for (let i = 0; i < howManyNumbers; i++) {
        newArray.push(Math.random() * (maxVal - minVal) + minVal);
      }
      return newArray;
    }

    const makeArrayOfObjects = (arrayNumbers: Array<any>, arrayColors: Array<any>) => {
      const arrayOfObjects =[]

      for (let i = 0; i < arrayNumbers.length; i++) {
        arrayOfObjects[i] = {value: arrayNumbers[i], color: arrayColors[i]}
      }
      return arrayOfObjects
    }

    const makeTableArray = (array: Array<{ color: string; value: number }>, numberOfColumns: number) => {
      const totalNumbers = array.length;
      const numberOfRows = Math.ceil(totalNumbers / numberOfColumns);
      const tableArray: { color: string; value: number; }[][] = [];

      let currentNumberIndex = 0;
      for (let i = 0; i < numberOfRows; i++) {
        const row = [];
        for (let j = 0; j < numberOfColumns; j++) {
          if (currentNumberIndex < totalNumbers) {
            row.push(array[currentNumberIndex]);
            currentNumberIndex++;
          } else {
            break;
          }
        }
        tableArray.push(row);
      }

      return tableArray;
    }

    return {
      makeArrayOfRandomNumbers, makeGradientColors, makeTableArray, makeArrayOfObjects
    }
  }
}

</script>

<style scoped>

</style>
