<template>
  <q-dialog v-model="userRegistrationFormVisible">
    <div role="dialog" aria-labelledby="modalTitle" aria-describedby="modalDescription">
      <q-card style="width: 400px; height: 365px">
        <q-card-section class="text-center">
          <div class="text-h5 q-mb-lg">User Access</div>

          <div class="q-pa-md">
            <q-btn-dropdown color="primary" label="Choose User Status">
              <q-list>
                <q-item clickable v-close-popup @click="showNewUserForm">
                  <q-item-section>
                    <q-item-label>New User</q-item-label>
                  </q-item-section>
                </q-item>

                <q-item clickable v-close-popup @click="showExistedUserForm">
                  <q-item-section>
                    <q-item-label>Existed User</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>

          <q-card-section v-model="newUser">
          <q-input v-model="userName" class="text-h6 q-mb-md q-mr-md q-ml-md" filled type="text" label="User Name" />
          <q-input v-model="password" class="text-h6 q-mb-md q-mr-md q-ml-md" filled :type="isPwd ? 'password' : 'text'" label="Password">
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
            <div class="text-h6 q-mb-lg">Database assess Restriction</div>
          </q-card-section>

          <q-card-section v-model="existedUser">
            <div class="text-h6 q-mb-lg">Database assess Restriction</div>
          </q-card-section>

          <q-card-actions class="q-mt-lg" align="center">
            <SimpleButton title="SAVE" :onClick="saveData" color="primary" class="q-mr-lg"></SimpleButton>
            <SimpleButton title="CANCEL" :onClick="cancelRegistration" color="negative"></SimpleButton>
          </q-card-actions>
        </q-card-section>
      </q-card>
    </div>
  </q-dialog>
</template>

<script lang="ts">
import { ref, defineProps, watch, onBeforeMount } from 'vue';
import axios from 'axios';
import SimpleButton from './SimpleButton.vue';

export default {
  name: 'UserRegistration',
  props: {
    propVisible: Boolean,
  },
  components: {
    SimpleButton,
  },
  setup(props: { propVisible: boolean; }) {
    const userRegistrationFormVisible = ref(false);
    const newUser = ref(false);
    const existedUser = ref(false);
    const userName = ref('');
    const password = ref('');
    const isPwd = ref(true);

    const updVisibleState = () => {
      userRegistrationFormVisible.value = props.propVisible;
      console.log('DLG User Registration methods');
    };

    const showUserRegistrationForm = () => {
      userRegistrationFormVisible.value = true;
    };

    const showNewUserForm = () => {
      newUser.value = true;
      existedUser.value = false;
    };

    const showExistedUserForm = () => {
      existedUser.value = true;
      newUser.value = false;
    };

    const cancelRegistration = () => {
      userRegistrationFormVisible.value = false;
      console.log('Cancel button! ', userRegistrationFormVisible.value);
    };

    const saveData = async () => {
      const data = {
        login: userName.value,
        password: password.value,
      };

      try {
        const response = await axios.post('http://localhost', data);
        console.log('*********************************************** ' + response.data);
      } catch (error) {
        console.error('Error saving data:', error);
      }
    };

    watch(() => props.propVisible, updVisibleState);

    onBeforeMount(() => {
      userRegistrationFormVisible.value = props.propVisible;
      // console.log('DLG LOGIN BeforeMount: ', props.propVisible);
    });

    return {
      userRegistrationFormVisible,
      userName,
      password,
      isPwd,
      newUser,
      existedUser,
      showNewUserForm,
      showExistedUserForm,
      saveData,
      showUserRegistrationForm,
      cancelRegistration,
    };
  },
};
</script>

<style scoped>

</style>
