<template>
  <q-dialog
    maximized
    no-esc-dismiss
    no-route-dismiss
    v-model="userRegistrationFormVisible"
    @hide="$emit('update-registration-vis')"
  >
    <div role="dialog" aria-labelledby="modalTitle" aria-describedby="modalDescription" class="user-registration-dialog">
      <q-card>
        <q-card-section class="text-center q-mb-none">
          <div class="text-h5 q-mb-lg text-center">Add User</div>

          <div class="row">
            <div class="col">
              <q-input v-model="userName" class="text-h6 q-mb-sm q-mr-xs q-ml-sm" filled type="text" label="Name" />
            </div>
            <div class="col">
              <q-input v-model="email" class="text-h6 q-mb-sm q-ml-xs q-mr-sm" filled type="email" label="E-mail" />
            </div>
          </div>

          <div class="row">
            <div class="col">
              <q-input v-model="password" class="text-h6 q-mb-sm q-mr-xs q-ml-sm" filled :type="isPwd ? 'password' : 'text'" label="Password">
                <template v-slot:append>
                  <q-icon
                    :name="isPwd ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd = !isPwd"
                  />
                </template>
              </q-input>
            </div>

            <div class="col">
              <q-input
                v-model="confirmPass"
                class="text-h6 q-mb-sm q-ml-xs q-mr-sm"
                filled
                :type="isPass ? 'password' : 'text'"
                label="Confirm password"
              >
                <template v-slot:append>
                  <q-icon
                    :name="isPass ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPass = !isPass"
                  />
                </template>
              </q-input>
            </div>
          </div>

          <div class="q-pa-none q-mb-md">
            <q-checkbox v-model="temporaryPass" :onClick="temporaryPassword" label="Temporary password" />
          </div>


        <div>
          <div class="text-h6 q-mb-lg text-center text-weight-regular">User Access Settings</div>
          <div class="q-py-none">
            <q-markup-table class="q-pa-none q-mx-auto user-access-table" >
              <thead>
              <tr>
                <th class="text-left">Database Access</th>
                <th class="text-center">Readonly</th>
                <th class="text-center">WriteOnly</th>
                <th class="text-center">Maintenance</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(object, index) in connectors" :key="index">
                <td class="text-left">{{ object.name }}</td>
                <td class="text-center"><q-checkbox dense v-model="object['readonly']" label="" /></td>
                <td class="text-center"><q-checkbox dense v-model="object['writeOnly']" label="" /></td>
                <td class="text-center"><q-checkbox dense v-model="object['maintenance']" label="" /></td>
              </tr>
              </tbody>
            </q-markup-table>
            </div>

          <q-card-actions class="q-mt-lg" align="center">
            <SimpleButton title="SAVE" :onClick="saveData" color="primary" class="q-mr-lg"></SimpleButton>
            <SimpleButton title="CANCEL" @click="$emit('update-registration-vis')" color="negative"></SimpleButton>
          </q-card-actions>
        </div>
        </q-card-section>
      </q-card>
    </div>
  </q-dialog>
</template>

<script lang="ts">
import {ref, defineProps, watch, onBeforeMount, onBeforeUnmount} from 'vue';
import axios from 'axios';
import SimpleButton from './SimpleButton.vue';
import { isLogin, getConnectors, postData } from '../myutils';

export default {
  name: 'UserRegistration',
  props: {
    propVisible: Boolean,
  },
  components: {
    SimpleButton,
  },
  setup(props: { propVisible: boolean; }) {
    // const userRegistrationFormVisible = ref(false);
    const userRegistrationFormVisible = ref(false);
    const userName = ref('');
    const email = ref('');
    const password = ref('');
    const confirmPass = ref('');
    const isPwd = ref(true);
    const isPass = ref(true);
    const temporaryPass = ref(false);
    let connectors = ref([]);

    if (!isLogin) getConnectors().then(val => {
      connectors.value = val.map((item: {name: string}) => ({
        'name': item['name'],
        'readonly': ref(false),
        'writeOnly': ref(false),
        'maintenance': ref(false),
      }));
      console.log('CONNECTORSSSSSSSS!', connectors);
    });

    const updVisibleState = () => {
      userRegistrationFormVisible.value = props.propVisible;
      console.log('DLG LOGIN methods');
    };

    const showRegistrationForm = () => {
      userRegistrationFormVisible.value = true;
    };

    const temporaryPassword = () => {
      console.log('TEMPORARY PASSWORD STATUS: ' + temporaryPass.value);
    }

    // const cancelRegistration = () => {
    //   userRegistrationFormVisible.value = false;
    //   console.log('Cancel button! ', props.propVisible);
    // };

    const saveData = async () => {
      const data = {
        userName: userName.value,
        email: email.value,
        password: password.value,
        temporaryPassword: temporaryPass.value,
        connectors: connectors.value,
      };

      try {
        const response = await postData('registration/', data);
        console.log('*********************************************** ' + response.data);
      } catch (error) {
        console.error('Error saving data:', error);
      }
    };

    watch(() => props.propVisible, updVisibleState);

    onBeforeMount(() => {
      userRegistrationFormVisible.value = props.propVisible;
      // console.log('DLG Register BeforeMount: ', props.propVisible);
    });

    onBeforeUnmount(() => {
      // props.propVisible = false;
      userRegistrationFormVisible.value = props.propVisible;
      console.log('DLG LOGIN BeforeUNMOUNT: ', props.propVisible);
    })

    return {
      isLogin,
      userRegistrationFormVisible,
      userName,
      email,
      password,
      confirmPass,
      isPwd,
      isPass,
      temporaryPass,
      connectors,
      saveData,
      showRegistrationForm,
      // cancelRegistration,
      temporaryPassword,
    };
  },
};

</script>

<style scoped>
  .user-registration-dialog {
    max-width: 800px;
    max-height: 650px;
  }

  .user-access-table {
    width: 600px;
  }
</style>
