<template>
  <q-table flat bordered dense virtual-scroll
    :columns="props.columns"
    class="my-sticky-dynamic"
    :visible-columns="props.visiblecolumns"
    :loading="props.loadState"
    :virtual-scroll-sticky-size-start="24"
    :rows-per-page-options="[0]"
    :row-key=props.myrowkey
    :rows="props.myrows"
    @row-dblclick="props.mydblclick"
    @row-click="props.onSelectRow"
  >
    <template v-slot:top>
      <div class="q-ml-md text-h6" >
        {{ props.mytitle }}
      </div>
      <q-space />
        <q-btn dense :loading="props.loadState" icon="refresh" size="sm" @click="props.myrefresh('fetch', true)" />
        <q-btn dense :disable="props.loadState" icon="science" size="sm" @click="props.myscience('table', 'check_gaps')" />
        <q-btn dense :disable="props.loadState" icon="settings" size="sm" @click="props.extrainfo('table', 'default')" />
    </template>

    <template v-slot:body-cell-stop_process="cellProps">
    <q-td :props="cellProps">
      <q-icon name="stop_circle" size="xs" @click="() => clkStopProcess(cellProps.row)"/>
    </q-td>
    </template>

    <!-- <template v-if="props.isedit" v-slot:body-cell-mycol="props1">
    <q-td :props="props1">
      <q-icon name="edit" color="primary" size="xs" @click="props.editfunc(props)"/>
      <q-icon name="delete" color="negative" size="xs" @click="props.delfunc(props)"/>
    </q-td>
    </template> -->

    <!-- <template v-slot:body-cell="props1">
      <q-td :props="props1">
        <ContentCopy :content="props1.value">{{props1.value}}</ContentCopy>
      </q-td>
    </template> -->
  </q-table>
</template>

<script setup>
import { ref, watch } from 'vue';
import { stopProcess } from '../myutils'
import ContentCopy from './ContentCopy.vue'
import { mdiConsoleNetwork } from '@mdi/js';
import { currentConnection } from '../myutils';


const props = defineProps([
    'columns',
    'visiblecolumns',
    'mytitle',
    'myrowkey',
    'myrows',
    'mydblclick',
    'onSelectRow',
    'loadState',
    'myrefresh',
    'myscience',
    'extrainfo',
    'isedit',
  ]);

  const clkStopProcess = (row) => {
    const postData = {
      pid: row.pid,
      connector_id: currentConnection.connector.id,
      action: 'cancel'
    }
    console.log('Kill proc ROW ', row);

    stopProcess(postData).then((res) => {
      console.log(`Kill process PID:${row.pid} OK! ${res}`)
    }).catch(err => console.error(`Kill process PID:${row.pid} ERR! ${err}`) );
  }

</script>


<!-- <style lang="sass">
.my-sticky-dynamic
  /* height or max-height is important */

  // max-height: 75vh

  .q-table__top.body--dark,
  .q-table__bottom.body--dark,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #888

  thead tr th
    position: sticky
    z-index: 1
  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 24px
  thead tr:first-child th
    top: 0

  /* prevent scrolling behind sticky top row on focus */
  tbody
    /* height of all previous header rows */
    scroll-margin-top: 24px
</style> -->
