<template>
   <div
    :ref="tableWrapperRef"
    style=" height: 100%; width: 100%;"
    >
     <SimpleTable
      :inputData='rows'
      :model='model'
      :wrapperDom="asDomElement"
      :darkMode='idDarkMode'
       resizeXEvent="DatabaseTableViewResizeX"
       resizeYEvent="DatabaseTableViewResizeY"
      :settings='getUniqueSettingsForTableView()'
    />
  </div>
</template>

<script lang="ts">
import { PropType, ref, watch } from 'vue';
import { stopProcess } from '../myutils'
import ContentCopy from './ContentCopy.vue'
import { mdiConsoleNetwork } from '@mdi/js';
import { currentConnection } from '../myutils';
import SimpleTable from 'components/Table/Table2Current.vue';
import { InputDataType } from 'components/Table/Types/TableViewType';
import { getSettingsForTableView } from 'components/Table/Types/TableSettingsType';
import { TableColumnModelType } from 'components/Table/Types/TableColumnType';
import { getPressedKey } from 'components/system/ActionWrapper.vue';
import { $$ } from 'src/system/utils';
import { useQuasar } from 'quasar';

export default {
    name: 'VirtCard2Sergii',
      components: {
      SimpleTable
    },
    props: {
      loadState: Boolean,
      columns:  Array,
      visiblecolumns:  Array,
      resourceName: String,
      myrowkey: String,
      mytitle:  String,
      rows: { type: Array as PropType<InputDataType>, required: true },
      mydblclick: Function,
      delFunc:    Function,
      connVariant: String,

      onSelectRow: Function,

      myrefresh: Function,
      myscience: Function,
      extrainfo: Function,
      isedit: Function
    },
    methods: {
      getUniqueSettingsForTableView() {
        const resourceName = this.resourceName || '__empty__';
        // console.log('########### resourceName::', resourceName)
        let resourceSetting = this.tabHash[resourceName];
        if (!resourceSetting) {
            resourceSetting = getSettingsForTableView()
            this.tabHash[resourceName] = resourceSetting;
        }
        return resourceSetting;
      },
      // isEdit() {
      //   return connVariants[this.connVariant].isEdit;
      // },
      // getPressedKey() { return getPressedKey },
      asDomElement() {
        // const xx = this.controller.getWrapperInfo();
        // return this.$refs[this.tableWrapperRef] as HTMLElement;
      }
    },
    computed: {
      model() {
          return this.columns.map((it: any) => {
            return new TableColumnModelType(it.label, 'string'); });
      },
      idDarkMode() {
        return this.$q.dark.isActive;
      }
    },
    data() {
      return {
        tableWrapperRef: $$.uniqueId('tabWrap'),
        // tableWrapperDom='asDomElement'
        $q: useQuasar(),
        tabHash: {}
      }
    }
  };

</script>
