<template>
  <div class="fixed-bottom-left z-max" style="padding-bottom: 40px;">
   <q-card style="width: 500px; max-width: 950px; font-size: 10px;" >
      <q-card-section>
        <table>
          <tr v-for="(logItem, keyName) in logItems" :key="keyName">
            <td style="width: 100px">{{ formatUnixTimestamp(keyName) || 'none' }}</td>
            <!-- <td>{{ logItem.action || 'none' }}</td> -->
            <td class="ellipsis" style="width: 150px; max-width: 150px">{{ logItem.data.url || 'none' }}</td>
            <!-- <td>{{ (logItem.data.progress && logItem.data.progress.progressStatus) && logItem.data.progress.progressStatus}}</td> -->
            <td style="width: 200px">
                <q-linear-progress stripe rounded size="10px"
                  animation-speed="100"
                  color="positive"
                  track-color="primary"
                  :value="getProgresStatus(logItem.data.progress)"
                />
            </td>
            <td>{{ Math.round(getProgresStatus(logItem.data.progress) * 100) }}%</td>
          </tr>
        </table>
      </q-card-section>
    </q-card>
  </div>
</template>

<script setup lang="ts">
import { WorkLogData, formatUnixTimestamp } from '../myutils'
import { IWorkLogDataDownload, IWorkLogDataDownloadProgress } from '../myinterfaces'
import { ref, watch } from 'vue'
import { useQuasar } from 'quasar'

const getProgresStatus = (progress: IWorkLogDataDownloadProgress | undefined) => {
  return (progress && progress.progressStatus) ? progress.progressStatus : 0
};

const $q = useQuasar();


const logItems = ref(WorkLogData.download as IWorkLogDataDownload);
watch(WorkLogData, (val) => {
  // console.log('log worklogdata event')
})



</script>
