<template>
  <VAceEditor
      v-model:value="content"
      lang="sql"
      theme="cobalt"

      :options="{
          useWorker: true,
          enableBasicAutocompletion: true,
          enableSnippets: true,
          enableLiveAutocompletion: true,
        }"
      />

  </template>

  <script setup lang="ts">
  import { ref, onMounted } from 'vue';
  import { VAceEditor } from 'vue3-ace-editor';
  import 'ace-builds/src-noconflict/mode-sql'; // Load the language definition file used below
  import 'ace-builds/src-noconflict/theme-cobalt'; // Load the theme definition file used below

  import ace from 'ace-builds';

  // import modeSqlUrl from 'ace-builds/src-noconflict/mode-sql?url';
  // ace.config.setModuleUrl('ace/mode/sql', modeSqlUrl);

  import snippetsSqlUrl from 'ace-builds/src-noconflict/snippets/sql?url';
  ace.config.setModuleUrl('ace/snippets/sql', snippetsSqlUrl);

  import 'ace-builds/src-noconflict/ext-language_tools';
  // ace.require('ace/ext/language_tools');

  // https://gist.github.com/yuvalherziger/aa48782568c6914b55066d290ff88360?permalink_comment_id=3899507
  // fetch ace's language tools module:
  let langTools = ace.require('ace/ext/language_tools');

  // data stub:
  let sqlTables = [
    { name: 'users', description: 'Users in the system' },
    { name: 'userGroups', description: 'User' },
    { name: 'customers', description: 'Customer entries' },
    { name: 'companies', description: 'Legal entities of customers' },
    { name: 'loginLog', description: 'Log entries for user log-ins' },
    { name: 'products', description: 'Products offered in the system' },
    { name: 'productCategories', description: 'Different product categories' },

  ];

  interface IObjectProperties {
    [keyname: string]: string[]
};

  const objectProperties: IObjectProperties = {
    'TESTusers': ['id', 'username', 'password', 'email'],
    'TESTorders': ['id', 'contractor', 'status'],
};

  // create a completer object with a required callback function:
  let sqlTablesCompleter = {
    getCompletions: function(editor: any, session: any, pos: any, prefix: any, callback: any) {
      // callback(null, sqlTables.map(function(table) {
      //   return {
      //     caption: table.description,
      //     value: table.name,
      //     meta: 'Table'
      //   };
      // }));
      console.log('FIRST ', session.getTokenAt(pos.row, pos.column).value);

      callback(null, Object.keys(objectProperties).map(function(tblName) {
        console.log('1st callback tblName=', tblName);
        return {
          caption: tblName,
          value: tblName,
          meta: 'Table'
        };
      }));

    }
  };
  // finally, bind to langTools:
  langTools.addCompleter(sqlTablesCompleter);
  // langTools.setCompleters([sqlTablesCompleter]);

  const myTestCompleter = {
    getCompletions: function(editor: any, session: any, pos: any, prefix: any, callback: any) {
        const line = session.getLine(pos.row); // получить текущую строку
        const token = session.getTokenAt(pos.row, pos.column); // получить текущий токен

        console.log('SECOND ', token.value);
        // if (token && token.type === 'punctuation.operator' && line[pos.column - 2] === '.') {
          if (token.type === 'text' && token.value === '.') {
            // Если текущий токен - это точка и перед ним есть символ точки, то предоставляем завершения
            const objectName = line.substring(0, pos.column - 1).split(/\W+/).pop() as string; // получить имя объекта перед точкой
            const completions = [] as object[];
            if (objectProperties[objectName]) {
              objectProperties[objectName].forEach(function(w: any) {
                console.log('2nd callback');
                completions.push({
                  value: w,
                  caption: w,
                  meta: objectName,
                });
              });
            }
            callback(null, completions);
        }
    }
  }

  langTools.addCompleter(myTestCompleter);


  // console.log('LANG TOOLS array = ', langTools)


  const props = defineProps([
      'pContent'
    ]);

  const content = ref('');

  onMounted(() => {
    content.value = props.pContent;
  });
  </script>
