<template>
  <VAceEditor
      v-model:value=content
      lang="sql"
      theme="cobalt"
      :wrap="true"
      :options="{
          useWorker: true,
          enableBasicAutocompletion: true,
          enableSnippets: true,
          enableLiveAutocompletion: true,
        }"
      />
</template>

<script setup lang="ts">
import { ref, onMounted, watch } from 'vue';
import { VAceEditor } from 'vue3-ace-editor';
// import 'ace-builds/src-noconflict/ext-beautify';
import 'ace-builds/src-noconflict/mode-sql'; // Load the language definition file used below
import 'ace-builds/src-noconflict/theme-cobalt'; // Load the theme definition file used below

import ace from 'ace-builds';

// import modeSqlUrl from 'ace-builds/src-noconflict/mode-sql?url';
// ace.config.setModuleUrl('ace/mode/sql', modeSqlUrl);

import snippetsSqlUrl from 'ace-builds/src-noconflict/snippets/sql?url';
ace.config.setModuleUrl('ace/snippets/sql', snippetsSqlUrl);


import 'ace-builds/src-noconflict/ext-language_tools';
// ace.require('ace/ext/language_tools');

// https://gist.github.com/yuvalherziger/aa48782568c6914b55066d290ff88360?permalink_comment_id=3899507
// fetch ace's language tools module:
let langTools = ace.require('ace/ext/language_tools');

const content = defineModel('pContent', { type: String, default: '' });
// const aceEditor = ref(null);
// data stub:
let sqlTables = [
  { name: 'users', description: 'Users in the system' },
  { name: 'userGroups', description: 'User' },
  { name: 'customers', description: 'Customer entries' },
  { name: 'companies', description: 'Legal entities of customers' },
  { name: 'loginLog', description: 'Log entries for user log-ins' },
  { name: 'products', description: 'Products offered in the system' },
  { name: 'productCategories', description: 'Different product categories' }
];

// create a completer object with a required callback function:
let sqlTablesCompleter = {
  getCompletions: function(editor: any, session: any, pos: any, prefix: any, callback: any) {
    callback(null, sqlTables.map(function(table) {
      return {
        caption: table.description,
        value: table.name,
        meta: 'Table'
      };
    }));
  }
};
// finally, bind to langTools:
langTools.addCompleter(sqlTablesCompleter);

</script>
