<template>
  <div>
     <SimpleTable
      :inputData='myrows'
      :model='model'
      :darkMode='idDarkMode'
    />
  </div>
</template>

<!--      :keyPressedApi="getPressedKey"-->

<script>
import SimpleTable from 'components/Table/Table2CurrentSimple.vue'
import { TableColumnModelType } from 'components/Table/Types/TableColumnType';
import { getPressedKey } from 'components/system/ActionWrapper.vue';
import {useQuasar} from 'quasar';

const connVariants = {
        postgres: {
          isEdit: false
        },
        redis: {
          isEdit: true
        }};

  export default {
    name: 'VirtCard2',
      components: {
      SimpleTable
    },
    props: {
      loadState: Boolean,
      columns:  Array,
      myrowkey: String,
      mytitle:  String,
      myrows:   Array,
      mydblclick: Function,
      delFunc:    Function,
      connVariant: String,
    },

    methods: {
      isEdit() {
        return connVariants[this.connVariant].isEdit;
      },
      getPressedKey() { return getPressedKey }
    },
    computed: {
      model() {
        // console.log('################# ::::', this.columns)
        return this.columns.map(it => new TableColumnModelType(it.label, 'string'))
      },
      idDarkMode() {
        return this.$q.dark.isActive;
      }
    },
    setup() {
      const $q = useQuasar();
        return {
          xmodel: [
            // new TableColumnModelType('name', 'string'),
            // new TableColumnModelType('ok', 'boolean'),
            // new TableColumnModelType('value', 'string'),
            // new TableColumnModelType('mode', 'string')
        ],
      }
    },

  };
</script>

<style lang="sass">
.my-sticky-dynamic
  /* height or max-height is important */
  max-height: 80vh

  .q-table__top.body--dark,
  .q-table__bottom.body--dark,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #888

  thead tr th
    position: sticky
    z-index: 1
  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 24px
  thead tr:first-child th
    top: 0

  /* prevent scrolling behind sticky top row on focus */
  tbody
    /* height of all previous header rows */
    scroll-margin-top: 24px
</style>
