<template>
  <q-splitter horizontal
    v-model="sizeTable"
    unit="%"
    style="height: 80vh"
    :separator-style="{ backgroundColor: '#1976D2', minHeight: '6px' }"
  >
    <template v-slot:before>
      <q-table flat bordered dense
          style="height: 390px"
          :visible-columns="getVisibleColumns()"
          :loading="loadState"
          virtual-scroll
          class="my-sticky-dynamic"
          :virtual-scroll-sticky-size-start="24"
          :title="mytitle"
          :rows-per-page-options="[0]"
          :row-key=myrowkey
          :rows="myrows"
          @row-dblclick="mydblclick"
      >
        <template v-if="isEdit()" v-slot:body-cell-mycol="props">
          <q-td :props="props">
            <q-icon name="edit" color="primary" size="xs" @click="editFunc(props)"/>
            <q-icon name="delete" color="negative" size="xs" @click="delFunc(props)"/>
          </q-td>
        </template>
      </q-table>
    </template>
    <template v-slot:separator>
      <q-icon size="30px" name="sym_o_more_horiz" />
    </template>
    <template v-if="true" v-slot:after>
        <div class="q-pa-md">
    <div class="q-gutter-y-md" style="max-width: 800px">
        <q-tabs
          v-model="tab"
          dense
          active-color="primary"
          indicator-color="primary"
        >
          <q-tab name="nv_spline" label="Spline"></q-tab>
          <q-tab name="nv_area" label="Area"></q-tab>
          <q-tab name="nv_candles" label="Candles + Spline + Area"></q-tab>
        </q-tabs>
        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="nv_spline">
            <nvCandles
              :chartsModel="chartNVModelSpline"
              :chartsData="chartNVCandle"
              :chartsTypes="[{type: 'Spline', mainField: 'Close' }]" />
          </q-tab-panel>
          <q-tab-panel name="nv_area">
            <nvCandles
              :chartsModel="chartNVModelArea"
              :chartsData="chartNVCandle"
              :chartsTypes="[{type: 'Area', mainField: 'High' }]" />
          </q-tab-panel>
          <q-tab-panel name="nv_candles">
            <nvCandles
              :chartsModel="chartNVModelCandles"
              :chartsData="chartNVCandle"
              :chartsTypes="chartNVTypes" />
          </q-tab-panel>
        </q-tab-panels>
      </div></div>
    </template>
  </q-splitter>
</template>

<script>
  import { defineComponent, ref, watch, onMounted } from 'vue';
  import { dbStyle, WebDBUniqIndex } from 'src/app/DbBrowser/myutils';
  import nvCandles from 'components/charts/nvCandles.vue';

  export default defineComponent({
    name: 'VirtCard',
    props: {
      loadState:   Boolean,
      columns:     Array,
      myrowkey:    String,
      mytitle:     String,
      myrows:      Array,
      mydblclick:  Function,
      delFunc:     Function,
      editFunc:    Function,
      connVariant: String,
    },

    components: {
      nvCandles,
    },

    setup(props) {
      const sizeTable = ref(40);
      const tab = ref('nv_spline');
      const chartNVCandle = ref([]);

      const chartNVModelSpline = ref([]);
      const chartNVModelCandles = ref( [
            'Open time',
            'Open',
            'High',
            'Low',
            'Close',
            'Volume'
      ]);
      const chartNVModelArea =  ref([]);

      const connVariants = {
        postgres: { isEdit: false },
        redis:    { isEdit: true  },
      };

      const chartNVTypes  = [
        {type: 'Candles', mainField: ''     },
        {type: 'Spline',  mainField: 'Open' },
        {type: 'Area',    mainField: 'High' },
      ];

      const isEdit = () => {
        return props.connVariant.length > 0 ? dbStyle[props.connVariant].isEdit : false;
      };

      const getVisibleColumns = () => {
        const result = (props.myrows.length === 0)
          ? []
          : Object.keys(props.myrows[0])
            .filter(item => item !== WebDBUniqIndex);
        return result;
      };

      const getDataForCharts = () => {
        chartNVCandle.value = props.myrows;
        chartNVModelSpline.value = ['Open time', 'Close']
      };

      const _chartNVModelArea = () => { return [
        'Open time',
        'High',
      ]};

      const _chartNVModelSpline = () => {
        console.log('SPLINE ################### ')
        return [
        'Open time',
        'Close',
      ]};

      const _chartNVModelCandles = () => ([
            'Open time',
            'Open',
            'High',
            'Low',
            'Close',
            'Volume'
      ]);

      watch(() => props.myrows, getDataForCharts);

      return {
        sizeTable,
        tab,
        isEdit,
        connVariants,
        chartNVCandle,
        chartNVTypes,

        chartNVModelSpline,
        chartNVModelCandles,
        chartNVModelArea,

        getVisibleColumns,
        getDataForCharts
      }
    },
  });
</script>

<style lang="sass">
.my-sticky-dynamic
  /* height or max-height is important */

  // max-height: 75vh

  .q-table__top.body--dark,
  .q-table__bottom.body--dark,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #888

  thead tr th
    position: sticky
    z-index: 1
  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 24px
  thead tr:first-child th
    top: 0

  /* prevent scrolling behind sticky top row on focus */
  tbody
    /* height of all previous header rows */
    scroll-margin-top: 24px
</style>
