<template>
  <q-dialog v-model="addDataFormVisible" @hide="$emit('hide-add-data')" no-esc-dismiss no-route-dismiss>
    <q-card style="width: 900px; max-width: 100vw;">
      <div class="text-center text-h5 q-py-lg">{{connectorName}}</div>
      <div class="row q-mb-lg q-ml-xs">
        <div class="col-2 q-my-auto"></div>
        <div class="col-2 text-h6 q-my-auto text-weight-regular">Set Name:</div>
        <q-input v-model ='keyNameInput' class="text-h6 q-pa-none q-my-auto textInput" :dense="true" filled type="text" />
      </div>
    <!--        <q-card-actions class="q-mt-lg q-mx-md q-mb-sm" align="left">-->
    <!--          <SimpleButton title="+" :onClick="addNewLine" color="primary" class="q-ml-lg" dense="dense"></SimpleButton>-->
    <!--          <SimpleButton title="—" :onClick="deleteLastLine" color="primary" class="q-mr-lg" dense="dense"></SimpleButton>-->
    <!--        </q-card-actions>-->
            <table class="table table-striped table-bordered q-mx-auto drop-table" @drop="(event) => onDrop(event, index)">
              <tr v-for="(line, index) in dataArray" :key="index" draggable="true" @dragstart="startDrag($event, index)">
                <div class="">
                  <td class="button-cell gap">mnjbhggvgvjhbhjbhhb</td>
                <td class="cell-params q-ml-xl">
                  <q-input v-model="line.name" @change=console.log(dataArray) class="text-h6" filled type="text" dense="dense"/>
                </td>
                <td class="cell-params">
                  <q-input v-model="line.value"  class="text-h6" filled type="text" dense="dense"/>
                </td>
                </div>
                <td class="button-cell _text-right">
                  <q-card-actions  align="right">
                    <SimpleButton title="+" :onClick="() => addNewLine(index)" color="primary" class="q-ml-lg" dense="dense"></SimpleButton>
                    <SimpleButton title="—" :onClick="() => deleteLastLine(index)" color="primary" class="q-mr-md" dense="dense"></SimpleButton>
                  </q-card-actions>
                </td>
              </tr>
            </table>
              <q-card-actions class="q-mt-lg q-pb-lg q-ml-xl" align="right">
                <SimpleButton title="DELETE" color="negative" class="q-mr-xl" v-show="deleteButtonIsActive" ></SimpleButton>
                <div class="col-4 q-my-auto"></div>
                <SimpleButton title="OK" :onClick="saveData" color="primary" class="q-mr-lg"></SimpleButton>
                <SimpleButton title="CANCEL" @click="closeDlg" class="cancel-button"></SimpleButton>
                <div class="col-2 q-my-auto"></div>

              </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">

import { ref, defineProps, watch, onBeforeMount } from 'vue';
import axios from 'axios';
import SimpleButton from '../components/SimpleButton.vue';
import { postData } from 'src/app/DbBrowser/myutils';

export default {
  name: 'AddDataIntoDB',
  props: {
    propVisible: Boolean,
    url: String,
    action: String,
    connector: String,
    schema: String,
    deleteButtonVisible: Boolean,
    optionalArrayData: {
      type: Array,
      default: () => []
    },
  },
  components: {
    SimpleButton,
  },
  setup(props: { propVisible: boolean; url: string; action: string; connector: string; schema: string; deleteButtonVisible: boolean; optionalArrayData: [{name: any, value: any}]}) {
    const addDataFormVisible = ref(false);
    // const dataArray = ref([{name: '', value: ''}]);
    let dataArray = ref(props.optionalArrayData);
    const keyNameInput = ref('');
    const connectorName = props.connector;
    const deleteButtonIsActive = props.deleteButtonVisible;

    const updVisibleState = () => {
      addDataFormVisible.value = props.propVisible;
      console.log('DLG LOGIN methods');
      console.log('connectorName ************************ {', connectorName, '}');
    };

    onBeforeMount(() => {
      addDataFormVisible.value = props.propVisible;
      console.log('DLG LOGIN BeforeMount: ', props.propVisible);
      if (dataArray.value.length > 0) {

      }
    });

    const closeDlg = () => {
      addDataFormVisible.value = false;
      dataArray.value = [{name: '', value: ''}];
      console.log('Cancel button! ', addDataFormVisible.value);
    };

    // const saveData = async () => {
    //   const data = {
    //     dataDB: dataArray.value,
    //   };
    //
    //   try {
    //     const response = await axios.post('http://localhost', data);
    //     console.log('*********************************************** ' + response.data);
    //     closeDlg();
    //   } catch (error) {
    //     console.error('Error saving data:', error);
    //   }
    // };

    const saveData = async () => {
      const url = props.url;
      const data = {
        action: props.action,
        connector: props.connector,
        schema: props.schema,
        key_name: keyNameInput.value,
        // key_name: dataArray.value[0].name,
        // value_key: dataArray.value[0].value,
        data: dataArray.value,

      };
      return await postData(url, data);
    };

    watch(() => props.propVisible, updVisibleState);

    onBeforeMount(() => {
      addDataFormVisible.value = props.propVisible;
      // console.log('DLG LOGIN BeforeMount: ', props.propVisible);
    });

    const addNewLine = (startIndex: number) => {
      dataArray.value.splice(startIndex + 1, 0, {name: '', value: ''});
    }

    const deleteLastLine = (startIndex: number) => {
      dataArray.value.length > 1 ? dataArray.value.splice(startIndex, 1) : dataArray.value = [{name: '', value: ''}];
    }

    const startDrag = (event: any, itemId: any) => {
      console.log('***************-------------------++++++++++++++++++', itemId);
      event.dataTransfer.dropEffect = 'move';
      event.dataTransfer.effectAllowed = 'move';
      event.dataTransfer.setData('itemId', itemId);
    }

    const onDrop = (event: any, targetIndex: number) => {
      const itemId = event.dataTransfer.getData('itemId');
      const startIndex = parseInt(itemId);

      // Видаляємо елемент зі стартової позиції
      const [item] = dataArray.value.splice(startIndex, 1);

      // Вставляємо елемент на нову позицію
      dataArray.value.splice(targetIndex, 0, item);
    }

    return {
      addDataFormVisible,
      dataArray,
      keyNameInput,
      connectorName,
      deleteButtonIsActive,
      addNewLine,
      deleteLastLine,
      saveData,
      closeDlg,
      startDrag,
      onDrop
    };
  },
};
</script>

<style>
  .add-data-window {
    max-width: none !important;
    width: 900px;
    height: 600px;
  }

  .cell-params {
    width: 300px;
    height: 25px;
    /*min-height: 25px;*/
  }

  .gap {
    opacity: 0;
  }

  .drop-table {
    min-height: 10px;
  }

  .button-cell {
    /*text-align: right;*/
    border: none;
  }

  .textInput {
    width:450px;
  }

  .cancel-button {
    background: white;
    color: black;
  }

</style>
