<template>
  <q-dialog v-model="loginFormVisible" @hide="$emit('hide-change-pass')" no-esc-dismiss no-route-dismiss>
    <div role="dialog" aria-labelledby="modalTitle" aria-describedby="modalDescription">
      <q-card style="width: 400px; height: 365px">
        <q-card-section class="text-center">
          <div class="text-h5 q-mb-lg">Change password</div>
          <q-input v-model="login" class="text-h6 q-mb-md q-mr-md q-ml-md" filled type="text" label="Login" />
          <q-input v-model="password" class="text-h6 q-mb-md q-mr-md q-ml-md" filled :type="isPwd ? 'password' : 'text'" label="Password">
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
          <q-input
            v-model="confirmPass"
            class="text-h6 q-mb-md q-mr-md q-ml-md"
            filled
            :type="isPass ? 'password' : 'text'"
            label="Confirm password"
          >
            <template v-slot:append>
              <q-icon
                :name="isPass ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPass = !isPass"
              />
            </template>
          </q-input>

          <q-card-actions class="q-mt-lg" align="center">
            <SimpleButton title="SAVE" :onClick="saveData" color="primary" class="q-mr-lg"></SimpleButton>
            <SimpleButton title="CANCEL" @click="$emit('hide-change-pass')" color="negative"></SimpleButton>
          </q-card-actions>
        </q-card-section>
      </q-card>
    </div>
  </q-dialog>
</template>

<script lang="ts">
import { ref, defineProps, watch, onBeforeMount } from 'vue';
import axios from 'axios';
import SimpleButton from '../components/SimpleButton.vue';
import { postData } from 'src/app/DbBrowser/myutils';

export default {
  name: 'ChangePassword',
  props: {
    propVisible: Boolean,
  },
  components: {
    SimpleButton,
  },
  setup(props: { propVisible: boolean; }) {
    const loginFormVisible = ref(false);
    const login = ref('');
    const password = ref('');
    const confirmPass = ref('');
    const isPwd = ref(true);
    const isPass = ref(true);

    const updVisibleState = () => {
      loginFormVisible.value = props.propVisible;
      console.log('DLG LOGIN methods');
    };

    const showLoginForm = () => {
      loginFormVisible.value = true;
    };

    const cancelLogin = () => {
      loginFormVisible.value = false;
      console.log('Cancel button! ', loginFormVisible.value);
    };

    const saveData = async () => {
      const data = {
        username: login.value,
        password_old: password.value,
        password_new: confirmPass.value,
      };

      try {
        const response = await postData('change_password/', data);
        console.log('*********************************************** ' + response.data);
      } catch (error) {
        console.error('Error saving data:', error);
      }
    };

    watch(() => props.propVisible, updVisibleState);

    onBeforeMount(() => {
      loginFormVisible.value = props.propVisible;
      // console.log('DLG LOGIN BeforeMount: ', props.propVisible);
    });

    return {
      loginFormVisible,
      login,
      password,
      confirmPass,
      isPwd,
      isPass,
      saveData,
      showLoginForm,
      cancelLogin,
    };
  },
};
</script>
