<template>
  <!--    <div class="q-pa-xs text-body1">-->
  <!--      <q-chip square clickable dense-->
  <!--        @click="splitterToggle('s1')"-->
  <!--        :color="splitters.s1.enable ? 'primary' : 'teal'"-->
  <!--        text-color="white"-->
  <!--        icon="sym_o_database">-->
  <!--          Connectors-->
  <!--      </q-chip>-->
  <!--      <q-chip square clickable dense-->
  <!--        @click="splitterToggle('s3')"-->
  <!--        :color="splitters.s3.enable ? 'primary' : 'teal'"-->
  <!--        text-color="white"-->
  <!--        icon="table_chart">-->
  <!--          Tables-->
  <!--      </q-chip>-->
  <!--      <q-chip square clickable dense-->
  <!--        @click="splitterToggle('s4')"-->
  <!--        :color="splitters.s4.enable ? 'primary' : 'teal'"-->
  <!--        text-color="white"-->
  <!--        icon="table_rows">-->
  <!--          Rows-->
  <!--      </q-chip>-->
  <!--    </div>-->
  <q-dialog v-model="dlgActive.JSONViewer">
    <q-card>
      <q-card-section>
        JSON viewer
      </q-card-section>
      <q-card-section>
        <JsonViewer copyable boxed sort theme="dark" :allowImageShow="true" :value="JSONViewerVal" />
      </q-card-section>
    </q-card>
  </q-dialog>
  <q-dialog v-model="dlgActive.RowViewer">
    <q-card>
      <q-card-section>
        <div class="text-h6">View</div>
      </q-card-section>
      <q-card-section style="max-height: 50vh" class="scroll">
        <table border="1">
          <tr>
            <th>Field name</th>
            <th>Value</th>
          </tr>
          <tr v-for="(val, name) in dialogText" :key="name">
            <td>{{ name }}</td>
            <td>{{ val }}</td>
            <td v-if="isJSON(val)"><q-btn @click="showJSON(val)">JSON</q-btn></td>
          </tr>
        </table>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat label="OK" color="primary" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
  <q-dialog v-model="dlgActive.editRow">
    <q-card>
      <q-card-section>
        <div class="text-h6">Edit</div>
      </q-card-section>
      <q-card-section style="max-height: 50vh" class="scroll">
        <table border="1">
          <tr>
            <th>Field name</th>
            <th>Value</th>
          </tr>
          <tr v-for="(val, name) in dialogText" :key="name">
            <td>{{ name }}</td>
            <td>{{ val }}</td>
            <td v-if="isJSON(val)"><q-btn @click="showJSON(val)">JSON</q-btn></td>
          </tr>
        </table>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat label="OK" color="primary" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>

  <q-splitter v-show="showSlitters" v-model="splitters.s1.size" unit="%" style="height: 90vh;"
    :separator-style="separatorStyle">
    <template v-slot:before>
      <q-splitter v-model="splitters.s3.size" unit="%" :emit-immediately="false" :limits="[10, 90]"
        :separator-style="separatorStyle" @update:model-value="(e) => console.log('QUASAR moved!!!', e)">
        <template v-slot:before>
          <q-splitter horizontal v-model="splitters.s2.size" unit="%" :separator-style="separatorStyle">
            <template v-slot:before>
              <SuperCard mytitle="/connectors" myrowkey="name" :view-system="undefined" :myrows=answConnectors
                stored-key-name="connectors" :mycolumns="colConnectors" :loadState="loadState.connectors" :myclick="(e: Event, r: { 'name': string; 'type_name': string; 'id': string }) => {
    currentConnection.connector.type = r['type_name'];
    openConnector({ name: r['name'], id: Number(r['id']), type: r['type_name'] });
  }" />
              <!-- :mydblclick="(e: Event, r: Object) => showTableCard(r)" -->
            </template>
            <template v-slot:separator>
              <q-icon size="30px" name="sym_o_more_horiz" />
            </template>
            <template v-slot:after>
              <ConnInfoCard :pJSON="answConnInfo.data" :pTitle="currentConnection.connector.name" />
            </template>
          </q-splitter>
        </template>
        <template v-slot:separator>
          <q-icon size="30px" name="sym_o_more_vert" />
        </template>
        <template v-slot:after>
          <q-splitter horizontal v-model="splitters.s5.size" unit="%" style="height: 90vh"
            :separator-style="separatorStyle">
            <template v-slot:before>
              <!-- <ConnModButtons
                  :propCurrConnTypeName="currentConnection.connector.type"
                  :propConnectorName="currentConnection.connector.name"
                  :propCatalog="currentConnection.catalog"
                  :propRefreshFn="() => openConnector(currentConnection.connector, true)"
                  /> -->
              <div>
                <DatabaseCatalogView :mytitle="currentConnection.connector.name" dense hide-pagination myrowkey="name"
                  :myrefresh="tableRefresh"
                         :myscience="tableScience"
                         :extrainfo="extraInfo"
                  :myicon="(currentConnection.connector.type.length > 0) ? 'img:' + dbStyle[currentConnection.connector.type].icon : ''"
                  :mycolumns="[]" :view-system="false" :stored-key-name="'dbweb-' + currentConnection.connector.name"
                  :loadState="loadState.catalog" :myclick="viewTable"
                  :myrows="answCatalog.filter((row: ICatalogItem) => String(row.schema).includes(filtrSchema))"
                  :mydblclick="(e: Event, row: ICatalogItem) => showTableCard(row)" />
              </div>
            </template>
            <template v-slot:separator>
              <q-icon size="30px" name="sym_o_more_horiz" />
            </template>
            <template v-if="true" v-slot:after>
              <div>
                <q-table flat bordered dense title="Schemes" style="height: 390px"
                  @row-click="(e, r, i) => filtrSchema = r.schema || ''" :columns="getColNameFromRows(getSchemes())"
                  :rows-per-page-options="[0]" :rows="getSchemes()" />
              </div>
            </template>
          </q-splitter>
        </template>
      </q-splitter>
    </template>
    <template v-slot:separator>
      <div ref="separatorV1"
        style="height: 100%; vertical-align: center; opacity: 0; width: 20px; background-color: #1976D2">
        <!-- <q-icon size="10px" name="sym_o_more_vert" /> -->
      </div>
    </template>
    <template v-slot:after>
      <div ref="DatabaseTableViewHorSplitter">
        <div class="q-pa-xs">
          <div v-if="isLogin" class="q-gutter-xs">
            <q-btn dense icon="cleaning_services" @click="clearOpenTabs" size="sm">
              <q-tooltip class="text-body2">Delete all inactive tabs!</q-tooltip>
            </q-btn>
            <TransitionGroup name="list">
              <q-chip dense square :outline="!(key === currentConnection.catalog.name)" v-for="(value, key) in openTabs"
                :key="key" style="transition-property: all; transition-duration: 0.3s" removable clickable
                v-model="openTabs[key].status" color="primary" text-color="white"
                :icon="'img:' + dbStyle[openTabs[key].connTypeName].icon" @remove="delete openTabs[key]"
                @click="openTab(openTabs[key].connName, openTabs[key].catalog, openTabs[key].connTypeName)">
                {{ key }}
              </q-chip>
            </TransitionGroup>
          </div>
        </div>
        <DatabaseTableView dense hide-pagination
            :myrefresh="tableRefresh"
            :myscience="tableScience"
            :resourceName="fullResourceName()"
            :myrowkey=WebDBUniqIndex
            :connVariant=currentConnection.connector.type
            :mytitle="currentConnection.catalog.name"
            :loadState="loadState.fetch"
            :columns="getColNameFromRows(answFetch)"
            :myrows=answFetch
            :mydblclick="(e: Event, r: {}) => showTableCard(r)"
        />
        <!-- :delFunc="row => delFunc(row)"   пиктограмы  удаления и редактирования в самой таблице -->
        <!-- :editFunc="row => editFunc(row)" отключены, т.к. Макс сделал отдельно блок кнопокю Если что - нужно адаптировать перед включением -->
        <!-- :columns="colFetch" -->
      </div>
    </template>
  </q-splitter>
  <PopUpWindow v-if="showJSONViewer" :title="`${currentConnection.connector.name}/${currentConnection.catalog.name}`"
    v-model:visible="showJSONViewer" :size="{ height: 600, width: 500 }">
    <ConnInfoCard :pJSON="scienceData" :pTitle="currentConnection.catalog.name" />
  </PopUpWindow>
  <EditConnector />

</template>

<!-- <script> -->

<script lang="ts" setup>

import { onMounted, ref, watch, reactive, nextTick } from 'vue';
import DatabaseCatalogView from '../components/DatabaseCatalogView.vue';
import DatabaseTableView from '../components/DatabaseTableView.vue';
// import DatabaseTableView from '../components/DatabaseTableViewSergii.vue';
import SuperCard from '../components/SuperCard.vue';
import ConnInfoCard from 'src/app/DbBrowser/components/ConnInfoCard.vue';
import { JsonViewer } from 'vue3-json-source-viewer';
import 'vue3-json-source-viewer/dist/index.css';
import {
  isLogin, isJSON, getConnectors, currentConnection,
  getConnectorInfo, getCatalog, getFetch, dbStyle,
  storeKey, restoreKey, WebDBUniqIndex, getScience,
  answConnectors, answConnInfo, answFetch
} from 'src/app/DbBrowser/myutils';
import * as localSettings from 'src/local_settings';
import ConnModButtons from '../components/ConnModButtons.vue';
import { ICatalogItem, IColumns, IConnector } from '../myinterfaces';
import { RecordInterface, TableRecordType } from 'src/app/DbBrowser/interfaces/general';
import { $$ } from 'src/system/utils';
import { CONTENT_TABLE_RESIZE } from 'src/app/DbBrowser/interfaces/events';
import PopUpWindow from '../components/PopUpWindow.vue';
import EditConnector from '../components/DlgSourcesDB/EditConnector.vue'

interface IOpenTabs {
  [keyname: string]: {
    status: boolean,
    connTypeName: string,
    connName: IConnector,
    catalog: ICatalogItem
    // tableName   : string,
    // schemaName  : string
  }
}

interface Splitters {
  [keyname: string]: {
    size: number,
    enable: boolean,
    stored_size: number,
    swap?: boolean,
  }
}
const showJSONViewer = ref(false);
const openTabs = ref({} as IOpenTabs);
const showSlitters = ref(true);
const splitters = ref({
  's1': { size: 50, stored_size: 50, enable: true },
  's2': { size: 35, stored_size: 35, enable: true },
  's3': { size: 50, stored_size: 50, enable: true },
  's4': { size: 50, stored_size: 50, enable: true },
  's5': { size: 40, stored_size: 40, enable: true, swap: false }
} as Splitters);

const separatorStyle = { backgroundColor: '#1976D2', minHeight: '6px', minWidth: '6px' };

const separatorV1 = ref(null);
$$.trackMoving(separatorV1.value, (startX: number, startY: number, currentX: number, currentY: number) => {
  raizeWrapperInfo();
}, CONTENT_TABLE_RESIZE);

$$.addEventListener(window, 'resize', (e: MessageEvent) => {
  raizeWrapperInfo();
});

const DatabaseTableViewHorSplitter = ref<HTMLInputElement | null>(null);
const raizeWrapperInfo = () => {
  const splitter = DatabaseTableViewHorSplitter.value;
  if (splitter) {
    const parent = splitter.parentElement;
    const parentStyle = parent?.style;
    if (parentStyle !== undefined) {
      parentStyle['overflow'] = 'hidden';
    }
    const rect = splitter.getBoundingClientRect();
    const wrapperVisibleWidth = rect.width;
    $$.raiseEvent('DatabaseTableViewResizeX', undefined, { wrapperVisibleWidth });
  }
}

const clearOpenTabs = () => {
  console.log('clear all tabs')
  Object.keys(openTabs.value).forEach(tab => {
    if (tab != currentConnection.catalog.name) delete openTabs.value[tab]
  })
}

const splitterToggle = (name: string) => {
  splitters.value[name].enable = !splitters.value[name].enable;
  const sState = {
    s1: splitters.value['s1'].enable,
    s3: splitters.value['s3'].enable,
    s4: splitters.value['s4'].enable,
  };
  switch (name) {
    case 's1':
      if (sState.s3 && sState.s4) {
        splitters.value['s3'].size = sState.s1 ? splitters.value['s3'].stored_size : 0;
        break;
      }

      if (!sState.s3 && sState.s4) {
        splitters.value['s1'].size = sState.s1 ? splitters.value['s1'].stored_size : 0;
        break;
      }

      if (sState.s3 && !sState.s4) {
        splitters.value['s3'].size = sState.s1 ? splitters.value['s3'].stored_size : 0;
        break;
      }
      showSlitters.value = sState.s1
      break;

    case 's3':
      if (sState.s1 && sState.s4) {
        splitters.value['s3'].size = sState.s3 ? splitters.value['s3'].stored_size : 100;
        break;
      }

      if (!sState.s1 && sState.s4) {
        splitters.value['s1'].size = sState.s3 ? splitters.value['s1'].stored_size : 0;
        break;
      }

      if (sState.s1 && !sState.s4) {
        splitters.value['s3'].size = sState.s3 ? splitters.value['s3'].stored_size : 100;
        break;
      }
      showSlitters.value = sState.s3
      break;
    case 's4':
      if (sState.s1 && sState.s3) {
        splitters.value['s1'].size = sState.s4 ? splitters.value['s1'].stored_size : 100;
        break;
      }

      if (!sState.s1 && sState.s3) {
        splitters.value['s1'].size = sState.s4 ? splitters.value['s1'].stored_size : 100;
        break;
      }

      if (sState.s1 && !sState.s3) {
        splitters.value['s1'].size = sState.s4 ? splitters.value['s1'].stored_size : 100;
        break;
      }
      showSlitters.value = sState.s4
  }
  console.log('toggle ', name)
};

const dlgActive = ref({
  RowViewer: false,
  JSONViewer: false,
  editRow: false,
  dlgConfirm: false,
});

// const databaseTableViewWrapper = ref(null);
const JSONViewerVal = ref('');
// const answConnectors  = ref([]);
// const answConnInfo    = ref({'data': {}});
// const answFetch       = ref([] as any);
const tableModel = ref([] as RecordInterface[]);
const colConnectors = ref([] as object[]);
const dlgConfirmText = ref('');
const dialogText = ref({});

const answCatalog = ref([]);
const filtrSchema = ref('');
// let connectorName = reactive({name: '', id: -1} as IConnector);

// const catalog = ref({
//     name:   '',
//     schema: '',
//     path:   ''
//   })

// let catalog = reactive({
//   schema: '',
//   system: false,
//   name:   '',
//   path:   ''
// } as ICatalogItem);

const loadState = reactive({
  connectors: false,
  catalog: false,
  fetch: false,
  science: false
});

const scienceData = ref({});

const showJSON = (val: any) => {
  JSONViewerVal.value = JSON.parse(val);
  dlgActive.value.JSONViewer = true;
};

const fullResourceName = () =>
  `${currentConnection.connector.name}:${currentConnection.catalog.schema}:${currentConnection.catalog.name}`;

const extraInfo = (mode: string, action = 'analysis') => {
  return ''
}

const tableScience = (mode: string, action = 'analysis') => {
  const directoryName = isFilesystem(currentConnection.catalog);
  getScience(currentConnection.connector.name, currentConnection.catalog.name, currentConnection.catalog.schema, directoryName, mode, action).then(val => {
    console.log('SCIENCE ', val.rows[0][currentConnection.catalog.name])
    scienceData.value = JSON.parse(val.rows[0][currentConnection.catalog.name]) || {};
    showJSONViewer.value = true;
    loadState.science = false;
    // answFetch.value = val.rows;


  })
    .catch((err) => {
      console.log('SCIENCE ERROR ', err)

      // тест отображения ответа JSON!!!. Сервер ПОКА выдает в ответ ошибку, поэтому обрабатываем в .catch.
      // const testjson = {'_WebDBUniqIndex': 0, 'TEST JSON getSciense': '{ "id": 1, "name": "Leanne Graham", "username": "Bret", "email": "Sincere@april.biz" }'};
      // answFetch.value = [testjson];
    });
}

const tableRefresh = (tableName: string, refresh = false) => {
  // const directoryName = ((catalog.schema === 'directory')||(catalog.schema === 'file')) ? catalog.path : undefined;
  const fullDirectoryName = isFilesystem(currentConnection.catalog);
  const directoryName = (refresh && (fullDirectoryName != undefined))
    ? fullDirectoryName.replace(new RegExp('/' + currentConnection.catalog.name + '$'), '')
    : fullDirectoryName;
  // console.log('!!!!!!!!!!!!DIR ', currentConnection.catalog.name, '  fullDirectrory: ', fullDirectoryName, ' replace: ', directoryName);
  switch (tableName) {
    case 'catalog':
      loadState.catalog = true;
      answCatalog.value = [];
      getCatalog(currentConnection.connector, directoryName, refresh).then(val => {
        loadState.catalog = false;
        answCatalog.value = val;
        filtrSchema.value = '';
      });
      break;
    case 'fetch':
      loadState.fetch = true;
      answFetch.value = [];
      // console.log(' FETCH refresh:', refresh, ' Fulldirectory:', fullDirectoryName);
      getFetch(currentConnection.connector, currentConnection.catalog, fullDirectoryName, refresh)
        .then(val => {
          if ('TABS_SAVE_ALL' in localSettings) {
            if (localSettings['TABS_SAVE_ALL']) {
              openTabs.value[currentConnection.catalog.name] = {
                status: true,
                connTypeName: currentConnection.connector.type,
                connName: currentConnection.connector,
                catalog: Object.assign({}, currentConnection.catalog)
                // tableName: catalog.name,
                // schemaName: catalog.schema,
                // tablePath: catalog.path
              };
            }
          }

          answFetch.value = val.rows;
          currentConnection.catalog.sql = val.meta['query'] || '';

          // console.log('NEW FATCH VALUE = ', val.rows);
          tableModel.value = [{ name: 'mycol', label: 'EDIT' },
          ...val.meta['model'].map((item: TableRecordType) => ({
            name: item.name,
            label: item.name,
            field: item.name,
            type: item.type,
            format: (val: any) => JSON.stringify(val),
          }))];
          loadState.fetch = false;
        }
        );
  } //switch
};

const openConnector = (connector: IConnector, reload = false) => {
  if (currentConnection.connector.name === connector.name && !reload) return;
  loadState.catalog = true
  answCatalog.value = [];
  currentConnection.connector = Object.assign({}, connector);
  getConnectorInfo(connector).then(val => {
    // console.log('CONINFO = ', val['data'] ? val : {data: {}})
    answConnInfo.value = val['data'] ? val : { data: {} }
  });
  getCatalog(connector, undefined, reload).then(val => {
    loadState.catalog = false;
    answCatalog.value = val;
    filtrSchema.value = '';
  });
};

const showTableCard = (row: any) => {
  // console.log('row = ', row);
  if (row['schema'] === 'directory') {
    loadState.catalog = true;
    answCatalog.value = [];
    getCatalog(currentConnection.connector, row['path'])
      .then(val => {
        answCatalog.value = val;
        filtrSchema.value = '';
        answFetch.value = [];
        loadState.catalog = false;
      }
      );
    return;
  }
  dialogText.value = row;
  dlgActive.value.RowViewer = true;
};

const viewTable = (e: Event, row: ICatalogItem) => {
  if (currentConnection.catalog.name !== row['name']) {
    currentConnection.catalog.name = row['name'];
    currentConnection.catalog.schema = row['schema'];

    if ((row['schema'] === 'directory') || (row['schema'] === 'file')) currentConnection.catalog.path = row['path']
    tableRefresh('fetch');
  }
};


const getColNameFromRows = (rows: object[]) => {
  // console.log('ColNameFromRows=', rows)  ;

  if (rows.length === 0) return [];
  const keys = Object.keys(rows[0]);
  const res: IColumns[] = keys
    .filter(item => item !== WebDBUniqIndex)
    .map(keyname => ({
      name: keyname,
      label: keyname,
      field: keyname,
      align: 'left'
    }));
  // console.log('ColNameFromRows=', res)  ;
  return res;
};

const getSchemes = () => {
  if (!answCatalog.value) return [];
  const uniqSchemes = new Set(answCatalog.value.filter(item => !item['system']).map(item => item['schema']));
  const res = Array.from(uniqSchemes).map(item => ({ schema: item }));
  return res;
};

const isFilesystem = (catalogue: ICatalogItem) => {
  return (catalogue.schema === 'directory' || catalogue.schema === 'file') ? catalogue.path : undefined;
}

const openTab = (connector: IConnector, catalog: ICatalogItem, connTypeName: string) => {
  openConnector(connector);
  currentConnection.connector.type = connTypeName;
  // const directoryName = isFilesystem(currentConnection.catalog);
  const directoryName = isFilesystem(catalog);
  // console.log('!!!!!!!!!!!!DIR', currentConnection.catalog);

  getFetch(connector, catalog, directoryName)
    .then(val => {
      currentConnection.catalog = Object.assign({}, catalog);
      currentConnection.catalog.sql = val.meta['query'] || '';
      // catalog.name = catalogName.name;
      // catalog.schema = catalogName.schema;
      // catalog.value.path = pathName;
      answFetch.value = val.rows;
      tableModel.value = val.meta['model'].map((item: { 'name': string }) => ({
        name: item.name,
        label: item.name,
        field: item.name,
        // format: (val) => JSON.stringify(val),
      }));
    });
};

const firstConnect = () => {
  console.log('First connect Login', isLogin.value);
  openTabs.value = restoreKey('open_tabs') || {};

  if (isLogin.value) getConnectors().then(val => {
    answConnectors.value = val;
    colConnectors.value = [{ name: 'mycol', label: 'DB', align: 'left' }]
    for (let item in val[0]) {
      colConnectors.value.push({ name: item, label: item, field: item, align: 'left' })
    }
  })
  else {
    answConnectors.value = [];

    answCatalog.value = [];
    answFetch.value = [];
    currentConnection.connector = { name: '', id: -1, type: '' }
    currentConnection.catalog = { name: '', path: '', schema: '', system: false, sql: '' };
    tableModel.value = [];
  }
};

watch(splitters, newValue => {
  const sState = {
    s1: newValue['s1'].enable,
    s3: newValue['s3'].enable,
    s4: newValue['s4'].enable,
  };

  // if (!sState.s1) {
  //   if ( sState.s3 &&  sState.s4) splitters.value.s1.enable = !(splitters.value.s3.size === 0);
  //   if ( sState.s3 && !sState.s4) splitters.value.s1.enable = !(splitters.value.s3.size === 0);
  //   if (!sState.s3 &&  sState.s4) splitters.value.s1.enable = !(splitters.value.s1.size === 0);
  // }

  // if (sState.s1) {
  //   if ( sState.s3 &&  sState.s4) splitters.value.s1.enable = !(splitters.value.s3.size === 0);
  //   if ( sState.s3 && !sState.s4) splitters.value.s1.enable = !(splitters.value.s3.size === 0);
  //   if (!sState.s3 &&  sState.s4) splitters.value.s1.enable = !(splitters.value.s1.size === 0);
  // }

  // splitters.value.s1.enable = !(splitters.value.s3.size === 0);
  // slotAfter.value  =  newValue.s5.swap ? 'before' : 'after';
  // slotBefore.value = !newValue.s5.swap ? 'before' : 'after';
  storeKey('splitters_size', newValue)
}, { deep: true }
);

watch(openTabs, newValue => {
  storeKey('open_tabs', newValue)
}, { deep: true }
);

watch(isLogin, firstConnect);

onMounted(() => {
  firstConnect();
  const storeSplitters = restoreKey('splitters_size');
  if (storeSplitters === undefined) {
    // storeKey('splitters_size', splitters.value)
  } else {
    splitters.value = storeSplitters;
  }

});

</script>

<style lang="sass">
.thead-sticky tr > *,
.tfoot-sticky tr > *
  position: sticky
  opacity: 1
  z-index: 1
  background: black
  color: white

.thead-sticky tr:last-child > *
  top: 0

.tfoot-sticky tr:first-child > *
  bottom: 0
</style>

<style>
.list-move,
/* применять переход к движущимся элементам */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* убедитесь, что удаляющиеся элементы выведены из потока, чтобы
анимации перемещения могли быть рассчитаны правильно. */
.list-leave-active {
  position: absolute;
}


::-webkit-scrollbar {
  height: 12px;
  width: 14px;
  background: transparent;
  z-index: 12;
  overflow: visible;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #00b4ff;
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-transition: background-color .28s ease-in-out;
  transition: background-color .28s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px
}

::-webkit-scrollbar-thumb:hover {
  background: #00b4ff
}
</style>
