<template>
  <!--    <div class="q-pa-xs text-body1">-->
  <!--      <q-chip square clickable dense-->
  <!--        @click="splitterToggle('s1')"-->
  <!--        :color="splitters.s1.enable ? 'primary' : 'teal'"-->
  <!--        text-color="white"-->
  <!--        icon="sym_o_database">-->
  <!--          Connectors-->
  <!--      </q-chip>-->
  <!--      <q-chip square clickable dense-->
  <!--        @click="splitterToggle('s3')"-->
  <!--        :color="splitters.s3.enable ? 'primary' : 'teal'"-->
  <!--        text-color="white"-->
  <!--        icon="table_chart">-->
  <!--          Tables-->
  <!--      </q-chip>-->
  <!--      <q-chip square clickable dense-->
  <!--        @click="splitterToggle('s4')"-->
  <!--        :color="splitters.s4.enable ? 'primary' : 'teal'"-->
  <!--        text-color="white"-->
  <!--        icon="table_rows">-->
  <!--          Rows-->
  <!--      </q-chip>-->
  <!--    </div>-->
  <q-dialog v-model="dlgActive.JSONViewer">
    <q-card>
      <q-card-section>
        JSON viewer
      </q-card-section>
      <q-card-section>
        <JsonViewer copyable boxed sort theme="dark" :allowImageShow="true" :value="JSONViewerVal" />
      </q-card-section>
    </q-card>
  </q-dialog>
  <q-dialog v-model="dlgActive.RowViewer">
    <q-card>
      <q-card-section>
        <div class="text-h6">View</div>
      </q-card-section>
      <q-card-section style="max-height: 50vh" class="scroll">
        <table border="1">
          <tr>
            <th>Field name</th>
            <th>Value</th>
          </tr>
          <tr v-for="(val, name) in dialogText" :key="name">
            <td>{{ name }}</td>
            <td>{{ val }}</td>
            <td v-if="isJSON(val)"><q-btn @click="showJSON(val)">JSON</q-btn></td>
          </tr>
        </table>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat label="OK" color="primary" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
  <q-dialog v-model="dlgActive.editRow">
    <q-card>
      <q-card-section>
        <div class="text-h6">Edit</div>
      </q-card-section>
      <q-card-section style="max-height: 50vh" class="scroll">
        <table border="1">
          <tr>
            <th>Field name</th>
            <th>Value</th>
          </tr>
          <tr v-for="(val, name) in dialogText" :key="name">
            <td>{{ name }}</td>
            <td>{{ val }}</td>
            <td v-if="isJSON(val)"><q-btn @click="showJSON(val)">JSON</q-btn></td>
          </tr>
        </table>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat label="OK" color="primary" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>

  <q-splitter v-show="showSlitters" v-model="splitters.s1.size" unit="%" style="height: 87vh;"
    :separator-style="separatorStyle">
    <template v-slot:before>
      <q-splitter v-model="splitters.s3.size" unit="%" :emit-immediately="false" :limits="[10, 90]"
        :separator-style="separatorStyle" @update:model-value="(e) => console.log('QUASAR moved!!!', e)">
        <template v-slot:before>
          <q-splitter horizontal v-model="splitters.s2.size" unit="%" :separator-style="separatorStyle">
            <template v-slot:before>
              <SuperCard mytitle="/connectors"
                myrowkey="name"
                stored-key-name="connectors"
                :view-system="undefined"
                :myrows=answConnectors
                :mycolumns="colConnectors"
                :loadState="loadState.connectors"
                :myclick="(e: Event, r: { 'name': string; 'type_name': string; 'id': string }) => {
                  currentConnection.connector.type = r['type_name'];
                  openConnector({ name: r['name'], id: Number(r['id']), type: r['type_name'] });
                }"
                @openEditConnector="openEditConnector"
                :show-processes="connDblClick"
                />
              <!-- :mydblclick="(e: Event, r: Object) => showTableCard(r)" -->
            </template>
            <template v-slot:separator>
              <q-icon size="30px" name="sym_o_more_horiz" />
            </template>
            <template v-slot:after>
              <ConnInfoCard :pJSON="answConnInfo.data" :pTitle="currentConnection.connector.name" />
            </template>
          </q-splitter>
        </template>
        <template v-slot:separator>
          <q-icon size="30px" name="sym_o_more_vert" />
        </template>
        <template v-slot:after>
          <!-- <q-splitter horizontal v-model="splitters.s5.size" unit="%" style="height: 87vh" :separator-style="separatorStyle">
            <template v-slot:before> -->
              <!-- <ConnModButtons
                  :propCurrConnTypeName="currentConnection.connector.type"
                  :propConnectorName="currentConnection.connector.name"
                  :propCatalog="currentConnection.catalog"
                  :propRefreshFn="() => openConnector(currentConnection.connector, true)"
                  /> -->
              <div>
                <DatabaseCatalogView
                  :mytitle="currentConnection.connector.name" dense hide-pagination myrowkey="name"
                  :myrefresh="tableRefresh"
                  :myscience="tableScience"
                  :extrainfo="extraInfo"
                  :myicon="(currentConnection.connector.type.length > 0) ? 'img:' + dbConnectors[currentConnection.connector.type].icon : ''"
                  :mycolumns="[]"
                  :view-system="false"
                  :stored-key-name="'dbweb-' + currentConnection.connector.name"
                  :loadState="loadState.catalog"
                  :myclick="viewTable"
                  :myrows="answCatalog.filter((row: ICatalogItem) => String(row.schema).includes(filtrSchema))"
                  :mydblclick="(e: Event, row: ICatalogItem) => showTableCard(row)" />
              </div>
            <!-- </template>
            <template v-slot:separator>
              <q-icon size="30px" name="sym_o_more_horiz" />
            </template>
            <template v-if="true" v-slot:after> -->

              <!-- <div>
                <q-table flat bordered dense title="Schemes" style="height: 390px"
                  @row-click="(e, r, i) => filtrSchema = r.schema || ''" :columns="getColNameFromRows(getSchemes())"
                  :rows-per-page-options="[0]" :rows="getSchemes()" />
              </div>
            </template>
          </q-splitter> -->
        </template>
      </q-splitter>
    </template>
    <template v-slot:separator>
      <div ref="separatorV1">
         <q-icon size="20px" name="sym_o_more_vert" />
      </div>
    </template>
    <template v-slot:after>
      <div ref="DatabaseTableViewHorSplitter">
        <div class="q-pa-xs">
          <div v-if="isLogin" class="q-gutter-xs">
            <q-btn dense icon="cleaning_services" @click="clearOpenTabs" size="sm">
              <q-tooltip class="text-body2">Delete all inactive tabs!</q-tooltip>
            </q-btn>
            <TransitionGroup name="list">
              <q-chip dense square removable clickable
                style="transition-property: all; transition-duration: 0.3s"
                v-model="openTabs[key].status"
                color="primary"
                text-color="white"
                :outline="!(key === currentConnection.catalog.name)"
                :key="key"
                :icon=iconByKey(key)
                @remove="delete openTabs[key]"
                @click="openTab(openTabs[key].connName, openTabs[key].catalog, openTabs[key].connTypeName)"
                v-for="(value, key) in openTabs"
              >
                {{ key }}
              </q-chip>
            </TransitionGroup>
          </div>
        </div>
        <DatabaseTableView dense hide-pagination
          :myrefresh="tableRefresh"
          :myscience="tableScience"
          :extrainfo="extraInfo"
          :resourceName="fullResourceName()"
          :myrowkey=WebDBUniqIndex
          :connVariant=currentConnection.connector.type
          :mytitle="currentConnection.catalog.name"
          :loadState="loadState.fetch"
          :columns="tableModel"
          :myrows=answFetch
          :mydblclick="(e: Event, r: {}) => showTableCard(r)"
        />
        <!-- :delFunc="row => delFunc(row)"   пиктограмы  удаления и редактирования в самой таблице -->
        <!-- :editFunc="row => editFunc(row)" отключены, т.к. Макс сделал отдельно блок кнопокю Если что - нужно адаптировать перед включением -->
        <!-- :columns="colFetch" -->
      </div>
    </template>
  </q-splitter>
  <PopUpWindow v-slot="slotProps" v-if="showJSONViewer" :title="`${currentConnection.connector.name}/${currentConnection.catalog.name}`"
    v-model:visible="showJSONViewer" :size="{ height: 400, width: 500 }">
    <!-- <ConnInfoCard :winHeight="slotProps.wHeight" :pJSON="scienceData" :pTitle="currentConnection.catalog.name" /> -->
    <vue-json-pretty
        virtual
        showIcon
        theme="dark"
        :height="slotProps.wHeight - 60"
        :deep="3"
        :showDoubleQuotes="false"
        :showLine="false"
        :data="scienceData || []"
      />


  </PopUpWindow>

  <EditConnector v-model:visible="showEditConnector" :connParams="valConnectorParams" />
  <!-- <EditConnector v-model:visible="showEditConnector" /> -->

</template>

<!-- <script> -->

<script lang="ts" setup>

import { onMounted, ref, Ref, watch, reactive, nextTick } from 'vue';
import DatabaseCatalogView from '../components/DatabaseCatalogView.vue';
import DatabaseTableView from '../components/DatabaseTableView.vue';
// import DatabaseTableView from '../components/DatabaseTableViewSergii2.vue';
// import DatabaseTableView from '../components/DatabaseTableViewSergii.vue';
import SuperCard from '../components/SuperCard.vue';
import ConnInfoCard from 'src/app/DbBrowser/components/ConnInfoCard.vue';
import { JsonViewer } from 'vue3-json-source-viewer';
import 'vue3-json-source-viewer/dist/index.css';
import {
  isLogin, isJSON, getConnectors, currentConnection,
  getConnectorInfo, getCatalog, getFetch,
  storeKey, restoreKey, WebDBUniqIndex, getScience,
  answConnectors, answConnInfo, answFetch, getExtraInfo, postData,
getProcesses,
getTableModel,
tableModel,
answCatalog,
dataReceiveQueue,
useNotify
} from 'src/app/DbBrowser/myutils';
import * as localSettings from 'src/local_settings';
import ConnModButtons from '../components/ConnModButtons.vue';
import { ICatalogItem, IColumns, IRowConnConnector, IConnector } from '../myinterfaces';
import { RecordInterface, TableRecordType } from 'src/app/DbBrowser/interfaces/general';
import { $$ } from 'src/system/utils';
import { CONTENT_TABLE_RESIZE } from 'src/app/DbBrowser/interfaces/events';
import PopUpWindow from '../components/PopUpWindow.vue';
// import EditConnector from '../components/DlgSourcesDB/EditConnector.vue'
import EditConnector from '../components/DlgSourcesDB/EditConnectorNastya.vue'
import { useRouter } from 'vue-router';
import { dbConnectors } from '../DbConnectorsList';
import VueJsonPretty from 'vue-json-pretty';
import 'vue-json-pretty/lib/styles.css';
import { useQuasar } from 'quasar';
import { tablesUUID } from 'src/components/system/ws-request-queue';
import { rizeSplitterHorizontalMoveInfo } from 'src/app/DbBrowser/resize_utils';

interface IOpenTabs {
  [keyname: string]: {
    status: boolean,
    connTypeName: string,
    connName: IConnector,
    catalog: ICatalogItem
    // tableName   : string,
    // schemaName  : string
  }
}

interface Splitters {
  [keyname: string]: {
    size: number,
    enable: boolean,
    stored_size: number,
    swap?: boolean,
  }
}

const { showNotify } = useNotify();

const showEditConnector = ref(false);
const valConnectorParams: Ref<IRowConnConnector> = ref({ options: { read_only: false}});
const router = useRouter();
const showJSONViewer = ref(false);
const openTabs = ref({} as IOpenTabs);
const showSlitters = ref(true);
const splitters = ref({
  's1': { size: 50, stored_size: 50, enable: true },
  's2': { size: 35, stored_size: 35, enable: true },
  's3': { size: 50, stored_size: 50, enable: true },
  's4': { size: 50, stored_size: 50, enable: true },
  's5': { size: 40, stored_size: 40, enable: true, swap: false }
} as Splitters);

const iconByKey = (key: string | number) => {
      return 'img:' + dbConnectors[openTabs.value[key].connTypeName].icon
     // 'img:' + dbConnectors[openTabs[key].connTypeName].icon
}

const openEditConnector = (connProps: any) => {
  // console.log('conn row = ', connProps);
  const options = JSON.parse(connProps['option_conn']) || { read_only: false };

  // console.log('conn options = ', options);

  valConnectorParams.value = {
    connTypeId: connProps['type_id'],
    connId: connProps['id'],
    connTypeName: connProps['type_name'],
    connName: connProps['name'],
    url: connProps['connection'],
    options: options,
    // options: {
    //   read_only: options['read_only'] || false,
    //   show_system: (options['show_system'] === undefined) ? null : options['show_system']
    // }
  };



  // console.log('connectionParams = ', valConnectorParams.value);

  showEditConnector.value = true;
};


const separatorStyle = { backgroundColor: '#1976D2', minHeight: '6px', minWidth: '6px' };

const separatorV1 = ref(null);
const DatabaseTableViewHorSplitter = ref<HTMLInputElement | null>(null);
$$.trackMoving(separatorV1.value, (startX: number, startY: number, currentX: number, currentY: number) => {
  rizeSplitterHorizontalMoveInfo(DatabaseTableViewHorSplitter.value,'DatabaseTableViewResizeX');
}, CONTENT_TABLE_RESIZE);

$$.addEventListener(window, 'resize', (e: MessageEvent) => {
  rizeSplitterHorizontalMoveInfo(DatabaseTableViewHorSplitter.value,'DatabaseTableViewResizeX');
});


const clearOpenTabs = () => {
  console.log('clear all tabs')
  Object.keys(openTabs.value).forEach(tab => {
    if (tab != currentConnection.catalog.name) delete openTabs.value[tab]
  })
}

const splitterToggle = (name: string) => {
  splitters.value[name].enable = !splitters.value[name].enable;
  const sState = {
    s1: splitters.value['s1'].enable,
    s3: splitters.value['s3'].enable,
    s4: splitters.value['s4'].enable,
  };
  switch (name) {
    case 's1':
      if (sState.s3 && sState.s4) {
        splitters.value['s3'].size = sState.s1 ? splitters.value['s3'].stored_size : 0;
        break;
      }

      if (!sState.s3 && sState.s4) {
        splitters.value['s1'].size = sState.s1 ? splitters.value['s1'].stored_size : 0;
        break;
      }

      if (sState.s3 && !sState.s4) {
        splitters.value['s3'].size = sState.s1 ? splitters.value['s3'].stored_size : 0;
        break;
      }
      showSlitters.value = sState.s1
      break;

    case 's3':
      if (sState.s1 && sState.s4) {
        splitters.value['s3'].size = sState.s3 ? splitters.value['s3'].stored_size : 100;
        break;
      }

      if (!sState.s1 && sState.s4) {
        splitters.value['s1'].size = sState.s3 ? splitters.value['s1'].stored_size : 0;
        break;
      }

      if (sState.s1 && !sState.s4) {
        splitters.value['s3'].size = sState.s3 ? splitters.value['s3'].stored_size : 100;
        break;
      }
      showSlitters.value = sState.s3
      break;
    case 's4':
      if (sState.s1 && sState.s3) {
        splitters.value['s1'].size = sState.s4 ? splitters.value['s1'].stored_size : 100;
        break;
      }

      if (!sState.s1 && sState.s3) {
        splitters.value['s1'].size = sState.s4 ? splitters.value['s1'].stored_size : 100;
        break;
      }

      if (sState.s1 && !sState.s3) {
        splitters.value['s1'].size = sState.s4 ? splitters.value['s1'].stored_size : 100;
        break;
      }
      showSlitters.value = sState.s4
  }
  console.log('toggle ', name)
};

const dlgActive = ref({
  RowViewer: false,
  JSONViewer: false,
  editRow: false,
  dlgConfirm: false,
});

// const databaseTableViewWrapper = ref(null);
const JSONViewerVal = ref('');
// const answConnectors  = ref([]);
// const answConnInfo    = ref({'data': {}});
// const answFetch       = ref([] as any);
// const tableModel = ref([] as RecordInterface[]);
const colConnectors = ref([] as object[]);
const dlgConfirmText = ref('');
const dialogText = ref({});

// const answCatalog = ref([]);
const filtrSchema = ref('');
// let connectorName = reactive({name: '', id: -1} as IConnector);

// const catalog = ref({
//     name:   '',
//     schema: '',
//     path:   ''
//   })

// let catalog = reactive({
//   schema: '',
//   system: false,
//   name:   '',
//   path:   ''
// } as ICatalogItem);

const loadState = reactive({
  connectors: false,
  catalog: false,
  fetch: false,
  science: false
});

const scienceData = ref({});

const showJSON = (val: any) => {
  JSONViewerVal.value = JSON.parse(val);
  dlgActive.value.JSONViewer = true;
};

const fullResourceName = () =>
  `${currentConnection.connector.name}:${currentConnection.catalog.schema}:${currentConnection.catalog.name}`;


const dataPostProcess = (val: any, mode:string) => {
    // console.log('SCIENCE ', val)

    switch (mode) {
      case 'table':
        scienceData.value = JSON.parse(val.rows[0][currentConnection.catalog.name]) || {};
        showJSONViewer.value = true;
        loadState.fetch = false;
        break;
      case 'catalog':

        // loadState.fetch = true;
        // answFetch.value = [];
        answFetch.value = val.rows;
        currentConnection.catalog.sql = val.meta['query'] || '';
        tableModel.value = getTableModel(val.meta.model);
        loadState.fetch = false;
    }
  }


const extraInfo = (mode: string, action = 'analysis') => {
  const directoryName = isFilesystem(currentConnection.catalog);
  switch (mode) {
    case 'table':
      loadState.fetch = true;
      break;
    case 'catalog':
      answFetch.value = [];
      loadState.fetch = true;
      break;
  }
  getExtraInfo(currentConnection, directoryName, mode, action)
    .then(val => dataPostProcess(val, mode))
    .catch((err) => {
      console.log('EXTRAINFO ERROR ', err)
    });
}

const tableScience = (mode: string, action = 'analysis') => {
  const directoryName = isFilesystem(currentConnection.catalog);
  switch (mode) {
    case 'table':
      loadState.fetch = true;
      break;
    case 'catalog':
      answFetch.value = [];
      loadState.fetch = true;
      break;
  }
  getScience(currentConnection, directoryName, mode, action)
    .then(val => dataPostProcess(val, mode))
    .catch(err => {
      showNotify('SCIENCE ERROR!', 'negative');
      console.log('SCIENCE ERROR ', err)
      loadState.fetch = false;

      // тест отображения ответа JSON!!!. Сервер ПОКА выдает в ответ ошибку, поэтому обрабатываем в .catch.
      // const testjson = {'_WebDBUniqIndex': 0, 'TEST JSON getSciense': '{ "id": 1, "name": "Leanne Graham", "username": "Bret", "email": "Sincere@april.biz" }'};
      // answFetch.value = [testjson];
    });
}

const tableRefresh = (tableName: string, refresh = false) => {
  // const directoryName = ((catalog.schema === 'directory')||(catalog.schema === 'file')) ? catalog.path : undefined;
  const fullDirectoryName = isFilesystem(currentConnection.catalog);
  const directoryName = (refresh && (fullDirectoryName != undefined))
    ? fullDirectoryName.replace(new RegExp('/' + currentConnection.catalog.name + '$'), '')
    : fullDirectoryName;
  // console.log('!!!!!!!!!!!!DIR ', currentConnection.catalog.name, '  fullDirectrory: ', fullDirectoryName, ' replace: ', directoryName);
  switch (tableName) {
    case 'catalog':
      loadState.catalog = true;
      answCatalog.value = [];

      // getCatalog(currentConnection.connector, directoryName, refresh).then(val => {
      //   loadState.catalog = false;
      //   answCatalog.value = val;
      //   filtrSchema.value = '';
      // });
      getCatalog(currentConnection.connector, directoryName, refresh)
        .then((val: any) => {
          if (val['status'] === 'ERROR')
            showNotify(`[ERR] Getting catalogues: ${val['message']}`, 'negative', 5000)
          else tablesUUID.catalog = val['unique_id'];
  // dataReceiveQueue.value[val['unique_id']] = 'catalog';
      });

      break;
    case 'fetch':
      loadState.fetch = true;
      // answFetch.value = [];

      getFetch(currentConnection.connector, currentConnection.catalog, fullDirectoryName, refresh)
        .then(val => {
          if ('TABS_SAVE_ALL' in localSettings) {
            if (localSettings['TABS_SAVE_ALL']) {
              openTabs.value[currentConnection.catalog.name] = {
                status: true,
                connTypeName: currentConnection.connector.type,
                connName: currentConnection.connector,
                catalog: Object.assign({}, currentConnection.catalog)
                // tableName: catalog.name,
                // schemaName: catalog.schema,
                // tablePath: catalog.path
              };
            }
          }

          // answFetch.value = val.rows;

          // dataReceiveQueue.value[val['unique_id']] = 'fetch';
          tablesUUID.fetch = val['unique_id'];

          // currentConnection.catalog.sql = val.meta['query'] || '';

        // tableModel.value = getTableModel(val.meta.model);

          // tableModel.value = [{ name: 'mycol', label: 'EDIT' },
          // ...val.meta['model'].map((item: TableRecordType) => ({
          //   name: item.name,
          //   label: item.name + '2',
          //   field: item.name,
          //   type: item.type,
          //   // format: (val: any) => JSON.stringify(val),
          // }))];


          // loadState.fetch = false;
        }
        );
  } //switch
};

const openConnector = (connector: IConnector, reload = false) => {
  if (currentConnection.connector.id === connector.id && !reload) return;
  loadState.catalog = true
  answCatalog.value = [];
  currentConnection.connector = Object.assign({}, connector);
  getCatalog(connector, undefined, reload).then(val => {
    if (val['status'] === 'ERROR')
      showNotify(`[ERR] Getting catalogues: ${val['message']}`, 'negative', 5000)
          else tablesUUID.catalog = val['unique_id'];
    // dataReceiveQueue.value[val['unique_id']] = 'catalog';

  });
  getConnectorInfo(connector).then(val => {
    // console.log('CONINFO = ', val['data'] ? val : {data: {}})
    const jsonString = val['data'] ? val : { data: [] };
    answConnInfo.value = jsonString;
    // console.log('JSON conn info size ', new TextEncoder().encode(JSON.stringify(jsonString)).length )
  });


  // getCatalog(connector, undefined, reload).then(val => {
  //   loadState.catalog = false;
  //   answCatalog.value = val;
  //   filtrSchema.value = '';
  // });

};

const showTableCard = (row: any) => {
  // console.log('row = ', row);
  if (row['schema'] === 'directory') {
    loadState.catalog = true;
    answCatalog.value = [];
    getCatalog(currentConnection.connector, row['path'])
      .then(val => {
        // answCatalog.value = val;
        // filtrSchema.value = '';
        // answFetch.value = [];
        // loadState.catalog = false;
        // dataReceiveQueue.value[val['unique_id']] = 'catalog';
        if (val['status'] === 'ERROR')
          showNotify(`[ERR] Getting catalogues: ${val['message']}`, 'negative', 5000)
          else {
            tablesUUID.catalog = val['unique_id'];
            answFetch.value = [];
          }

      }
      );
    return;
  }
  dialogText.value = row;
  dlgActive.value.RowViewer = true;
};

const viewTable = (e: Event, row: ICatalogItem) => {
  if (currentConnection.catalog.name !== row['name']) {
    currentConnection.catalog.name = row['name'];
    currentConnection.catalog.schema = row['schema'];

    if ((row['schema'] === 'directory') || (row['schema'] === 'file')) currentConnection.catalog.path = row['path']
    tableRefresh('fetch');
  }
};


const getColNameFromRows = (rows: object[]) => {
  // console.log('ColNameFromRows=', rows)  ;

  if (rows.length === 0) return [];
  const keys = Object.keys(rows[0]);
  const res: IColumns[] = keys
    .filter(item => item !== WebDBUniqIndex)
    .map(keyname => ({
      name: keyname,
      label: keyname,
      field: keyname,
      align: 'left'
    }));
  // console.log('ColNameFromRows=', res)  ;
  return res;
};

const getSchemes = () => {
  if (!answCatalog.value) return [];
  // const uniqSchemes = new Set(answCatalog.value.filter(item => !item['system']).map(item => item['schema']));
  const uniqSchemes = new Set(answCatalog.value.map(item => item['schema']));
  const res = Array.from(uniqSchemes).map(item => ({ schema: item }));
  return res;
};

const isFilesystem = (catalogue: ICatalogItem) => {
  return (catalogue.schema === 'directory' || catalogue.schema === 'file') ? catalogue.path : undefined;
}


const openTab = (connector: IConnector, catalog: ICatalogItem, connTypeName: string) => {
  openConnector(connector);
  currentConnection.connector.type = connTypeName;
  // const directoryName = isFilesystem(currentConnection.catalog);
  const directoryName = isFilesystem(catalog);
  // console.log('!!!!!!!!!!!!DIR', currentConnection.catalog);

  getFetch(connector, catalog, directoryName)
    .then(val => {
      currentConnection.catalog = Object.assign({}, catalog);
      // currentConnection.catalog.sql = val.meta['query'] || '';

      // answFetch.value = val.rows;
      // tableModel.value = getTableModel(val.meta.model);

      // dataReceiveQueue.value[val['unique_id']] = 'fetch';
      tablesUUID.fetch = val['unique_id'];


    });
};

watch(answConnectors, (newVal) => {
  if (newVal.length > 0) {
    colConnectors.value = [{ name: 'mycol', label: 'DB', align: 'left' }]
    for (let item in newVal[0]) {
      colConnectors.value.push({ name: item, label: item, field: item, align: 'left' })
    }
  } else {
    answCatalog.value = [];
    answFetch.value = [];
    currentConnection.connector = { name: '', id: -1, type: '' }
    currentConnection.catalog = { name: '', path: '', schema: '', system: false, sql: '' };
    tableModel.value = [];
    router.push({ path: '/weblogin' });


  }

})

const firstConnect = () => {
  console.log('isLogin', isLogin.value);
  openTabs.value = restoreKey('open_tabs') || {};
  if (isLogin.value) getConnectors().then(val => {
    answConnectors.value = val;
  })
  else {
    answConnectors.value = [];

    // answCatalog.value = [];
    // answFetch.value = [];
    // currentConnection.connector = { name: '', id: -1, type: '' }
    // currentConnection.catalog = { name: '', path: '', schema: '', system: false, sql: '' };
    // tableModel.value = [];
    // router.push({ path: '/weblogin' });


  }
};

const connDblClick = async (row: any) => {
  // const data = {connector_id: currentConnection.connector.id}
  // const data = {connector_id: row.id}
  loadState.fetch = true;
  answFetch.value = [];

  // await postData('processes/', data).then((val: any) => {
  getProcesses(row.id).then((val: any) => {
    currentConnection.connector.id = row.id;
    console.info('dblClick row: ', val);
        answFetch.value = val.rows;
        currentConnection.catalog.sql = val.meta['query'] || '';
        // tableModel.value = getTableModel(val.meta.model);
        tableModel.value = [{
          name: 'stop_process',
          label: 'Stop',
          field: 'stop_process',
          type: 'stop_process',
          align: 'center'
        }, ...getTableModel(val.meta.model)];

        loadState.fetch = false;
  });

};

watch(splitters, newValue => {
  const sState = {
    s1: newValue['s1'].enable,
    s3: newValue['s3'].enable,
    s4: newValue['s4'].enable,
  };

  watch (answCatalog, newVal => {
    // console.log('!!! watch answCatalog ', newVal);
    loadState.catalog = false;
    filtrSchema.value = '';
  })

  watch (answFetch, newVal => {
    // console.log('!!! watch answFetch ', newVal);
    loadState.fetch = false;
  })
  // if (!sState.s1) {
  //   if ( sState.s3 &&  sState.s4) splitters.value.s1.enable = !(splitters.value.s3.size === 0);
  //   if ( sState.s3 && !sState.s4) splitters.value.s1.enable = !(splitters.value.s3.size === 0);
  //   if (!sState.s3 &&  sState.s4) splitters.value.s1.enable = !(splitters.value.s1.size === 0);
  // }

  // if (sState.s1) {
  //   if ( sState.s3 &&  sState.s4) splitters.value.s1.enable = !(splitters.value.s3.size === 0);
  //   if ( sState.s3 && !sState.s4) splitters.value.s1.enable = !(splitters.value.s3.size === 0);
  //   if (!sState.s3 &&  sState.s4) splitters.value.s1.enable = !(splitters.value.s1.size === 0);
  // }

  // splitters.value.s1.enable = !(splitters.value.s3.size === 0);
  // slotAfter.value  =  newValue.s5.swap ? 'before' : 'after';
  // slotBefore.value = !newValue.s5.swap ? 'before' : 'after';
  storeKey('splitters_size', newValue)
}, { deep: true }
);

watch(openTabs, newValue => {
  storeKey('open_tabs', newValue)
}, { deep: true }
);

watch(isLogin, firstConnect);

onMounted(() => {
  firstConnect();
  const storeSplitters = restoreKey('splitters_size');
  if (storeSplitters === undefined) {
    // storeKey('splitters_size', splitters.value)
  } else {
    splitters.value = storeSplitters;
  }

});

</script>

<style lang="sass">
.thead-sticky tr > *,
.tfoot-sticky tr > *
  position: sticky
  opacity: 1
  z-index: 1
  background: black
  color: white

.thead-sticky tr:last-child > *
  top: 0

.tfoot-sticky tr:first-child > *
  bottom: 0

.my-sticky-dynamic
  /* height or max-height is important */

  // max-height: 75vh

  .q-table__top.body--dark,
  .q-table__bottom.body--dark,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #888

  thead tr th
    position: sticky
    z-index: 1
  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 24px
  thead tr:first-child th
    top: 0

  /* prevent scrolling behind sticky top row on focus */
  tbody
    /* height of all previous header rows */
    scroll-margin-top: 24px

</style>

<style>
.list-move,
/* применять переход к движущимся элементам */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* убедитесь, что удаляющиеся элементы выведены из потока, чтобы
анимации перемещения могли быть рассчитаны правильно. */
.list-leave-active {
  position: absolute;
}


::-webkit-scrollbar {
  height: 12px;
  width: 14px;
  background: transparent;
  z-index: 12;
  overflow: visible;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #00b4ff;
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-transition: background-color .28s ease-in-out;
  transition: background-color .28s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px
}

::-webkit-scrollbar-thumb:hover {
  background: #00b4ff
}
</style>
