<template>
    <div class="q-pa-md" style="max-width: 300px">
        <div class="q-gutter-md">
            <q-select @update:model-value="val => selectDatabases(val.name)" v-model="modelConnectors" :options="connectors"
                label="Select connector" />
            <q-select :disable="databases.length === 0" v-model="modelDatabases" :options="databases"
                label="Select database" />
        </div>
        <!-- <q-btn @click="consol  e.log(this.model)">Click me</q-btn> -->
    </div>
</template>

<script>
import { isLogin, getConnectors, getCatalog } from 'src/app/DbBrowser/myutils';
import { ref } from 'vue'

export default {
    setup() {
        return {
            modelConnectors: ref(null),
            modelDatabases: ref(null),
            connectors: ref([]),
            databases: ref([]),
            isLogin,
        }
    },
    methods: {
        selectDatabases(connName) {
            getCatalog(connName).then(val => {
                console.log('VAL getCatalog ', val)
                this.databases = val.map(item => ({
                    'label': item.name + ' (' + item.type + ')',
                    'name': item.name
                }));
                console.log('this.databases =', this.databases)
            })
        }
    },
    mounted() {
        getConnectors().then(val => {
            console.log('VAL getConn ', val)
            this.connectors = val.map(item => ({
                'label': item.title + ' (' + item.driver + ')',
                'name': item.name
            }));
        });
    }
}


</script>
