<template>
  <q-page>
    <div class="text-center">
      <div>PLEASE LOGIN</div>
      <q-btn size="lg" @click="showLoginForm" color="primary">LOGIN</q-btn>
    </div>
  </q-page>

  <DlgLogin v-model:visible="loginFormVisible" :propActionAfterLogin="login" />

</template>

<script setup>
import { ref } from 'vue'
import { isLogin } from 'src/app/DbBrowser/myutils';
import { useRouter } from 'vue-router';
import DlgLogin from '../components/DlgLogin.vue';

const router = useRouter();

const loginFormVisible = ref(false)

const loginForm = {
  user: 'kostya@example.com',
  password: 'sdfrygdffgsdfd'
}

const showLoginForm = () => {
  loginFormVisible.value = true;
}

const login = () => {
    isLogin.value = true;
    router.push({ path: '/' });
}

</script>

<style scoped>
/* Add your custom styles here */
</style>
