<template>
  <q-page>
    <div class="text-center">
      <q-btn size="lg" @click="showLoginForm" color="primary">LOGIN</q-btn>
    </div>
    <q-dialog v-model="loginFormVisible">
      <q-card style="width: 400px; height: 400px">
        <q-card-section>
          <div class="text-h5">Login</div>
          <q-form class="q-mt-lg" @submit.prevent="login">
            <q-input v-model="loginForm.user" label="User" />
            <q-input v-model="loginForm.password" label="Password" type="password" />

            <q-card-actions class="q-mt-lg" align="center">
              <q-btn type="submit" color="primary">LOGIN</q-btn>
              <q-btn @click="cancelLogin" color="negative">CANCEL</q-btn>
            </q-card-actions>

            <q-card-actions class="q-mt-lg" align="center">
              <q-btn @click="doLogout" color="secondary">LOG OUT</q-btn>
            </q-card-actions>

          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>

  </q-page>
</template>

<script>
import { getLogin, postLogin, userLogout, isLogin } from 'src/app/DbBrowser/myutils';
import { isJsxClosingElement } from 'typescript';
// import myRoute from 'src/router/index'
import { useRouter } from 'vue-router';


export default {
  setup() {
    const router = useRouter();
    return { router}
  },

  data() {
    return {
      // loginFormVisible: false,
      loginFormVisible: true,
      loginForm: {
        user: 'kostya@example.com',
        password: 'SDFSDFCVCdcfdsf'
      }
    };
  },
  methods: {
    showLoginForm() {
      this.loginFormVisible = true;
    },
    cancelLogin() {
      // this.loginFormVisible = false;
      this.loginFormVisible = true;
    },
    doLogout() {
      userLogout().then(response => {
        console.log('Log out')
      });

      this.loginFormVisible = false;
    },
    login() {
      const { user, password } = this.loginForm;
      const actual_user = postLogin(user, password).then(() => {
        isLogin.value = true;
        this.loginFormVisible = false;
        this.router.push({ path: '/' });
        console.log('click click!')

      }).catch(() => {
        if (!actual_user) {
          console.error('Error during login:', error);
        }
      })
    }
  }
};
</script>

<style scoped>
/* Add your custom styles here */
</style>
