<template>
  <nvCandles
    :chartsModel="chartsModel"
    :chartsData="chartsData"
    :chartsType="chartsType"
  >

  </nvCandles>
</template>

<script setup>
import nvCandles from './nvCandles.vue'

const chartsType = [{type: 'Spline', mainField: 'Close' }]
const chartsModel = ['timestamp', 'close']

const chartsData=[
  { timestamp: 1, close: 10 },
  { timestamp: 2, close: 30 },
  { timestamp: 3, close: 20 },
]


console.log('!!!Chart ', chartsType);




</script>
