<template>
  <div :id="'div' + uniqID"></div>
</template>

<script>
  import { defineComponent, watch, onMounted, onUnmounted } from 'vue';
  import { NightVision } from 'night-vision';
  import { $$ } from 'src/system/utils';
  let chart;

  export default defineComponent({
    name: 'nvCandles',
    props: {
      chartsModel:  Array || [],
      chartsData:   Array || [],
      chartsTypes:  Array || [],
    },

    setup(props) {
      const uniqID = $$.uniqueId('nv');
      function getChartData(chartType, chartMainField) {
        if (!props.chartsData) return [];
        // const model = [
        //     'timestamp',
        //     'high'
        //   ];
        // console.log('props::', props)
        // console.log('props.model::', props.chartsModel)
        // console.log('props.chartsTypes::', props.chartsTypes)
        const getItemData = (item) => {
          return props.chartsModel.map(name => (Number(item[name])));
        };
        switch (chartType) {
          case 'Candles':
            return props.chartsData.map(item => getItemData(item));
          case 'Area':
            return props.chartsData.map(item => getItemData(item));
          case 'Spline':
             return props.chartsData.map(item => getItemData(item));
        }
        return [];
      }

      function getChartProps(chartType) {
        switch (chartType) {
          case 'Candles':
            return {
              back:     '#111113',
              grid:     '#2e2f3055',
              candleDw: '#0c5b3bff',
              candleUp: '#41a35bff',
              volDw:    '#29595555',
              volUp:    '#5ba38d3f',
              wickDw:   '#0c5b3b88',
              wickUp:   '#41a35088',
            };
          case 'Area':
            return {
              color:    '#ba0179',
              back1:    '#ba017925',
              back2:    '#bd11db05'
            };
          case 'Spline':
            return {
              color:    'green'
            };
        }
        return {};
      }

      function getChartsOverlays(chartsTypes) {
        const res = [];
        if (!chartsTypes || chartsTypes.length < 1) return res;
        for (let i = 0; i < chartsTypes.length; i++) {
          const item = {};
          item['name']      = 'Chart ' + chartsTypes[i]['type'];
          item['type']      = chartsTypes[i].type;
          item['props']     = getChartProps(chartsTypes[i]['type']);
          item['settings']  = { display: true };
          item['data']      = getChartData(chartsTypes[i]['type'], chartsTypes[i]['mainField']);
          res.push(item);
        }
        return res;
      }

      const updChart = () => {
        chart.data = {
          panes: [{
            overlays: [...getChartsOverlays(props.chartsTypes)]
          }]
        };
        chart.width = 1000;
        console.log('Update NV char');
        chart.autoResize = true;
        // chart.update('full', { resetRange: true });
        chart.update();
      };

      watch(() => props.chartsData, updChart, { deep: true});

      onMounted(() => {
        console.log('onMounted NVchart charttypes=', props.chartsTypes);
        chart = new NightVision('div' + uniqID, { id: uniqID});
        updChart();
      });

      onUnmounted(() => {
        console.log('onUnmounted NVchart')
        // chart.destroy();
        // chart = null;
      })

      return {
        uniqID
      };
    },
  });
</script>
