<template>
  <div>
    <p>{{ title }}</p>
      <q-card flat bordered>
          <q-card-section html="value">
            AAAA
          </q-card-section>
      </q-card>
      <q-btn-group push>
        <q-btn push label="First" icon="timeline" />
        <q-btn push label="Second" icon="visibility" />
        <q-btn push label="Third" icon="update" />
      </q-btn-group>

<!--    <div class="q-gutter-md row items-start">-->
<!--      <i class="fas fa-flag"></i>-->
<!--    </div>-->

  </div>
   <div class="q-gutter-md row items-start">
     <table style="background-color: #1976D2">
       <tr><td><div style="background-color: #26A69A" class="q-pa-md"> q-pa-md (middle) </div></td></tr>
       <tr><td><div style="background-color: #26A69A" class="q-pa-sm"> q-pa-sm (small) </div></td></tr>
       <tr><td><div style="background-color: #26A69A" class="q-pa-xs"> q-pa-xs (extra small) </div></td></tr>
       <tr><td><div style="background-color: #26A69A" class="q-pa-xs q-ma-xs"> q-pa-xs q-ma-xs (extra small all) </div></td></tr>
       <tr><td><div style="background-color: #26A69A" class="q-pa-auto"> q-pa-auto </div></td></tr>
     </table>
   </div>

  <div class="q-gutter-md row items-start">

    <div class="q-gutter-md col">
      <q-date v-model="date" />
    </div>

  </div>

  <div class="q-gutter-md col items-start">
  <div class="q-gutter-md row items-start">
  <q-input
        v-model="inputModel"
        filled
        clearable
        color="purple-12"
        label="Input with shadow text"
        hint="Press TAB to autocomplete suggested value or ESC to cancel suggestion"
        :shadow-text="inputShadowText.value"
        @keydown="processInputFill"
        @focus="processInputFill"
      />
  </div>
    <div class="row">
      <q-input v-model="email" filled type="email" hint="Email" />
  </div>
  </div>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  ref
} from 'vue';

import { useQuasar } from 'quasar'
import { fasFont } from '@quasar/extras/fontawesome-v5'
import { event } from 'quasar'

const { stopAndPrevent } = event


function useClickCount() {
  const clickCount = ref(0);
  function increment() {
    clickCount.value += 1
    return clickCount.value;
  }

  return { clickCount, increment };
}

const xxxFields = () => {
    const inputModel = ref('base:');
    const inputFillCancelled = ref(false);
    const inputShadowText = {value: 'hello'}
  const processInputFill = (e) => {
        if (e === void 0) {
          return
        }

        if (e.keyCode === 27) {
          if (inputFillCancelled.value !== true) {
            inputFillCancelled.value = true
          }
        }
        else if (e.keyCode === 9) {
          if (inputFillCancelled.value !== true && inputShadowText.value.length > 0) {
            stopAndPrevent(e)
            inputModel.value = inputModel.value + inputShadowText.value
          }
        }
        else if (inputFillCancelled.value === true) {
          inputFillCancelled.value = false
        }
      }
  return { inputModel, inputFillCancelled, inputShadowText, processInputFill };
}

export default defineComponent( {
  name: 'XEditor',
  props: {
    // title: { type: String, required: false },
    title: String
  },
  emits: {},
  methods: {
    onClick() {
      this.$emit('click')
      alert('YESSSSSS!!!!! AAA CLICLLLL')
      //  const $q = useQuasar()
      //
      // quasar

      console.log(this);
      // console.log($q.dark.mode);
      // $q.dark.set(true);
      // $q.dark.toggle()
    }
  },
  computed: {},
  data() {
      return {
        // title: 'Vaaa-LU-EEEE',
        componentKind: 'icon-toggle-button'
      }
    },
  setup: function(props) {
    return {
      ...useClickCount(),
      ...xxxFields(),
      // quasar: $q,
      email: 'AAAAAAA.aaa@bb.ccc',
      date: ref('2019/02/01'),
    };
  }
});
</script>
