<template>
  <q-dialog v-model="csvFormVisible"  maximized>
    <DlgSourceUniversal
      @hide='hideCsv'
      :dbSourceFormVisible="csvFormVisible"
      :dlgWindowTitle='dbSourcesParams.csv.dlgWindowTitle'
      :isHostNameShow='dbSourcesParams.csv.isHostNameShow'
      :isHostShow='dbSourcesParams.csv.isHostShow'
      :isPortShow='dbSourcesParams.csv.isPortShow'
      :isUserShow='dbSourcesParams.csv.isUserShow'
      :isPasswordShow='dbSourcesParams.csv.isPasswordShow'
      :isDatabaseShow='dbSourcesParams.csv.isDatabaseShow'
      :isUrlShow='dbSourcesParams.csv.isUrlShow'
      :urlTitleName='dbSourcesParams.csv.urlTitleName'
      :isReadonlyCheckboxShow='dbSourcesParams.csv.isReadonlyCheckboxShow'
      :isShowSystemObjectsCheckboxShow='dbSourcesParams.csv.isShowSystemObjectsCheckboxShow'
      :isCommentShow='dbSourcesParams.csv.isCommentShow'
    >
    </DlgSourceUniversal>
  </q-dialog>
</template>

<script lang="ts">
  import DlgSourceUniversal from 'src/app/DbBrowser/components/DlgSourcesDB/DlgSourceUniversal.vue';
  import {onBeforeMount, ref, watch} from 'vue';
  import {dbSourcesParams} from '../../myutils';

  export default {
  name: 'DlgSourcesCsv',
  props: {
  propVisible: Boolean,
  },
  components: {
  DlgSourceUniversal,
  },
  setup(props: { propVisible: boolean; }, context: any) {
  const csvFormVisible = ref(false);

  const updVisibleState = () => {
    csvFormVisible.value = props.propVisible;
  console.log('DLG Services DB methods');
  };

  watch(() => props.propVisible, updVisibleState);

  onBeforeMount(() => {
    csvFormVisible.value = props.propVisible;
  // console.log('DLG SOURCES DB BeforeMount: ', props.propVisible);
  });

  const hideCsv = () => {
    csvFormVisible.value = false;
    context.emit('hide-csv');
  }

  return {
    csvFormVisible,
    dbSourcesParams,
    hideCsv,
  }
  }
}
</script>

<style scoped>

</style>
