<template>
  <q-dialog v-model="postgresFormVisible" maximized>
    <DlgSourceUniversal
      @hide='hideTimescale'
      :dbSourceFormVisible="postgresFormVisible"
      :sourceParams='dbSourcesParams.postgres'
      :urlValue='url'
      :id='id'
      :driver='driver'
      :connector-name-val='connectorName'
      :is-editing-connector='editConnector'
    >
    </DlgSourceUniversal>
  </q-dialog>
</template>
<script lang="ts">

import EventEmitter from 'events';
import DlgSourceUniversal from 'src/app/DbBrowser/components/DlgSourcesDB/DlgSourceUniversal.vue';
import {onBeforeMount, ref, watch} from 'vue';
import {dbSourcesParams} from '../../myutils';

export default {
  name: 'DlgSourcesTimescale',
  props: {
    propVisible: Boolean,
    id: Number || null,
    driver: String,
    url: String,
    connectorName: String,
    editConnector: Boolean,
  },
  components: {
    DlgSourceUniversal,
  },
  setup(props: { propVisible: boolean; }, context: any) {
    const postgresFormVisible = ref(false);

    const updVisibleState = () => {
      postgresFormVisible.value = props.propVisible;
      console.log('DLG Services DB methods');
    };

    watch(() => props.propVisible, updVisibleState);

    onBeforeMount(() => {
      postgresFormVisible.value = props.propVisible;
      // console.log('DLG SOURCES DB BeforeMount: ', props.propVisible);
    });

    const hideTimescale = () => {
      postgresFormVisible.value = false;
      context.emit('hide-postgres');
      console.log('Hide Timescale DlgSources, postgresFormVisible.value = ', postgresFormVisible.value);
    }

    return {
      postgresFormVisible,
      dbSourcesParams,
      hideTimescale,
    }
  }
}
</script>

<style scoped>

</style>
