<template>
 <q-dialog v-model="redisFormVisible" maximized>
    <DlgSourceUniversal
      @hide='hideRedis'
      :dbSourceFormVisible="redisFormVisible"
      :sourceParams='dbSourcesParams.redis'
      :urlValue='url'
      :id='id'
      :driver='driver'
      :connector-name-val='connectorName'
      :is-editing-connector='editConnector'
    >
    </DlgSourceUniversal>
 </q-dialog>
</template>
<script lang="ts">

import EventEmitter from 'events';
import DlgSourceUniversal from 'src/app/DbBrowser/components/DlgSourcesDB/DlgSourceUniversal.vue';
import {onBeforeMount, ref, watch} from 'vue';
import {dbSourcesParams} from '../../myutils';

export default {
  name: 'DlgSourcesRedis',
  props: {
    propVisible: Boolean,
    id: Number || null,
    driver: String,
    url: String,
    connectorName: String,
    editConnector: Boolean,
    // onCancel: Boolean,
  },
  components: {
    DlgSourceUniversal,
  },
  setup(props: { propVisible: boolean}, context: any) {
    const redisFormVisible = ref(false);

    const updVisibleState = () => {
      redisFormVisible.value = props.propVisible;
      console.log('DLG Services DB methods');
    };

    watch(() => props.propVisible, updVisibleState);

    onBeforeMount(() => {
      redisFormVisible.value = props.propVisible;
      // console.log('DLG SOURCES DB BeforeMount: ', props.propVisible);
    });

    const hideRedis = () => {
      redisFormVisible.value = false;
      context.emit('hide-redis');
      console.log('Hide Redis DlgSourcesRedis, redisFormVisible.value = ', redisFormVisible.value);
    }

    return {
      redisFormVisible,
      dbSourcesParams,
      hideRedis,
    }
  }
}
</script>

<style scoped>

</style>
