<template>
  <q-dialog v-model="dbSourceWindowVisible" maximized persistent>
  <div role="dialog" aria-labelledby="modalTitle" aria-describedby="modalDescription" class="sources-db-dialog">
    <q-card maximized>
      <q-card-section class="text-center q-mb-none q-mt-xl">
        <div class="text-h5 q-mb-md text-center">{{sourceParams.dlgWindowTitle}}</div>
        <div class="row q-mb-md q-ml-xl" v-show='sourceParams.isHostNameShow'>
          <div class="col-2 text-h6 q-my-auto text-left text-weight-regular">Name:</div>
          <q-input v-model ='connectorName' ref="hostNameRef" lazy-rules :rules="hostNameRules" class="text-h6 q-pa-none q-my-auto q-ml-none textInput" :dense="true" filled type="text" />
          <div class="col-1 text-h6 q-mb-md q-ml-md q-mr-xs text-left text-weight-regular"></div>
          <div class="col-1 text-h4 q-mb-md q-ml-lg" v-show="isTestStatusOk === 'null'">
              <span class="material-symbols-outlined iconOk grey">
                done_outline
              </span>
          </div>
          <div class="col-1 text-h4 q-mb-md q-ml-lg" v-show="isTestStatusOk === 'true'">
              <span class="material-symbols-outlined iconOk green">
                done_outline
              </span>
          </div>
              <svg-icon class="col-1 text-h4 q-mb-md q-mt-sm q-ml-lg iconError" v-show="isTestStatusOk === 'false'" type="mdi" :path="path"></svg-icon>
          </div>
        <div class="row q-mb-lg q-ml-xl" v-show='sourceParams.isHostShow || sourceParams.isPortShow'>
          <div class="col-2 text-h6 q-my-auto text-left text-weight-regular" v-show='sourceParams.isHostShow'>Host:</div>
          <q-input v-model="host" ref="hostRef" lazy-rules :rules="hostRules" v-show='sourceParams.isHostShow' class="col-5 text-h6 q-pa-none q-my-auto q-mr-none textInput" :dense="true" filled type="text" />
          <div v-show="sourceParams.isPortShow" class="col-1 text-h6 q-my-auto q-ml-md q-mr-xs text-left text-weight-regular">Port:</div>
          <q-input v-show="sourceParams.isPortShow"  ref="portRef" lazy-rules :rules="portRules"  v-model="port" class="col-2 text-h6 q-pa-none q-my-auto q-mx-none " :dense="true" filled type="text" />
        </div>

<!--        <div class="row q-mb-lg q-ml-xl" v-show="isUserShow">-->
<!--        <q-btn-dropdown outline color="primary" class="col-11" :onClick="showUserOptions" label="Advanced Parameters">-->
<!--        </q-btn-dropdown>-->
<!--        </div>-->
<!--        <div v-show="isUserOptionsShow">-->
        <div class="row q-mb-md q-ml-xl" v-show="sourceParams.isUserShow">
          <div class="col-2 text-h6 q-my-auto text-left text-weight-regular">User:</div>
          <q-input v-model="userName" class="text-h6 q-pa-none q-my-auto q-ml-none textInput" :dense="true" filled type="text" />
        </div>
        <div class="row q-mb-sm q-ml-xl" v-show="sourceParams.isPasswordShow && resetPasswordButtonShow === true">
          <div class="col-2 text-h6 q-my-auto text-left text-weight-regular">Password:</div>
          <q-input v-show="sourceParams.isPasswordShow" v-model="password" class="text-h6 q-my-auto q-mr-xs q-ml-none textInput" :disable="password === '<HIDDEN>'" :dense="true" filled :type="isPwd? 'password' : 'text'">
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
          <q-card-actions class="col-4 " >
            <SimpleButton title="NEW PASSWORD" class='white-button' :onClick="resetPassword" ></SimpleButton>
          </q-card-actions>
        </div>
        <div class="row q-mb-md q-ml-xl" v-show="sourceParams.isPasswordShow && resetPasswordButtonShow === false">
          <div class="col-2 text-h6 q-mt-md text-left text-weight-regular">Password:</div>
          <q-input v-show="sourceParams.isPasswordShow" v-model="password" class="text-h6 q-mt-sm q-mr-xs q-ml-none textInput" :disable="password === '<HIDDEN>'" :dense="true" filled :type="isPwd? 'password' : 'text'">
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
        </div>
<!--        <div class="row q-mb-sm q-ml-lg" v-show="sourceParams.isPasswordShow">-->
<!--          <div class="col-1 q-my-auto q-mr-md"></div>-->
<!--          <div class=" text-h6 q-my-auto q-ml-xl text-left text-weight-regular">-->
<!--            <q-checkbox size="md" v-model="isPassSaved" :onClick="savePassword" label="Save password" />-->
<!--          </div>-->
<!--        </div>-->
<!--        </div>-->


        <div class="row q-mb-md q-ml-xl" v-show="sourceParams.isDatabaseShow">
          <div class="col-2 text-h6 q-my-auto text-left text-weight-regular">Database:</div>
          <q-input v-model="database" class="text-h6 q-pa-none q-my-auto q-mx-none textInput" :dense="true" filled type="text" />
          <q-card-actions class="q-my-auto col-4 q-ml-none " >
            <div>
              <SimpleButton title="TEST CONNECTION" color="secondary" :onClick="testData" v-show="showButtonTestData()" ></SimpleButton>
            </div>
            <div>
              <SimpleButton title="TEST CONNECTION" color="secondary" disable v-show="!showButtonTestData()" ></SimpleButton>
            </div>
          </q-card-actions>
        </div>
        <div class="row q-ml-xl q-mb-sm" v-show="sourceParams.isUrlShow">
          <div class="col-2 text-h6 q-my-auto text-left text-weight-regular">{{ sourceParams.urlTitleName }}</div>
          <q-input v-model="url" input-class="ellipsis" class="col-9 q-ml-none text-h6" :dense="true" filled type="text" />
<!--          <span class="material-symbols-outlined q-ml-md">-->
<!--            content_copy-->
<!--          </span>-->
          <div class="q-ml-md q-mt-sm">
            <ContentCopy :content="url"></ContentCopy>
          </div>
        </div>
        <div class="row q-mb-sm q-ml-lg">
          <div class="col-1 q-my-auto q-mr-md"></div>
          <div class=" text-h6 q-my-auto q-ml-xl text-left text-weight-regular" v-show="sourceParams.isReadonlyCheckboxShow">
            <q-checkbox size="md" v-model="isReadonly" :onClick="readonlyStatus" label="Readonly" />
          </div>
          <div class=" text-h6 q-my-auto q-ml-lg text-left text-weight-regular" v-show="sourceParams.isShowSystemObjectsCheckboxShow">
            <q-checkbox size="md" v-model="isShowSystem" :onClick="showSystemStatus" label="Show system objects" />
          </div>
        </div>
        <div class="row q-ml-xl" v-bind="sourceParams.isCommentShow">
          <div class="col-2 text-h6 q-my-auto text-left text-weight-regular">Comment:</div>
          <q-input v-model="comment" input-class="ellipsis" class="col-9 text-h6 q-ml-none" :dense="true" filled type="text" />
        </div>
        <div class="row q-ml-sm">
          <div class="col-2"></div>
          <q-card-actions class="q-mt-sm col-4 " align="left">
            <div>
              <SimpleButton title="DELETE" color="red" :onClick="deleteData" v-show="!showButtonDeleteData()"></SimpleButton>
            </div>
          </q-card-actions>
          <div class="col-1"></div>
          <q-card-actions class="q-mt-sm q-ml-lg" align="right" >
            <div>
              <SimpleButton title="SAVE" :onClick="saveData" color="primary" class="q-mr-md" v-show="!showButtonSaveData()" disable></SimpleButton>
            </div>
            <div>
              <SimpleButton title="SAVE" :onClick="saveData" color="primary" class="q-mr-md" v-show="showButtonSaveData()"></SimpleButton>
            </div>
            <div>
              <SimpleButton class='white-button' title="CANCEL" :onClick="closeDlgWindow" ></SimpleButton>
            </div>
          </q-card-actions>
        </div>
      </q-card-section>
    </q-card>
  </div>
  </q-dialog>
</template>

<script lang="ts">
import {defineComponent, onBeforeMount, ref, watch} from 'vue';
import { mdiCloseOutline } from '@mdi/js';
import SimpleButton from 'src/app/DbBrowser/components/SimpleButton.vue';
import {answConnectors, dbSourcesResponse, getConnectors} from 'src/app/DbBrowser/myutils';
import {parseConnectorString} from 'src/app/DbBrowser/myutils';
import ContentCopy from '../ContentCopy.vue'
// import {onCopy} from 'src/app/DbBrowser/components/ContentCopy.vue';

export default defineComponent({
  name: 'DlgSourceUniversal',
  props: {
    dbSourceFormVisible: Boolean,
    sourceParams: Object,
    urlValue: String,
    id: Number,
    driver: String,
    connectorNameVal: String,
    isEditingConnector: Boolean,
  },
  components: {
    SimpleButton,
    ContentCopy,
  },
  setup(props) {
    const editConnector = ref(props.isEditingConnector);
    const id = ref(props.id);
    const driver = ref(props.driver);
    const dbSourceWindowVisible = ref(props.dbSourceFormVisible);
    const url = ref(props.urlValue);
    const connectorName = ref(props.connectorNameVal);
    const hostNameRef = ref();
    const host = ref(parseConnectorString(url.value).host);
    const hostRef = ref();
    const protocol = ref(parseConnectorString(url.value).protocol);
    const port = ref(parseConnectorString(url.value).port);
    const portRef = ref();
    // const isUserOptionsShow = ref(false);
    const userName = ref(parseConnectorString(url.value).username);
    const isPwd = ref(true);
    const password = ref(parseConnectorString(url.value).password);
    const resetPasswordButtonShow = ref(false);
    const isTestStatusOk = ref('null');
    const showTestButton = ref(false);
    const isPassSaved = ref(false);
    const database = ref(parseConnectorString(url.value).database);
    const isReadonly = ref(true);
    const isShowSystem = ref(false);
    const comment = ref('');
    const action = ref('test');

    // const showUserOptions = () => {
    //   isUserOptionsShow.value === false ? isUserOptionsShow.value = true : isUserOptionsShow.value = false;
    // }

    const transformPassword = (pass: any) => {
      let transformedPass = '';
      for (let char of pass) {
        transformedPass += '*';
      }
      return transformedPass;
    }

    const passwordVisibility = (password: any) => {
      if (isPwd.value == true) {
        return transformPassword(password);
      }
      return password;
    }

    onBeforeMount(() => {

      url.value = `${protocol.value}://${userName.value}`;
      if (userName.value.length > 0) {
        url.value += ':';
      }

      if (editConnector.value === true && password.value)  {
        isPwd.value = false;
        url.value += '<HIDDEN>@';
        resetPasswordButtonShow.value = true;
      }

      url.value += `${host.value}:${port.value}/${database.value}`;

    });

    watch(url, (newValue, oldValue) => {
      const parsed = parseConnectorString(newValue);
      if (newValue !== oldValue) {
        protocol.value = parsed.protocol;
        host.value = parsed.host;
        port.value = parsed.port;
        userName.value = parsed.username;
        database.value = parsed.database;
      }
      if (newValue !== oldValue && !parseConnectorString(newValue).password.includes('*') ) {
        password.value = parsed.password;
      }
    });

    watch([protocol, host, port, userName, isPwd, password, database],
      ([newProtocol, newHost, newPort, newUsername, newIsPwd, newPassword, newDatabase],
       [oldProtocol, oldHost, oldPort, oldUsername, oldIsPwd, oldPassword, oldDatabase]) => {

        const somethingChanged = (newHost !== oldHost || newPort !== oldPort || newUsername !== oldUsername || newIsPwd !== oldIsPwd ||
          newPassword !== oldPassword || newDatabase !== oldDatabase || newProtocol !== oldProtocol);

        if (somethingChanged) {
          url.value = `${newProtocol}://`;

          if (userName.value !== '') {
            url.value += `${userName.value}:`
          }
          if (password.value !== '') {
            url.value += `${passwordVisibility(password.value)}@`
          }
          if (host.value !== '') {
            url.value += `${host.value}:`
          }
          if (host.value === '') {
            url.value += 'UNDEFINED:'
          }
          if (port.value !== '') {
            url.value += `${port.value}/`
          }
          if (port.value === '') {
            url.value += 'UNDEFINED/'
          }
          if (database.value !== '') {
            url.value += `${database.value}`
          }

        }
      });

    const savePassword = () => {
      console.log('SAVE PASSWORD STATUS: ' + isPassSaved.value);
    }

    const readonlyStatus = () => {
      console.log('READONLY STATUS: ' + isReadonly.value);
    }

    const showSystemStatus = () => {
      console.log('SHOW SYSTEM: ' + isShowSystem.value);
    }

    const sendData = async () => {
      const data = {
        database: {
          host: host.value,
          dbname: database.value,
          user: userName.value,
          password: password.value,
          port: port.value,
        },
        name: connectorName.value,
        id: id.value,
        system: isShowSystem.value,
        readonly: isReadonly.value,
        comment: comment.value,
        driver: driver.value,
        action: action.value,
      };

      try {
        let response = await dbSourcesResponse(data);
        if (response.data.status == true) {
          isTestStatusOk.value = 'true';
        }
        if (response.data.status !== true) {
          isTestStatusOk.value = 'false';
        }
      }
      catch (err) {
        console.error(err);
        isTestStatusOk.value = 'false';
      }
    }

    const testData = () => {
      action.value = 'test';
      sendData();
    }

    const resetPassword = () => {
      // passwordHidden.value = false;
      isPwd.value = true;
      password.value = '';
      resetPasswordButtonShow.value = false;
    }

    const deleteData = () => {
      action.value = 'delete';
      sendData().then(() => closeDlgWindow());
    }

    const showButtonDeleteData = () => null;

    const showButtonTestData = () => host.value && port.value;

    const showButtonSaveData = () => host.value && port.value && connectorName.value;

    const saveData = () => {
      action.value = 'save';
      sendData().then(() => {
        if (isTestStatusOk.value === 'true') {
          getConnectors().then(val => {
            answConnectors.value = val;
          })
          closeDlgWindow()
        }
      });
    }

    const closeDlgWindow = () => {
      dbSourceWindowVisible.value = false;
      console.log('Cancel button! ', dbSourceWindowVisible.value, 'ID Value  ', id.value );
    };

    return {
      dbSourceWindowVisible,
      editConnector,
      connectorName,
      hostNameRef,
      hostNameRules: [
        (val: string | any[]) => (val && val.length > 0)
      ],
      hostRules: [
        (val: string | any[]) => (val && val.length > 0)
      ],
      portRules: [
        (val: string | any[]) => (val && val.length > 0)
      ],
      host,
      hostRef,
      port,
      portRef,
      path: mdiCloseOutline,
      // isUserOptionsShow,
      // showUserOptions,
      userName,
      password,
      resetPasswordButtonShow,
      isPwd,
      isTestStatusOk,
      showTestButton,
      isPassSaved,
      savePassword,
      database,
      url,
      isReadonly,
      readonlyStatus,
      isShowSystem,
      showSystemStatus,
      comment,
      action,
      testData,
      resetPassword,
      deleteData,
      showButtonTestData,
      showButtonDeleteData,
      showButtonSaveData,
      sendData,
      saveData,
      closeDlgWindow,
      ContentCopy,
      // onCopy,
    }

  }
});
</script>

<style scoped>
.sources-db-dialog {
  width: 720px;
  height: 800px;
}
.white-button {
  background: white;
  color: black;
}
.textInput {
  width:300px;
}
.grey {
  color: #404040;
  width: 32px;
}
.green {
  color: #21BA45;
  width: 32px;
}
.iconError {
  color: red;
  width: 32px;
}
</style>
