<template>
  <q-dialog persistent
    v-model="visible"
    @before-show="beforeShow"
  >
    <q-card style="min-width: 400px">
      <q-card-section>
        <div class="text-h6 text-center">
          <q-icon v-if="!!params.connTypeName" size="sm" class="q-mr-sm"
            :name="'img:' + dbConnectors[params.connTypeName].icon" />
          {{ params.connName }}
        </div>
      </q-card-section>
      <q-card-section>
        <div class="q-gutter-sm">
          <div class="row">
            <q-select dense filled
              v-model="params.connTypeName"
              class="q-mr-sm col-5"
              label="Connector type"
              :options="connTypes"
              @update:model-value="onChangeTypeName"
              >
              <template v-slot:option="scope">
                <q-item v-bind="scope.itemProps">
                  <q-icon :name="'img:' + dbConnectors[scope.opt].icon" size="sm" class="q-mr-sm" /> {{ scope.opt }}
                </q-item>
              </template>
            </q-select>
            <q-input dense filled label="Connector name" name="connName" v-model="params.connName" class="col" />
          </div>
          <div class="row">
            <q-input dense filled label="Hostname" name="connHost" v-model="params.hostName" class="q-mr-sm col-8" @update:model-value="genUrl" />
            <q-input dense filled label="Port number" name="connPort" v-model="params.portNumber" class="col" @update:model-value="genUrl" />
          </div>
          <q-input dense filled label="Username" v-model="params.userName" name="connUsername" @update:model-value="genUrl" />

          <div class="row">
            <q-input dense filled
              :disable="!isPwdEditing"
              v-model="params.password"
              ref="connPass"
              @focus="console.log('FOCUSED!')"
              label="Password"
              class="q-mr-sm col-10"
              :type="isPwd && isPwdEditing ? 'password' : 'text'"
              @update:model-value="genUrl"
              >
              <template v-slot:append>
                <q-icon v-if="isPwdEditing"
                  class="cursor-pointer"
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  @click="isPwd = !isPwd" />
              </template>
            </q-input>
            <q-btn dense :disable="isPwdEditing"
              class="cursor-pointer col"
              @click="onPwdEditing"
            >
            <q-tooltip class="bg-primary">Enter the password</q-tooltip>
              <q-icon
                name="edit"
                />
            </q-btn>
          </div>

          <q-input dense filled label="Database" v-model="params.dbName" name="connDatabase" @update:model-value="genUrl" />
          <div class="row">

            <div class="text-h6">Connecting test status:</div>
            <div class="q-mx-sm">
              <q-icon v-if="testConnStatus === true" name="check_circle" color="positive" size="md" />
              <q-icon v-else-if="testConnStatus === false" name="cancel" color="negative" size="md" />
              <q-icon v-else name="help" color="grey" size="md" />
            </div>
            <q-btn dense :loading="testConnLoading" color="positive" class="q-mb-sm"
              @click="connAction('test')">Check</q-btn>
            <!-- @click="() => showNotify()">Check</q-btn> -->
            <!-- <SimpleButton :loading="testConnLoading" color="posititve" class="q-mb-sm"
              @click="connAction('test')">Check</SimpleButton> -->

          </div>

          <q-input dense filled
            label="Connection URL"
            v-model="params.url"
            name="connUrl"
            @update:model-value="setDataFromUrl"
          />
          <q-checkbox v-model="params.options.read_only"
            label="ReadOnly"
            name="connReadonly"
          />
          <q-btn label="More options..."
            @click="() => { dlgMoreOptions = true }" />
          <!-- <q-checkbox v-if="dbConnectors[params.connTypeName || 'unknown'].flags.showSystem" v-model="params.options.isShowSystem" label="Show system" name="connShowSystem" /> -->
          <q-input dense filled label="Comment" v-model="params.comment" name="connComment" />
        </div>
      </q-card-section>
      <q-separator />
      <q-card-section>
        <div class="row q-gutter-sm" >

          <q-btn dense :style="{ width: '80px' }" color="negative" label="delete" @click="dlgDelete = true" />
          <q-space />
          <q-btn dense :style="{ width: '80px' }" color="primary" label="save" @click="dlgSave = true" />
          <q-btn dense :style="{ width: '80px' }" color="secondary" label="cancel" v-close-popup />
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>

  <DlgConfirm
    v-model:visible="dlgDelete"
    :onOk="() => connAction('delete')"
    :onCancel="() => console.log('NOT confirm')"
  >
    Are you sure you want to delete the '{{ params.connName }}' connector?
  </DlgConfirm>

  <DlgConfirm
    v-model:visible="dlgSave"
    :onOk="() => connAction('save')"
    :onCancel="() => console.log('NOT confirm')"
  >
    Are you sure you want to save the '{{ params.connName }}' connector?
  </DlgConfirm>

  <!-- :onCancel="() => console.log('NOT confirm')"> -->
  <DlgConfirm
    v-model:visible="dlgMoreOptions"
    :onOk="() => dlgMoreOptions = false"
    nameOk="Close">
    <div class="col">
      <div v-for="key in Object.keys(params.options).filter((key: string) => key !== 'read_only')"
        :key="key">
        <q-checkbox toggle-indeterminate
          v-model="params.options[key]">
          <div v-if="params.options[key] === null"
            class="text-strike">
            {{ key }}
          </div>
          <div v-else>
            {{ key }}
          </div>
        </q-checkbox>
      </div>
    </div>
  </DlgConfirm> -->

</template>

<script setup lang="ts">
import { answConnectors, dbSourcesResponse, getConnectors, useNotify } from '../../myutils';
import { ref, onMounted, watch, nextTick, watchEffect } from 'vue'
import { IConnConnector, IRowConnConnector, IConnOptions } from 'src/app/DbBrowser/myinterfaces'
import { dbConnectors } from 'src/app/DbBrowser/DbConnectorsList'
import { QInput } from 'quasar';
import DlgConfirm from '../DlgConfirm.vue';
import SimpleButton from '../SimpleButton.vue';

const { showNotify } = useNotify();

const dlgDelete = ref(false);
const dlgSave = ref(false);
const defaultParam: IConnConnector = {
  connName: '',
  connTypeId: null, //undefined,
  connId: null, //undefined,
  connTypeName: '',
  url: '',
  hostName: null,
  portNumber: null,
  userName: '',
  password: '',
  dbName: '',
  comment: '',
  options: {
    read_only: false,
    show_system: null,
    // default_limit: null, //1000
    // sort_by_primary_key: null, // DESC
    // offset: null,  // 0
    // refresh_time_meta: null, // 600
    // count_method: null, // fast
    inactive: null
  }
}

const connTypes = ref(Object.keys(dbConnectors)
  .filter(name => name !== 'unknown')
  .sort((a, b) => a.localeCompare(b, undefined, { sensitivity: 'base' })));

const visible = defineModel('visible', { default: false });
const props = defineProps<{
  connParams: IRowConnConnector
}>();

// const options = ref<IConnOptions>({ read_only: false });
const dlgMoreOptions = ref(false);


const params = ref<IConnConnector>(defaultParam);
const testConnStatus = ref();
const testConnLoading = ref(false);
const isPwd = ref(true);
const isPwdEditing = ref(false);
const connPass = ref<QInput | null>(null);


const onPwdEditing = async () => {
  // console.log('onPwdEditing')
  isPwdEditing.value = true;
  params.value.password = '';
  await nextTick();
  connPass.value?.focus();
}

const parseUrl = (connUrl: string): IConnConnector => {
  const result: IConnConnector = Object.assign({}, defaultParam);
    // console.log('input params:', connUrl);
    // console.log('Default params:', defaultParam);


    const url = connUrl;
    // let connect_type, username = 'undefined', password = 'undefined', hostname, port = 'undefined', dbName = 'undefined';

    // Разбиваем URL по "://"
    const [typeAndRest, path] = url.split('://');

    if (!typeAndRest || !path) {
        return result;
    }

    // connect_type = typeAndRest;

    // Разбиваем на хост/порт и остальную часть
    let hostAndPath = path;
    let userInfo = '';

    // Проверяем наличие имени пользователя и пароля
    const atSignIndex = path.lastIndexOf('@');
    if (atSignIndex !== -1) {
        userInfo = path.slice(0, atSignIndex);
        hostAndPath = path.slice(atSignIndex + 1);
        const [user, pass] = userInfo.split(':');
        if (user) result.userName = user;
        if (pass) result.password = (pass === '<_hidden_>') ? '<HIDDEN>' : pass;
    }

    // Разбиваем на хост и порт
    const [hostAndPort, dbNamePart] = hostAndPath.split('/');
    if (dbNamePart) result.dbName = dbNamePart;
    const [host, portPart] = hostAndPort.split(':');
    result.hostName = host;
    if (portPart) {
        result.portNumber = Number(portPart);
    }
    return result;
}

const genUrl = () => {
  let url = params.value.connTypeName ? dbConnectors[params.value.connTypeName].urlPrefix + '://' : '';
  url += params.value.userName && `${params.value.userName}:`;
  url += params.value.password && `${params.value.password}@`;
  url += params.value.hostName;
  url += params.value.portNumber ? `:${params.value.portNumber}` : '';
  url += params.value.dbName && `/${params.value.dbName}`;
  params.value.url = url;
  // console.log('gen url=', url, ' val=', val);
};

const setDataFromUrl = (val: any) => {
  const parseParam = parseUrl(val);
  params.value.userName = parseParam.userName;
  params.value.password = parseParam.password;
  params.value.hostName = parseParam.hostName;
  params.value.portNumber = parseParam.portNumber;
  params.value.dbName = parseParam.dbName;

};

watchEffect(() => {
  // console.log('New connParam ', props.connParams);
  let parsingUrl;
  try {
    parsingUrl = parseUrl(props.connParams.url || '');

  } catch (err) {
    console.error('Error in parseUrl:', err);
    throw err;
  }

  const { options, ...rest } = props.connParams;
  // console.log('params.value  ', params.value);
  // console.log('rest  ', rest);

  const newParam = { ...defaultParam, ...parsingUrl, ...rest };
  newParam.options = { ...newParam.options, ...options };

  // const newParam = { ...params.value, ...parsingUrl, ...props.connParams };
  // console.log('newParam  ', newParam);
  params.value = newParam;

  // params.value = Object.assign({}, parsingUrl, props.connParams);
})

const getOptions = () => {
  // const result = {
  //     read_only: params.value.options.read_only,
  //     show_system: params.value.options.show_system
  //   };
  const result: IConnOptions = { read_only: params.value.options['read_only'] };
  for (let key in params.value.options) {
    if (params.value.options[key] !== null)
      result[key] = params.value.options[key];
  }

  return result;
};

const sendData = async (action: string) => {
  const data = {
    name: params.value.connName,
    // typeId: params.value.connTypeId,
    id: params.value.connId,
    options: getOptions(),
    comment: params.value.comment,
    driver: params.value.connTypeName,
    action: action,
    database: {
      host: params.value.hostName,
      dbname: params.value.dbName,
      user: params.value.userName,
      password: params.value.password,
      port: params.value.portNumber,
    },
  };
  return dbSourcesResponse(data);
};

const connAction = (action: string) => {
  // console.log('connAction ', action);

  let msgAction: string;
  switch (action) {
    case 'test'   : msgAction = 'tested'; break;
    case 'save'   : msgAction = 'saved'; break;
    case 'delete' : msgAction = 'deleted'; break;
  }

  if (action === 'test') testConnLoading.value = true;
  sendData(action)
    .then((res) => {
      if (res.data['status'] === 'OK') {
        if (action === 'test') testConnStatus.value = true
          else visible.value = false
        showNotify(`Connector ${msgAction} OK!`, 'positive');
        console.log(`[OK] Action '${action}': `, res.data['message'])
        getConnectors()
          .then(val => answConnectors.value = val)
          .catch(err => {
            showNotify('[ERR] Update connector list!', 'negative');
            console.error('[ERR] Update connector list: ', err)
        });
      } else {
        if (action === 'test') testConnStatus.value = false;
        showNotify(`[ERR] Connector ${msgAction}: ${res.data['message']}`, 'negative')
        console.error(`[ERR] Connector ${msgAction}: `, res.data['message'])
      }})
    .catch(err => {
      if (action === 'test') testConnStatus.value = false;
      showNotify(`[ERR] Connector ${msgAction}`, 'negative')
      console.error(`[ERR] Action '${action}' ERROR! >>> `, err)
    }).finally(() => {
      if (action === 'test') testConnLoading.value = false
  });
};


// const connSave = () => {
//   sendData('save').then((res) => {
//     if (res.data['status'] === 'OK') {
//       console.log('[OK] Connector save: ', res.data['message'])
//       getConnectors().then(val => answConnectors.value = val)
//         .catch(err => console.error('[ERROR] Update connector list: ', err));
//     } else {
//       console.error('[ERR] Connector save: ', res.data['message'])
//     }})
//     .catch(err => {
//       console.error('[ERR] CONNECTOR SAVE ERROR! ', err)
//     });
// };

// const connTest = () => {
//   testConnLoading.value = true;
//   sendData('test').then((res) => {
//     if (res.data['status'] === 'OK') {
//       testConnStatus.value = true;
//       console.log('[OK] Connection test: ', res.data['message'])
//     } else {
//       testConnStatus.value = false;
//       console.error('[ERR] Connection test: ', res.data['message'])
//     }
//   }).catch((err) => {
//     testConnStatus.value = false;
//     console.error('[ERR] TEST CONNECT ERROR!', err)
//   }).finally(() => {
//     testConnLoading.value = false
//   })
// };


const onChangeTypeName = (val: string) => {
  console.log('New selection ', val);
  params.value.portNumber = dbConnectors[val].default.portNumber;
  params.value.hostName = dbConnectors[val].default.hostName;
  // params.value.portNumber = params.value.portNumber || dbConnectors[val].default.portNumber;
  // params.value.hostName = params.value.hostName || dbConnectors[val].default.hostName;
  genUrl();

};

onMounted(() => {
  // console.log('EditConnector onMount ', props);
  // isPwd.value = true;
  // isPwdEditing.value = false;
  });

  const beforeShow = () => {
    // console.log('before show ', props);
    isPwd.value = true;
    isPwdEditing.value = false;
    testConnStatus.value = undefined;

}


</script>
