.view-table-control-string {

}

/*:hover { background-color: #42b983 }*/
.view-control-string--hover {
    background-color: antiquewhite;
}
.view-control-string--selected {
    background-color: beige;
}

.control.number {
    background-color: red;
}

.control-number {
    background-color: gray;
}


.myDiv:hover > *[contenteditable="true"] {
  background-color: rgba(217, 245, 255,0.5);
}


.control-boolean {
  display: grid;
	place-items: center
}
