.w100 {
  min-width: 100%;
}

.h100 {
  min-height: 100%;
}

.h100c {
    height: calc(100%);
}

.w100vh {
  min-width: 100vh;
}

.h100vh {
  min-height: 100vh;
}

.red {
  color: red;
}

.nowrap {
    white-space: nowrap
}

.small {
  font-size: 80%;
}

.nowrap {
  white-space: nowrap
}

