@import "global.css";
@import "button.css";
@import "controls.css";

// https://css-tricks.com/almanac/properties/s/scrollbar/

table {
}


td {
  border-collapse: collapse;
  //border:1px solid lightgrey;
  border:1px solid #5C5C5C;
}


.columnSelector:hover {
  //border-left: 4px solid red;
  border-right: 4px solid #00B4FF
}

.view-table {
  padding: 10px;
  width: 100%;
  //background-color: gainsboro;
  background-image: linear-gradient(to right, #f3f2f2 , #F7F7F7);
  overflow: hidden;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-collapse: collapse;
}

//.example-table {
//  padding: 10px;
//  width: 100%;
//  //background-color: lightyellow;
//  background-color: #d3d3d3;
//  color: #000;
//
//  overflow: hidden;
//  border-bottom-right-radius: 10px;
//  border-bottom-left-radius: 10px;
//  border-collapse: collapse;
//  //text-align: right
//}

.view-table-head-row {}
.view-table-row {}

//marked
.nowrap {
    white-space: nowrap
}

.view-table-column--hover {
  background-color: grey;
  color: white;
  font-weight: bold;
}

.view-table-column {
  background-color: darkcyan;
}

.table-column {
  //background-color: lightcyan;
  //color: red;
}


.view-table-column--selected {
  background-color: #A2A2A2;
}

.view-table-column--marked {
  background-color: olivedrab;
}

.view-table-column--hover-selected {
  background-color: #A2A2A2;
  color: white;
  font-weight: bold;
}
.view-table-column--hover-marked {
  background-color: yellow;
}

.view-table-row-select-column {
  //background-color: #1099ff;
}

.view-table-row--selected {
  //background-color: yellowgreen;
}

.view-table-row--hover {
  background-color: darkgray;
}


.view-table-row {
  color: #222;
}

.view-table-bottom-row {
  //background-color: lightsalmon;
}

.view-table-scroll-column {
  //background-color: lightgray;
}

.view-table-vertical-wrapper-class {
  width: 14px;
  text-align: center;
  //background-color: #336699;
}

.view-table-vertical-bar-class {
  min-width: 50%;
  max-width: 50%;
  border-radius: 3px 3px 3px 3px;
  display: inline-block;
}

.view-table-vertical-bar-class:hover {
  min-width: 14px;
  max-width: 14px;
  border-radius: 7px 7px 7px 7px;
}



.view-table-vertical-placeholder-top-class {
   min-width: 14px;
}
.view-table-vertical-placeholder-bottom-class {
  min-width: 14px;
}


.view-table-searcher {
  background-color: orange;
}


.icon-toggle-button {
  background-color: lightslategrey;
  color: white;
}
//.view-table-header-column {
//  background-color: darkcyan;
//  color: red;
//}

//.hscroll {
//  overflow-x: scroll;
//  //overflow: hidden;
//  white-space: nowrap;
//}

.nohscroll {
  overflow: hidden;
  scroll-margin-bottom: 0;
}

.hscroll {
  overflow-y: scroll;
  scroll-margin-bottom: 0;
}

.overflow_hidden {
    overflow: hidden
}

.overflow300 {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.overflow100 {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}


.w100 {
  width: 100%;
}
.w90 {
  width: 90%;
}

.small {
  //color: red;
  font-size: 80%;
}
.large {
  font-size: 120%;
}
//.tiny {
//  font-size: 40%;
//}
.only_content {
  padding: 0;
  margin: 0;
}

.selected {
    background-color: grey;
    color: black;
    //font-weight: bold;
}
.normal {
    background-color: lightgrey;
    color: black;
}
.normal_hover {
  background-color: darkgrey;
  color: black;
  //font-weight: bold;
}

.col_selected {
}
.col_normal {
}
.col_normal_hover {
  color: brown;
  font-weight: bold;
}


.table_header_base {
  background-color: darkslategray;
}
.table_column_header {
  font-style: italic;
  font-weight: bold;
  color: white;
}

.table_column_footer {
  font-style: italic;
  font-weight: bold;
  //color: orangered;
}

.table_paginator_base {
  background-color: yellowgreen;
  font-weight: bold;
  color: darkred;
  width: 100%;
  text-align: right;
}

.table_search_base {
  background-color: lightgoldenrodyellow;
  font-weight: bold;
}

.search_text {
  background-color: white;
  color: #000;
}
.align_left {
  text-align: left;
}


.table-super-wrapper {
  //height: 340px;
  //width: 1120px;
  //  height: 100%;
    width: 100%;
  //background-color: #d39e00;
}

.table-super-wrapper > tbody > tr > td {
  //background-color: lightsalmon;
  vertical-align: top;
  padding: 0;
  margin: 0;
}

//.aaa-table > tbody > tr > td {
//  background-color: mediumvioletred;
//  padding: 0;
//  margin: 0;
//}

.table-itself {
  margin: 0;
  padding:  0;
  //color: lightgrey;
  //background-color: #eeffee;
  width: 100%;
  //width: 1000px;
  //height: 100%;
  height: 400px;
}

.table-itself > tbody > tr > td {
  padding: 0;
  margin: 0;
  min-height: 12px;
  max-height: 36px;
}

.table-row-regular {
}

.table-itself-short {
  margin: 0;
  padding:  0;
  //background-color: #ee55aa;
}

.table-wrap-window {
  //height: 100%;
  //background-color: gray;
  //overflow: scroll;
  overflow-y: hidden;
  overflow-x: scroll;
  //width: 600px;
  //width: 100%;
  // white-space: nowrap;
  //word-break: keep-all;
  //text-wrap: unset;
  //word-wrap: break-word;
}

.table-wrap-window-short {
  height: 100%;
  //background-color: plum;
  //width: 80px;
}


.table-wrap-window > tbody > tr > td {
  //background-color: mediumvioletred;
  padding: 0;
  margin: 0;
}

.example_wrap {
  margin: 20px;
}

.h100 {
  height: 100%;
}
//<div id="" style="overflow:scroll; height:400px;">

 .just-ellipsis {
     position: relative;
 }

 //.just-ellipsis {
 //    position: relative;
 //}
 //
 //
//.ellipsis:before {
//    content: '';
//    visibility: hidden;
//}

.just-ellipsis span {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
}

//::-webkit-scrollbar {
//   display: none;
//}
