<template>
  <tr   :ref="selfRefName"
        @click.stop="click($event)"
        @click.right.stop.prevent="rightClick($event)"
        @dblclick.stop="dblClick($event)"
        @mouseout="mouseout"
        @mouseover="mouseover"
        @mouseenter="mouseover"
        :class="[currentClass]"
        :style="currentStyle"
        >
          <!-- item: - type should be fixed
            TableHeaderColumn v-if="settings.rowSelector"
            :item="rowSelectorHeader()"
            :controller="controller"
            :rowController="this"

            :itemsCount="columns.length"
            :settings="localSettings"
            />
          <TableHeaderColumn v-if="settings.rowEnumerator"
            :item="rowEnumeratorHeader()"
            :controller="controller"
            :rowController="this"
            :itemsCount="columns.length"
            :settings="localSettings"
            / -->
          <TableHeaderColumn v-for="(column, index) in realColumns"
              :key="index"
              :item="column"
              :tableDom='tableDom'
              :controller="controller"
              :rowController="this"
              :itemIndex="index"
              :itemsCount="columns.length"
              :columnWidth="columnsWidth[index]"
              :settings="localSettings"
              @select="selectRow($event)"
            />
  </tr>
</template>

<script lang="ts">

import {defineComponent, PropType} from 'vue';

import { TableHeaderColumnType } from '../../Types/TableColumnType';
import { TableHeaderRowType } from '../../Types/TableRowType';
import TableHeaderColumn from '../../Agregates/Columns/TableHeaderColumn.vue';
import SelectiveItem from 'components/Controls/Components/SelectiveItem.vue';
import EventBaseComponent from 'components/Abstract/EventBaseComponent.vue';
import { TableSettingsType } from 'components/Table/Types/TableSettingsType';
import TableBaseComponent from '../../TableBaseComponent.vue'
import RowRegisterMixin from './RowRegisterMixin';
import { isSpecialColumn, RenderColumn } from 'components/Table/Types/TableViewType';
// import RowRegisterMixin from 'components/Table/Agregates/Rows/RowRegisterMixin';

// @todo implement Abstract ROW
export default defineComponent({
    components: {
      TableHeaderColumn
    },
    mixins: [
      TableBaseComponent,
      SelectiveItem,
      EventBaseComponent,
      RowRegisterMixin
    ],
    mounted() {
      /**/
    },
    methods: {
      isHeaderRow() { return true },
      isFirstRow()  { return false },
      isLastRow()   { return false },
      selectRow(data: object) { this.select({column: data}) },
      rowEnumeratorHeader() {
        return new TableHeaderColumnType(this.settings.rowEnumeratorName);
      },
      rowSelectorHeader() {
        return new TableHeaderColumnType('*');
      }
    },
    computed: {
      columns(): TableHeaderColumnType[] { return this.item ? this.item.columns : [] },
      realColumns (): RenderColumn[] {
          console.log('$$$$$$$$$$$$$$$$$$$$$$$$$$  HEARER :::', this.columns)
          return this.applySpecialColumns === 'YES'
            ? this.columns
            : this.columns.filter((col: RenderColumn) => !isSpecialColumn(col.name));
        }
    },
    props: {
      item:       { type: TableHeaderRowType },
      tableDom:   { type: Function },
      controller: {},
      applySpecialColumns: {type: String, default: 'FALSE'},
      columnsWidth: { type: Array as PropType<number[]>, default: () => [] },
      settings:   { type: TableSettingsType }
    },
    data() {
      return {
        componentKind: 'table-head-row'
      }
    },

})

</script>
