<template>
  <tr  :ref='selfRefName'
        @mouseout='mouseout'
        @mouseover='mouseover'
        @mouseenter='mouseover'
        :class='[currentClass]'
        :style='trStyle'
        >
        <TableRowSelectColumn
            v-if='localSettings.rowSelector'
            :settings='localSettings'
        />
        <TableRowEnumerateColumn
            v-if='localSettings.rowEnumerator'
            :row='columns'
            :settings='localSettings'
        />
       <template v-for='(column, index) in realColumns' :key='index'>
          <Column
                  :controller="controller"
                  :rowController='this'
                  :item='column'
                  :model='model[index]'
                  :columnWidth='columnsWidth[index]'
                  :itemIndex='index'
                  :itemsCount='column.actualNumberOfColumns'
                  :settings='localSettings'
                  @click='clickRow(ClickMode.click, $event)'
                  @click.right='clickRow(ClickMode.rightClick, $event)'
                  @dbl-click='clickRow(ClickMode.dblClick, $event)'
            />
      </template>
  </tr>
</template>

<!--        @click.stop='clickRow($event)'-->
<!--        @click.right.stop.prevent='rightClick($event)'-->
<!--        @dblclick.stop='dblClick($event)'-->
<!--        @click='this.$emit("click", $event)'-->

<script lang='ts'>

import { defineComponent } from 'vue'
import { PropType } from 'vue'
import { $$ } from 'src/system/utils';

import SelectiveItem from 'components/Controls/Components/SelectiveItem.vue';
import ArrayItemBaseComponent from 'components/Abstract/ArrayItemBaseComponent.vue';
import EventBaseComponent from 'components/Abstract/EventBaseComponent.vue';
import {
  BooleanFieldType,
  isSpecialColumn,
  RenderColumn,
  RenderRecord,
  TableViewType
} from 'components/Table/Types/TableViewType';
import {TableSettingsType} from 'components/Table/Types/TableSettingsType';

import Column from '../../Agregates/Columns/TableRegularColumn.vue';
import TableRowSelectColumn from '../Columns/TableRowSelectColumn.vue'
import TableRowEnumerateColumn from '../Columns/TableRowEnumerateColumn.vue'
import { TableColumnModelType } from '../../Types/TableColumnType';
import TableBaseComponent from '../../TableBaseComponent.vue'
import TableScrollColumn from 'components/Table/Agregates/Columns/TableScrollColumn.vue';
import RowRegisterMixin from 'components/Table/Agregates/Rows/RowRegisterMixin';
import { BarXYPercentage } from 'components/Table/Implementation/dataScrollBar';
import { ClickMode } from 'components/Abstract/AbstractTypes';

// @todo implement Abstract ROW
export default defineComponent({
    components: {
        Column,
        TableRowSelectColumn,
        TableRowEnumerateColumn,
        // TableScrollColumn
    },
    mixins: [
      TableBaseComponent,
      ArrayItemBaseComponent,
      SelectiveItem,
      EventBaseComponent,
      RowRegisterMixin
    ],
    emits:['scroll', 'click', 'dblClick', 'rightClick', 'scrollBarSize'],
    methods: {
      isHeaderRow() { return false },
      isFirstRow()  { return this.itemIndex === 0 },
      isLastRow()   { return this.itemIndex === this.rowsNumber - 1 },

      clickRow(mode: ClickMode, data: any) {
          const rowData = {...data,
            row: this.item,
            rowIndex: this.itemIndex
          }
        this.select(mode, rowData);
      }
    },
    computed: {
      ClickMode() {
        return ClickMode;
      },
      getRowHeight() {
        return this.controller.view.rowHeight;
      },
      trStyle() {
        return {
            'white-space': 'nowrap',
            'height': `${this.getRowHeight}px`  //rowHeight
        }
      },
        // columnView: (self) => (columnType) => {
        //     return $$.isDefined(self.dataView)
        //         && $$.isDefined(self.dataView.columns)
        //         ? self.dataView.columns[columnType]
        //         : null
        // },
        columns() {
            const result = []

            // console.log('############## this.item:::::', this.item)
            // console.log('############## this.item.SYS:::::', this.item.SYS)
            const getValue = (fieldName: string) => fieldName.startsWith('SYS.')
              ? this.item.SYS[fieldName.substring('SYS.'.length)]
              : this.item.data[fieldName];

            if ($$.isDefined(this.model)) {
                for (const columnModel of this.model) {
                    // const columnType = columnModel.type;

                    if (! $$.isDefined(columnModel.isActual) || columnModel.isActual) {
                      result.push(new RenderColumn({
                            value: getValue(columnModel.name),
                            // params: this.item.data[columnModel.params],
                            // name: columnModel,
                            model: columnModel,
                            // view: this.dataView.columns,
                            // view: this.columnView(columnType),
                            // view: columnType,
                            SYS: this.item.SYS
                        }))
                    }
                }
            }
            result.forEach(r => { r.actualNumberOfColumns = result.length });
            // console.log('ROWINFO', result);
            return result
        },
        realColumns (): RenderColumn[] {
          // console.log('$$$$$$$$$$$$$$$$$$$$$$$$$$ :::', this.columns)
          return this.applySpecialColumns === 'YES'
            ? this.columns
            : this.columns.filter((col: RenderColumn) => !isSpecialColumn(col.model.name));
        }
    },
    props: {
      item:       { type: Object as PropType<RenderRecord>, required: true },
      model:      { type: Array as  PropType<TableColumnModelType[]>, required: true },
      dataView:   { type: TableViewType, default: new TableViewType() },
      itemIndex:  { type: Number, default: 0 },
      rowsNumber: { type: Number, default: 0 },
      columnsWidth: { type: Array as PropType<number[]>, default: () => [] },
      controller: {},
      applySpecialColumns: {type: String, default: 'FALSE'},
      settings:   { type: TableSettingsType, default: new TableSettingsType() }
    },
    data() {
      return {
        componentKind: 'table-row',
        // exclusiveCss: {
        //   'class': 'table-row-regular'
        // }
      }
    }
})

</script>

<style lang='scss' src='assets/css/table.scss'></style>
