<template>
  <tr   :ref='selfRefName'
        @click.stop='click($event)'
        @click.right.stop.prevent='rightClick($event)'
        @dblclick.stop='dblClick($event)'
        @mouseout='mouseout'
        @mouseover='mouseover'
        @mouseenter='mouseover'
        :class='[currentClass]'
        :style='currentStyle'
        >
  <td colspan='100000'><div>&nbsp;</div></td>

  </tr>
</template>

<style>
</style>

<script lang='ts'>

import { defineComponent } from 'vue';

import SelectiveItem from 'components/Controls/Components/SelectiveItem.vue';
import EventBaseComponent from 'components/Abstract/EventBaseComponent.vue';

import { TableSettingsType } from 'components/Table/Types/TableSettingsType';
import TableBaseComponent from '../../TableBaseComponent.vue'

export default defineComponent({
    components: {
    },
    mixins: [
      TableBaseComponent,
      SelectiveItem,
      EventBaseComponent
    ],

    methods: {
    },
    computed: {
    },
    props: {
      controller: { },
      settings:   { type: TableSettingsType }
    },
    data() {
      return {
        componentKind: 'table-bottom-row'
      }
    },

})

</script>
