.myicon {
    text-decoration: none;
    border: 1px solid #eee;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    padding: 1px 1px;
    margin: 1px;
}

.bootstrap-icon {
    text-decoration: none;
}

:root {
    --width_of_icon: 14px;
    --height_of_icon: 14px;
    --bacground_of_icon: white;
    --borderradius_of_icon: 50%;
    --border_of_outside_circle: calc(var(--height_of_icon) / 5)
}
.picture-icon {
    width: var( --width_of_icon);
    height: var( --height_of_icon);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin:1px;
}

.icon-outside-circle {
    width: calc(var(--width_of_icon) + 1px);
    height: calc(var(--height_of_icon) + 1px);
    border: 1px solid #32A2DA;
    padding:1px;
    border-radius: var(--borderradius_of_icon) ;
    text-align: center;
}
