<template>

    <span v-if="isBlank"           class="flat-icon"     >&nbsp;</span>
    <span v-else-if="isFlat"       class="flat-icon"     :class="iconClass" :style="iconStyle"></span>
    <span v-else-if="isFlaticon"   class="flat-icon"     :class="iconClass" :style="iconStyle"></span>
    <span v-else-if="isPficon"     class="picon"         :class="iconClass"></span>
    <span v-else-if="isPictured"   class="picture-icon"  :class="iconClass">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span v-else-if="isBootstrap"  class="bootstrap-icon" :class="iconClass" :style="iconStyle"></span>
    <span v-else class="aicon" :style="iconStyle">
        <FontAwesomeIcon
                :spin="isSpin"
                :rotation="getRotation"
                :inverse="getInverse"
                :icon="iconClass"
                :color="getColor"
                />
    </span>

</template>

<script lang="ts">

// https://www.patternfly.org/v3/styles/icons/index.html
// https://fontawesome.com/icons?d=gallery&m=free
// https://www.npmjs.com/package/@fortawesome/vue-fontawesome
// @see https://blog.getbootstrap.com/2020/12/11/bootstrap-icons-1-2-0/

// node_modules/@quasar/extras/eva-icons/eva-icons.css  <-- quasar icons example of


import { $$ } from 'src/system/utils'

import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import 'bootstrap-icons/font/bootstrap-icons.css';
import 'assets/icons/flaticon/flaticon.css';
import 'assets/icons/flaticon2/flaticon.css';

import { defineComponent } from 'vue'


export default defineComponent({
    name: 'my-icon',
    props: {
      icon:   { type: String },
      color:  { type: String, default: undefined },
      bold:   { type: Boolean, default: false },
      size:   { type: String, default: '100%'}
    },
    components: {
      FontAwesomeIcon
    },

    computed: {
        getColor(): string  { return this.color || this.colorName},
        iconClass(): string { return this.params[0] },
        iconStyle() { return {'color': this.getColor, 'font-size': this.size, 'font-weight': this.bold ? 'bold' : 'normal'}},
        params() {
            const params = this.icon ? this.icon.split(' ') : [];
            params.forEach((param: string)  => {
              if (param.startsWith('color:')) {
                this.colorName = param.substr('color:'.length);
              }
            });
            return params;
        },
        getInverse(): boolean { return $$.isIncludes(this.params, 'inverse') },
        getRotation() {
            if ($$.isIncludes(this.params, '90'))  return '90';
            if ($$.isIncludes(this.params, '180')) return '180';
            if ($$.isIncludes(this.params, '270')) return '270';
            return null
        },
        isBlank(): boolean      { return this.icon ? this.icon.search('zero-blank') !== -1 : false },
        isSpin(): boolean       { return $$.isIncludes(this.params, 'spin') },
        isFlat(): boolean       { return this.icon ? this.icon.search('fi-') !== -1 : false },
        isFlaticon(): boolean   { return this.icon ? this.icon.search('flaticon') !== -1 : false },
        isPficon(): boolean     { return this.icon ? this.icon.search('pficon') !== -1 : false },
        isBootstrap(): boolean  { return this.icon ? this.icon.search('bi-') !== -1 : false },
        isPictured(): boolean   { return this.icon ? this.icon.search('icon-') !== -1 : false},
    },
    data() {
        return {
          colorName: 'black'
        }
    }
})

</script>
<style lang="css" src="./icons.css"></style>
<style lang="css" src="./picture_xmig_icons.css"></style>
<style lang="css" src="./picture_streamline_icons.css"></style>
<style lang="css" src="./picture_sveta_icons.css"></style>
