.icon-sqlite   { background-image: url("../../assets/icons/xmig/SQlite.png"); }
.icon-postgres { background-image: url("../../assets/icons/xmig/Postgres.png"); }
.icon-mysql    { background-image: url("../../assets/icons/xmig/mysql2.png"); }
.icon-redis    { background-image: url("../../assets/icons/xmig/Redis.png"); }
.icon-influxdb { background-image: url("../../assets/icons/xmig/InfluxDB.png"); }
.icon-rabbitmq { background-image: url("../../assets/icons/xmig/rabbitMQ.png"); }
.icon-clickhouse { background-image: url("../../assets/icons/xmig/ClickHouse_clear.png"); }
.icon-hive     { background-image: url("../../assets/icons/xmig/ApacheHive.png"); }
.icon-cassandra{ background-image: url("../../assets/icons/xmig/cassandra.png"); }
.icon-mongo    { background-image: url("../../assets/icons/xmig/mongoDB.png"); }
.icon-json     { background-image: url("../../assets/icons/xmig/JSON.png"); }
.icon-xml      { background-image: url("../../assets/icons/xmig/C__fakepath_Exel.png"); }
.icon-dynamodb { background-image: url("../../assets/icons/xmig/AmazonDynamoDB.png"); }
.icon-sphinks  { background-image: url("../../assets/icons/xmig/Sphinks_justBlackAndBlue.png"); }
.icon-googlebigtable  { background-image: url("../../assets/icons/xmig/GoogleBigTable.png"); }
