<template>

  <TableGradient></TableGradient>
  <PopUpWindow
    v-if="popupVisible"
    title="WindowsTitle!"
    v-model:visible=popupVisible
    :size="{ height: 600, width: 500 }"
  >
    <SqlEditor conn-name=""></SqlEditor>
  </PopUpWindow>
<!--  <q-page class="row items-center justify-evenly">-->
<!--    <example-component-->
<!--      title="Example component"-->
<!--      active-->
<!--      :todos="todos"-->
<!--      :meta="meta"-->
<!--    />-->

<!--    <XEditor title="abc"/>-->

<!--  </q-page>-->


</template>

<script lang="ts">
import { Todo, Meta } from 'src/app/DbBrowser/models';
import ExampleComponent from 'src/app/Example/ExampleComponent.vue';
import XEditor from 'src/app/Example/Editor.vue';
import TableGradient from 'src/app/DbBrowser/components/TableGradient.vue';
import { defineComponent, ref } from 'vue';
import PopUpWindow from 'src/app/DbBrowser/components/PopUpWindow.vue';
import SqlEditor from '../../DbBrowser/components/SqlEditor.vue'



// export const createPopUp = () => {
//
// }

export default defineComponent({
  name: 'IndexPage',
  // components: { ExampleComponent, XEditor, TableGradient },
  components: { TableGradient, PopUpWindow, SqlEditor },
  // components: { TableGradient, PopupWindow, AceEditor2 },
  setup () {
    const popupVisible = ref(true);

  //   const todos = ref<Todo[]>([
  //     {
  //       id: 1,
  //       content: 'HELLO'
  //     },
  //     {
  //       id: 2,
  //       content: 'ct2'
  //     }
  //   ]);
  //   const meta = ref<Meta>({
  //     totalCount: 1200
  //   });
    // return { todos, meta };
    return { popupVisible }
  }
});
</script>

