<template>
  <div class="q-pa-md">
    <div class="q-gutter-y-sm absolute-center column" style="width: 600px">

      <div class="q-pa-md">
        <q-markup-table dense>
          <thead>
          <tr>
            <th class="text-left">Database Access</th>
            <th class="text-left">Readonly</th>
            <th class="text-right">WriteOnly</th>
            <th class="text-right">Maintenance</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(object, index) in connectors" :key="index">
            <td class="text-left">{{ object.name }}</td>
            <td class="text-right"><q-checkbox dense v-model="object['readonly']" label="" /></td>
            <td class="text-right"><q-checkbox dense v-model="object['writeOnly']" label="" /></td>
            <td class="text-right"><q-checkbox dense v-model="object['maintenance']" label="" /></td>
          </tr>
          </tbody>
        </q-markup-table>

        <q-table dense :rows="connectors" >
        </q-table>
      </div>

      <q-btn unelevated rounded color="primary" label="Save" style="margin: 10px 0px 0px 0px" @click="saveData" />
    </div>
  </div>
</template>

<script>
import { ref } from 'vue'
import axios from 'axios'
import 'src/app/DbBrowser/myutils'
import {getConnectors} from 'src/app/DbBrowser/myutils';

export default {
  setup() {
    let connectors = ref([])

    getConnectors().then(val => {
      connectors.value = val.map(item => ({
        'name': item.name,
        'readonly': ref(false),
        'writeOnly': ref(false),
        'maintenance': ref(false),
      }));
      console.log('CONNECTORSSSSSSSS!', connectors);
    });

    const saveData = async () => {
      const data = {
        connectors: connectors.value,
      }

      try {
        const response = await axios.post('YOUR_API_ENDPOINT', data)
        console.log('*********************************************** ' + response.data)
      } catch (error) {
        console.error('Error saving data:', error)
      }
    }

    return {
      connectors,
      saveData,
    }
  },
}
</script>
