<template>
<q-table
  :rows="rows"
  :columns="fields"
>

</q-table>

</template>

<script setup>
import { ref, onMounted } from 'vue';

const rows =  [
  ['ivan', 'email ivan' ],
  ['peter', 'email peter'],
];

const fields = [
  {name: 'NAME', label: 'LNAME', field: 0},
  {name: 'EMAIL', label: 'LEMAIL', field: 1},
]

</script>
