<template>
  <div class='example'>
    <div>
      <button @click="setrow(10)" type="button" class="btn btn-primary">10</button>&nbsp;
      <button @click="setrow(100)" type="button" class="btn btn-primary">100</button>&nbsp;
      <button @click="setrow(1000)" type="button" class="btn btn-primary">1000</button>&nbsp;
      <button @click="setrow(5000)" type="button" class="btn btn-primary">5000</button>&nbsp;
      <button @click="shuffle" type="button" class="btn btn-success">shuffle</button>&nbsp;
    </div>
    <SimpleTable ref="example_table"
      :inputData='inputData'
      :model='model'
    />
  </div>
</template>

<script lang='ts'>

import {$$} from 'src/system/utils'
import SimpleTable from 'components/Table/Table1OldVersion.vue'
import { TableColumnModelType } from 'components/Table/Types/TableColumnType';
import { TableViewType } from 'components/Table/Types/TableViewType';

export default {
  components: {
    SimpleTable
  },
  computed: {
    inputData() {
      const res = [];
      for (let i=0; i<10001; i++) {
        res.push({
            name: 'Z test ' + i,
            value: $$.uniqueId(),
            ok: i % 4 == 0,
            mode: 'mode:' + $$.uniqueId()
          },
        )
      }
      return res;
    }
  },
  methods: {
    setrow(row_number: number) {
      this.$refs.example_table.view.scrollShift = row_number;
    },
    shuffle() { this.$refs.example_table.shuffle(); }
  },
  data() {
    return {
      model: [
          new TableColumnModelType('name', 'string'),
          new TableColumnModelType('ok', 'boolean'),
          new TableColumnModelType('value', 'number'),
          new TableColumnModelType('mode', 'string')
      ],
    }
  }
}

</script>

<style lang='scss' src='assets/css/table.scss'></style>
