<template>
  <div class="example_wrap">
  <div class='example'>
    <br/>
    <br/>
    <div>
      <button @click="setrow(10)" type="button" class="btn btn-primary">10</button>&nbsp;
      <button @click="setrow(100)" type="button" class="btn btn-primary">100</button>&nbsp;
      <button @click="setrow(1000)" type="button" class="btn btn-primary">1000</button>&nbsp;
      <button @click="setrow(5000)" type="button" class="btn btn-primary">5000</button>&nbsp;
      <button @click="shuffle" type="button" class="btn btn-success">shuffle</button>&nbsp;

    </div>

<!--    <div style="width: 1000px; height: 200px">-->
<!--    <KeepAlive>-->
    <SimpleTable ref="example_table"
        :inputData='inputData'
        :model='model'
    />
<!--    </KeepAlive>-->
  </div>
<!--  </div>-->
  </div>
</template>

<script lang='ts'>

import {$$} from 'src/system/utils'
import SimpleTable from 'components/Table/Table2Current.vue'
import { TableColumnModelType } from 'components/Table/Types/TableColumnType';
import { TableViewType } from 'components/Table/Types/TableViewType';

export default {
  displayName: 'TableExample02',

  components: {
    SimpleTable
  },
  computed: {
    inputData() {
      const res = [];
      for (let i=0; i<5555; i++) {
        res.push({
                name: 'a test ' + i,
                value: $$.uniqueId(),
                ok: i % 4 == 0,
                mode: 'mode:' + $$.uniqueId(),
                info: '',
                date: Date.now() - 100 * i
              })
      }
      return res;
    }
  },
  methods: {
    setrow(row_number: number) {
      this.$refs.example_table.view.scrollShift = row_number;
    },
    shuffle() { this.$refs.example_table.shuffle(); },
    // tableCss() {
    //   return {'style': {
    //       'background-color': 'red',
    //       'width': '1200px'
    //     }}
    // }
  },
  data() {
    return {
      model: [
          new TableColumnModelType('name', 'string'),
          new TableColumnModelType('ok', 'boolean'),
          new TableColumnModelType('value', 'string', 'value', {
            'formatter': (data: string) => {return 'K ' + data},
            'style': {
            'color':'#EFABEF', 'text-align': 'right', 'font-style': 'italic',
              'padding-right': '8px', 'font-weight': 'bold'
          }}),
          new TableColumnModelType('mode', 'string'),
          new TableColumnModelType('info', 'string'),
          new TableColumnModelType('date', 'timestamp')
      ],
    }
  }
}

</script>

<style lang='scss' src='assets/css/table.scss'></style>
