<template>
  <div class="home">
    <hr/>

      <button type="button" class="btn btn-primary">primary</button>&nbsp;
      <button type="button" class="btn btn-secondary">secondary</button>&nbsp;
      <button type="button" class="btn btn-warning">warning</button>&nbsp;
      <button type="button" class="btn btn-warning"> <myicon icon="user"/> warning</button>&nbsp;
      <button type="button" class="btn btn-warning"> <myicon icon="user color:red"/> warning</button>&nbsp;
      <button type="button" class="btn btn-success">success</button>&nbsp;
      <button type="button" class="btn btn-success"><myicon icon="atom color:#eee"/></button>&nbsp;
      <button type="button" class="btn btn-danger">danger</button>&nbsp;
      <button type="button" class="btn btn-dark">dark</button>&nbsp;
      <button type="button" class="btn btn-link">link</button>&nbsp;
      <button type="button" class="btn btn-info">info</button>&nbsp;
      <button type="button" class="btn btn-light">light</button>&nbsp;
      <br/>
    <hr/>
      <br/>
      <br/>
      <button type="button" class="btn btn-light"><myicon icon="icon-sqlite"/>light</button>&nbsp;
      <button type="button" class="btn btn-light"><myicon icon="icon-postgres"/>light</button>&nbsp;
      <button type="button" class="btn btn-light"><myicon icon="icon-mysql"/>light</button>&nbsp;
      <button type="button" class="btn btn-light"><myicon icon="icon-redis"/>light</button>&nbsp;
      <button type="button" class="btn btn-light"><myicon icon="icon-influxdb"/>light</button>&nbsp;
      <button type="button" class="btn btn-light"><myicon icon="icon-rabbitmq"/>light</button>&nbsp;

     <hr/>
      <br/>
      <br/>
      <button type="button" class="btn btn-light"><myicon icon="icon-clickhouse"/>light</button>&nbsp;
      <button type="button" class="btn btn-light"><myicon icon="icon-hive"/>light</button>&nbsp;
      <button type="button" class="btn btn-light"><myicon icon="icon-cassandra"/>light</button>&nbsp;
      <button type="button" class="btn btn-light"><myicon icon="icon-mongo"/>light</button>&nbsp;
      <button type="button" class="btn btn-light"><myicon icon="icon-json"/>light</button>&nbsp;
      <button type="button" class="btn btn-light"><myicon icon="icon-xml"/>light</button>&nbsp;
      <button type="button" class="btn btn-light"><myicon icon="icon-dynamodb"/>light</button>&nbsp;
      <button type="button" class="btn btn-light"><myicon icon="icon-sphinks"/>light</button>&nbsp;
      <button type="button" class="btn btn-light"><myicon icon="icon-googlebigtable"/>light</button>&nbsp;

    <hr/>
  </div>
</template>

<script lang="ts">


import Myicon from 'components/Icon/Myicon.vue';
import { useQuasar } from 'quasar';

export default {
  components: {
    Myicon
  },
  setup() {
    const $q = useQuasar();
  },
  methods: {
  },
  computed: {
  },
  data() {
    return {}
  }
}


</script>

<style lang="scss" src='assets/css/table.scss'></style>
