<template>
  <p></p>
  <div class="text-h3 q-mb-lg text-center">Crypto Database Browser</div>
        <q-item to="/start" clickable v-close-popup>
        <q-item-section><div class="text-h5 q-mb-lg text-center">Start</div></q-item-section>
      </q-item>
</template>

<script>
// import { ref } from 'vue'
// import axios from 'axios'
// import '../components/myutils'
// import {getConnectors} from '../components/myutils';

export default {
  // setup() {
  //   let connectors = ref([])
  //
  //   getConnectors().then(val => {
  //     connectors.value = val.map(item => ({
  //       'name': item.name,
  //       'readonly': ref(false),
  //       'writeOnly': ref(false),
  //       'maintenance': ref(false),
  //     }));
  //     console.log('CONNECTORSSSSSSSS!', connectors);
  //   });
  //
  //   const saveData = async () => {
  //     const data = {
  //       connectors: connectors.value,
  //     }
  //
  //     try {
  //       const response = await axios.post('YOUR_API_ENDPOINT', data)
  //       console.log('*********************************************** ' + response.data)
  //     } catch (error) {
  //       console.error('Error saving data:', error)
  //     }
  //   }
  //
  //   return {
  //     connectors,
  //     saveData,
  //   }
  // },
}
</script>
