<template>
    <div
        :class='[currentClass]'
        :style='currentStyle'
    >
      <myicon v-if='item.value' class='aicon' :icon='imageOn'/>
      <myicon v-else :icon='imageOff'/>
    </div>
</template>

<script lang='ts'>

// import 'components/zcontrols.css';
import { defineComponent } from 'vue'

import myicon from 'components/Icon/Myicon.vue'
import ControlBase from './Components/ControlBase.vue'
import { BooleanFieldType } from 'components/Table/Types/TableViewType';

export default defineComponent({
  components: { myicon },
  props: {
      item:     { type: Object },
      imageOn:  { type: String, default: 'flaticon2-check-mark color:green' },
      imageOff: { type: String, default: 'zero-blank' },
    },
    mixins: [ ControlBase ],
    computed: {
      contenteditable() { return true; }
    },
    data() {
      return {
        componentKind: 'control.boolean',
      }
    }
});
</script>

<style scoped>
</style>

<!--<style lang='scss' src='assets/css/controls.css'></style>-->
