
<template v-for="(button, index) in buttons">
  b
<!--  <ButtonControl :item="item" v-bind="button"/>-->
</template>

<script lang="ts">

import { defineComponent } from 'vue'
import ControlBase from './Components/ControlBase.vue'
// import ButtonControl from './ButtonControl.vue'

export default defineComponent({
  // mounted() {
  //   console.log("MOUTNEDDDDDDD-MOUTNEDDDDDDD-", this.buttons);
  // },
  props: {
      item:   { type: Object },
      buttons:{ type: Array, default: undefined }
    },
  // components: { ButtonControl },
  mixins: [ ControlBase ],
  computed: {
  },
  data() {
      return {
        componentKind: 'control.button-group'
      }
    }
});
</script>

<style scoped>
</style>

