<template>
  <button v-if="isButtonVisible" @click.stop="click()" :style="myStyle" type="button" :class="myClass">
    <myicon v-if="icon" :icon="icon"/>
    {{ item.value }}
  </button>
    <span v-else @click.stop="click()">
      <myicon v-if="icon" :icon="icon"/>
  </span>
</template>

<script lang="ts">

import { defineComponent } from 'vue'
import ControlBase from './Components/ControlBase.vue'
import myicon from 'components/Icon/Myicon.vue';

export default defineComponent({
  components: { myicon },
  props: {
      item:   { type: Object },
      action: { type: String, default: undefined },
      icon:   { type: String, default: undefined },
      color:  { type: String, default: null }
    },
  mixins: [ ControlBase ],
  computed: {
    myClass() { return 'btn ' + (this.color.startsWith('btn-') ? this.color : 'btn-' + this.color) },
    myStyle() {
      return  Object.assign({'white-space': 'nowrap'}, this.currentStyle)
    },
    isButtonVisible() { return ! ['null', 'none', '', null].includes(this.color)}
  },
  methods: {
  },
  data() {
      return {
        componentKind: 'control.button',
      }
    }
});
</script>

<style scoped>
</style>
