<template>
    <span :class="[currentClass]" :style="currentStyle">{{ item.title }}</span>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import ControlBase from './Components/ControlBase.vue'

export default defineComponent({
    props: {
      item: { type: Object }
    },
    mixins: [ControlBase],
      computed: {
       contenteditable() { return false; },
       currentStyle() {
        return {
        }
      }
    },
});
</script>
