<template>
    <span
        :class="[currentClass]"
        :style="currentStyle"
    >
    [{{ item.value }}]
    </span>
</template>


<script lang="ts">
import { defineComponent } from 'vue'

import ControlBase from './Components/ControlBase.vue'

export default defineComponent({
    props: {
      item: {
        type: Object
      }
    },
    mixins: [ ControlBase ],
    data() {
      return {
        componentKind: 'control.index-column'
      }
    }
});
</script>

<style scoped>
</style>

