<template>
    <div :class="[currentClass]" :style="currentStyle">
      <img :height="height" :width="width" :src="item.value"/>
    </div>
</template>

<script lang="ts">

import { defineComponent } from 'vue'
import ControlBase from './Components/ControlBase.vue'

export default defineComponent({
  props: {
      item:     { type: Object },
      height:   { type: Number, default: undefined },
      width:    { type: Number, default: undefined }
    },
    mixins: [ ControlBase ],
    data() {
      return {
        componentKind: 'control.picture',
      }
    }
});
</script>

<style scoped>
</style>

