<template>
    <span
        :class="[currentClass]"
        :style="currentStyle"
    >
    <input type="checkbox"/>
    </span>
</template>


<script lang="ts">
import { defineComponent } from 'vue'

import ControlBase from './Components/ControlBase.vue'


export default defineComponent({
    props: {
      item: {
        type: Object
      }
    },
    mixins: [ ControlBase ],
});
</script>

<style scoped>
</style>

