<template>
    <div
        :contenteditable="contenteditable"
        :class="[currentClass]"
        :style="currentStyle"
    >
    {{ item.value }}
    </div>
</template>


<script lang="ts">
// https://vcalendar.io/
// IT DOES NOT WORK
import { defineComponent } from 'vue'

import ControlBase from './Components/ControlBase.vue'

export default defineComponent({
    props: {
      item: {
        type: Object
      }
    },
    mixins: [ ControlBase ],
    computed: {
      contenteditable() { return true; },

      // actualClass: (self) => (param) => {
      //   return "control.number"
      // }
    },
    data() {
      return {
        componentKind: 'control.number',
        // componentClass: "control-number",
        componentStyle: {}
      }
    }
});
</script>

<style scoped>
</style>

