<template>

<div
    :class='[currentClass]'
    :style='style'
>

<TablePaginator
    v-if='isPaginatorApplied'
    @page-size='setPageSize'
    @win-size='setWindowNumberRows'
    @shuffle='shuffle'
    @go-page='goPage'
    :settings='settings'
    :controller='this'
/>

<TableSearcher
      v-if='isSearcherApplied'
      @do-search='doSearch'
      @search-mode='searchMode'
      @clear-search='clearSearch'
     :settings='view.search'
     :controller='this'
/>

<table
    :class='[currentClass]'
    :style='currentStyle'
    :ref='selfRefName'>
 <thead>
    <TableHeaderRow
        :item='tableHeader'
        :controller='this'
        :columnsWidth='columnsWidth'
        :settings='localSettings'/>
 </thead>

 <tbody>
    <RegularRow v-for='(row, index) in items'
        :item='row'
        :model='actualModel'
        :dataView='view'
        :key='row.key'
        :itemIndex='index'
        :rowsNumber='items.length'
        :settings='localSettings'
        :columnsWidth='columnsWidth'
        :controller='this'
        @scroll='onScroll($event)'
        @scrollBarSize='onScrollBarSize($event)'
        @click='this.$emit("click", $event)'
    />
 <TableBottomRow
     :controller='this'
     :settings='localSettings'
 />
 </tbody>

</table>
</div>
<!--  <div>columns: [{{actualNumberOfColumns}}]</div>-->
<!--  <div>rows: [{{totalNumberOfRows}}]</div>-->
<!--  <div @click='test'>TEST</div>-->
<!--  <div style='background-color: #28a745; width: 100px; height: 200px;'></div>-->

</template>

<script lang='ts'>

import { defineComponent } from 'vue'
import { PropType } from 'vue'
import {$$} from 'src/system/utils'

import TableBaseComponent from './TableBaseComponent.vue'
import { TableSettingsType } from './Types/TableSettingsType'
import RegularRow from './Agregates/Rows/TableRegularRow.vue';
import TableHeaderRow from './Agregates/Rows/TableHeaderRow.vue';
import TableBottomRow from './Agregates/Rows/TableBottomRow.vue';
import TablePaginator from './Agregates/TablePaginator.vue'
import TableSearcher  from './Agregates/TableSearcher.vue'
import {COLUMN_RESIZE, TABLE_RESIZE} from 'components/Table/Types/EventTypes';

import { DataRowType, InputDataType, RenderRecordInterface, TableViewType } from './Types/TableViewType'

import { dataRender } from 'components/Table/Implementation/dataRenderer';
import { dataIterator } from 'components/Table/Implementation/dataIterator';
import { TableHeaderRowType } from 'components/Table/Types/TableRowType';
import { TableColumnModelType } from 'components/Table/Types/TableColumnType';

import dataCore from './Implementation/dataCore'
import dataScrollWheel from 'components/Table/Implementation/dataScrollWheel';
import {BarXYPercentage} from 'components/Table/Implementation/dataScrollBar';

export default defineComponent({
  components: {
    TablePaginator,
    TableHeaderRow,
    RegularRow,
    TableBottomRow,
    TableSearcher
  },
  mixins: [ TableBaseComponent, dataCore, dataScrollWheel ],
  props: {
    // see 'mixins' for other 'props'
    inputData:{ type: Array as PropType<InputDataType>, required: true },
    model:    { type: Array as PropType<TableColumnModelType[]>, required: true },
    settings: { type: TableSettingsType, default: new TableSettingsType() },
    name:     { type: String, default: ''}
  },
  created() {
        // if ($$.isDefined(this.sort_settings)) {
        //     $$.updateObject(this.view.sorter, this.sort_settings)
        // }
        // if ($$.isDefined(this.search_settings)) {
        //     $$.update_object(this.view.search, this.search_settings)
        // }
        // this.view.pageSize =  $$.isDefined(this.settings.page_size)
        //     ? this.settings.page_size
        //     : DEFAULT_PAGE_SIZE
        // $$.merge_objects(this.view.scroll, this.settings.scroll)

      $$.addEventListener(window, TABLE_RESIZE, () => {
          if (this.asDomElement()) {
            this.localSettings.tableHeight = this.asDomElement().offsetHeight;
          }
      });

      // $$.addEventListener(window, COLUMN_RESIZE, (data) => {
      //   if (data && data.detail) {
      //     const { columnIndex, curColWidth, nxtColWidth } = data.detail;
      //     this.columnsWidth[columnIndex] = curColWidth + 'px';
      //     this.columnsWidth[columnIndex + 1] = nxtColWidth + 'px';
      //
      //     console.log('$$$$$$$$ this.columnsWidth columnsWidthSumma: [' + this.columnsWidthSumma + ']', this.columnsWidth);
      //     console.log('$$$$$$$$ columnIndex: [' + columnIndex + '] curColWidth: [' + curColWidth + '] nxtColWidth:[' + nxtColWidth + ']');
      //   }
      // });

      this.initSorter()
    },

  emits: ['click'],

  mounted() {
    this.localSettings.tableHeight = this.asDomElement().offsetHeight;
  },
  computed: {
    style() {
        const result = this.currentStyle;
        result['width'] = '100%';
        return result;
    },
    // applyPaginator
    actualModel(): TableColumnModelType[] {
      const model = Object.assign(this.model);
      if (this.settings.specialColumn.enumerator) {
        //model.unshift(new TableColumnModelType('#', 'num'))
      }
      return model;
    },
    actualNumberOfColumns(): number { return this.items.length > 0 ? this.items[0].actualNumberOfColumns : 0},
    totalNumberOfRows(): number     { return this.inputData ? this.inputData.length : 0 },

    items(): RenderRecordInterface[] {
      if (this.inputData) {
        const [result, info] = dataRender(
            this.inputData as DataRowType[],
            this.actualModel,
            this.view,
            this.settings,
            dataIterator,
            null,
            null);

        // console.log('COLUMNS [' + Object.keys(result[0].data).length + ']', result);
        if (result.length > 0) {
          if (result[0].SYS.indexActual !== 1) {
              result[0].SYS.indexActual = 0
          }
        }
        this.setWheelDelta(0);
        return result;
      }
      return [];
    },

    tableHeader(): TableHeaderRowType {
      return new TableHeaderRowType(this.actualModel);
    },
    isPaginatorApplied(): boolean {return $$.isDefined(this.settings.paginator) },
    isSearcherApplied(): boolean {return this.settings.searchApplied },
  },
  methods: {
    test() {
      const items = this.items;
      console.log('ITEMS', items);
      console.log('Settings', this.settings);
      console.log('this.inputData', this.inputData);
      console.log('typeof', typeof(this.inputData));

      this.setComponentName(this.getComponentName() === '' ? 'ExampleTable' : '');
    },

    onScroll(event: BarXYPercentage): void {
      console.log('0 REAL SCROLL:event::', event)
      this.setRowPercentage(event);
      // if (event.auto) {
      //     this.setRowPercentage(event);
      // }
      this.view.scrollPercentage = event;
    },

    onScrollBarSize(size: number): void {
      this.view.scroll.currentScrollBarSize = size;
      // console.log('SCROLL BAR SIZE [' + this.view.scroll.currentScrollBarSize + ']')
    }

  },
  data() {
    return {
      componentKind: 'table',
      view: new TableViewType(),
    }
  }
})


</script>


<style>
*{box-sizing: border-box;}

table {
  border-collapse:collapse;
}


</style>

<style lang='scss' src='assets/css/table.scss'></style>
