<template>
<TablePaginator
    v-if='isPaginatorApplied'
    @page-size='setPageSize'
    @win-size='setWindowNumberRows'
    @shuffle='shuffle'
    @go-page='goPage'
    @scale='setScale'
    :settings='settings'
    :controller='this'
/>
<div>
<table
  class="table-super-wrapper"
>
  <tbody>
<tr><td colspan="6">
 <TableSearcher
      v-if='isSearcherApplied'
      @do-search='doSearch'
      @search-mode='searchMode'
      @clear-search='clearSearch'
     :settings='view.search'
     :controller='this'
/>
</td></tr>
<tr>
<td style="background-color: blueviolet">AB</td>

<td><div class="table-wrap-window-short">
<table
     class='table-itself-short'
    :style='currentStyle'
    ref='tableBefore'>
 <thead>
    <TableHeaderRow
        applySpecialColumns='YES'
        :item='tableHeaderBefore'
        :controller='this'
        :columnsWidth='columnsWidthBefore'
        :settings='localSettings'/>
 </thead>

 <tbody>
    <RegularRow v-for='(row, index) in beforeItems'
        applySpecialColumns='YES'
        :item='row'
        :model='beforeModel'
        :dataView='view'
        :key='row.key'
        :itemIndex='index'
        :rowsNumber='beforeItems.length'
        :settings='localSettings'
        :columnsWidth='columnsWidth'
        :controller='this'
        @scroll='onScroll($event)'
        @click='this.$emit("click", $event)'
    />

 </tbody>

</table>
  </div>
  </td>

  <td style="background-color: blueviolet">CD</td>

  <td>
  <div class="table-wrap-window"
  :style='getTableWrapperStyle'
  >
<table
    :class='[currentClass]'
    :style='getTableCurrentStyle'
    :ref='selfRefName'
>
 <thead>
    <TableHeaderRow
        :ref='tableHeaderRef'
        :tableDom='asDomElement'
        :item='tableHeader'
        :controller='this'
        :columnsWidth='columnsWidth'
        :settings='localSettings'/>
 </thead>

 <tbody>
    <RegularRow v-for='(row, index) in items'
        :item='row'
        :model='actualModel'
        :dataView='view'
        :key='index'
        :itemIndex='index'
        :rowsNumber='items.length'
        :settings='localSettings'
        :columnsWidth='columnsWidth'
        :controller='this'
        @scroll='onScroll($event)'
        @click='this.$emit("click", $event)'
        @dbl-click='this.$emit("dblClick", $event)'
        @rightClick='this.$emit("rightClick", $event)'
    />
 </tbody>
</table>
</div>
</td>
  <TableScrollColumn
      :controller='this'
      :inputData="inputData"
      :tableHeight="localSettings.tableHeight"
      @scroll='onScroll($event)'
  />
<td style="background-color: blueviolet">XX</td>
</tr></tbody></table>
</div>

</template>

<script lang='ts'>

import { defineComponent, PropType } from 'vue';
import { $$ } from 'src/system/utils';
// import { useResizeObserver } from '@vueuse/core'
import TableBaseComponent from './TableBaseComponent.vue';
import { TableSettingsType } from './Types/TableSettingsType';
import RegularRow from './Agregates/Rows/TableRegularRow.vue';
import TableHeaderRow from './Agregates/Rows/TableHeaderRow.vue';
// import TableBottomRow from './Agregates/Rows/TableBottomRow.vue';
import TablePaginator from './Agregates/TablePaginator.vue';
import TableSearcher from './Agregates/TableSearcher.vue';
import { COLUMN_RESIZE, TABLE_RESIZE_X, TABLE_RESIZE_Y } from 'components/Table/Types/EventTypes';

import {
  DataRowType,
  getDefaultColumnSizeByType,
  InputDataType, isSpecialColumn,
  RenderRecordInterface,
  TableViewType
} from './Types/TableViewType';

import { dataRender } from 'components/Table/Implementation/dataRenderer';
import { dataIterator } from 'components/Table/Implementation/dataIterator';
import { TableHeaderRowType } from 'components/Table/Types/TableRowType';
import { TableColumnModelType } from 'components/Table/Types/TableColumnType';

import dataCore from './Implementation/dataCore';
import dataScrollWheel from 'components/Table/Implementation/dataScrollWheel';
import { BarXYPercentage } from 'components/Table/Implementation/dataScrollBar';
// import tableWrapper from 'components/Table/Agregates/TableWrapper.vue';
import TableScrollColumn from 'components/Table/Agregates/Columns/TableScrollColumn2.vue';
import { CONTENT_TABLE_RESIZE } from 'src/app/DbBrowser/interfaces/events';

export default defineComponent({
  inheritAttrs: false,
  components: {
    TableScrollColumn,
    TablePaginator,
    TableHeaderRow,
    RegularRow,
    // TableBottomRow,
    TableSearcher
  },
  mixins: [TableBaseComponent, dataCore, dataScrollWheel ],
  props: {
    // see 'mixins' for other 'props'
    inputData:  { type: Array as PropType<InputDataType>, required: true },
    model:      { type: Array as PropType<TableColumnModelType[]>, required: true },
    settings:   { type: TableSettingsType, default: new TableSettingsType() },
    wrapperDom: { type: Function },
    name:       { type: String, default: ''},
    debug:      { type: String, default: ''},
    resizeXEvent:{ type: String, default: 'TableViewResizeX'},
    resizeYEvent:{ type: String, default: 'TableViewResizeY'},
  },
  created() {
        // if ($$.isDefined(this.sort_settings)) {
        //     $$.updateObject(this.view.sorter, this.sort_settings)
        // }
        // if ($$.isDefined(this.search_settings)) {
        //     $$.update_object(this.view.search, this.search_settings)
        // }
        // this.view.pageSize =  $$.isDefined(this.settings.page_size)
        //     ? this.settings.page_size
        //     : DEFAULT_PAGE_SIZE
        // $$.merge_objects(this.view.scroll, this.settings.scroll)
    // alert('CREATED')

      this.$nextTick( () => {
        $$.addEventListener(window, this.resizeXEvent, (e: MessageEvent) => {
          const data = e.data;
          const wrapperVisibleWidth = data.wrapperVisibleWidth;
          this.updateSelfSizeX(wrapperVisibleWidth);
        });

      });

      this.initSorter();
    },

  emits: ['click', 'rightClick', 'dblClick'],
  updated() {
    // @todo - remove
    // console.log('UPDATED. Count or rows: [' + this.inputData.length + ']')
  },
  mounted() {
    this.localSettings.tableHeight = this.asDomElement().offsetHeight;
  },
  beforeUnmount() {
      console.log('BEFORE-UNMOUNT')
      if (this.observer) {
        this.observer.unobserve(this.domElement(this.selfRefName))
      }
    },
  computed: {
    getTableCurrentStyle(): any {
      return {
        // 'background-color': '#336699',
        'width': this.localSettings.tableWidth || '100%'
      };
    },
    getTableWrapperStyle():any {
      return {
        // 'background-color': 'red',
        'width': this.tableWrapperWidth + 'px'
      };
    },
    // applyPaginator
    actualModel(): TableColumnModelType[] {
      const model = Object.assign(this.model);
      if (this.settings.specialColumn.enumerator) {
        //model.unshift(new TableColumnModelType('#', 'num'))
      }
      // console.log('####  MODEL::', model)
      return model;
    },
    beforeModel(): TableColumnModelType[] {
      const model = [
          new TableColumnModelType('_idx_', 'string', '####'),
      ]
      return model;
    },
    actualNumberOfColumns(): number { return this.items.length > 0 ? this.items[0].actualNumberOfColumns : 0},
    totalNumberOfRows(): number     { return this.inputData ? this.inputData.length : 0 },

    headerHeight() :  number {
      return this.$refs[this.tableHeaderRef].columnHeight;
    },

    items(): RenderRecordInterface[] {
      if (this.inputData) {
        const [result, info] = dataRender(
            this.selectedIdx,
            this.inputData as DataRowType[],
            this.actualModel,
            this.view,
            this.settings,
            dataIterator,
            null,
            null);

        if (result.length > 0) {
          if (result[0].SYS.indexActual !== 1) {
              result[0].SYS.indexActual = 0
          }
        }
        this.setWheelDelta(0);
        return result;
      }
      return [];
    },
    beforeItems(): RenderRecordInterface[] {
      // @todo - check performance
      const actualItems = this.items;
      // console.log("$$$$$$$$$$$$$$$$$$actualItems::", actualItems)
      return actualItems;
    },

    tableHeader(): TableHeaderRowType {
      return new TableHeaderRowType(this.actualModel);
    },
    tableHeaderBefore(): TableHeaderRowType {
      return new TableHeaderRowType(this.beforeModel);
    },
    // isPaginatorApplied(): boolean {return $$.isDefined(this.settings.paginator) },
    isPaginatorApplied(): boolean {return false },
    isSearcherApplied():  boolean {return this.settings.searchApplied }
  },
  watch: {
    inputData (val) {
      this.$nextTick(this.postDataUpdated);
    }
  },
  methods: {
    test() {
      const items = this.items;
      console.log('ITEMS', items);
      console.log('Settings', this.settings);
      console.log('this.inputData', this.inputData);
      console.log('typeof', typeof (this.inputData));
      console.log('tableHeaderRef', this.tableHeaderRef);

      // this.setComponentName(this.getComponentName() === '' ? 'ExampleTable' : '');
    },
    updateSelfSizeX(width: number) {
      this.tableWrapperWidth = width - 160;
       console.log('!!!!!!!!!!!!!!!!!!!!!########################## tableWrapperWidth>>>[' + width + ']');
    },
    onKeydown(event: any) {
      console.log('KEYDOWN', event);
    },
    onScroll(event: BarXYPercentage): void {
      this.setRowPercentage(event);
    },
    onClick(event: any): void {
      console.log("XXX-WWWWWWWWWW event::", event)
      event.stopPropagation();
      // event.stopPropagation();
      console.log('QQQQQQQQ::', this.row);
      this.$emit('click', this.row);
      // this.setRowPercentage(event);
    },
    // onScrollBarSize(size: number): void {
    //   this.view.scroll.currentScrollBarSize = size;
    // },
    onResize() {
      // console.log('@@@@@@@@@@@@@ onRESIZE')

      if (this.asDomElement()) {
        this.localSettings.tableHeight = this.asDomElement().offsetHeight;
        // console.log('%%%%%%%%%%%%%%%% this.localSettings.tableHeight::', this.localSettings.tableHeight)
      }
      // this.$emit('resize', { width, height })
      // this.refreshkey = $$.uniqueId('xkey');
    },
    // initObserver() {
    //   const observer = new ResizeObserver(this.onResize);
    //   observer.observe(this.domElement(this.selfRefName));
    //   this.observer = observer
    // },

    calculateColumnsInitialWeight() {
      const sizes = {} as Record<string, number>;
      const percentage = {} as Record<string, number>;
      const real_sizes = {} as Record<string, number>;
      let total_size = 0;
      const count_of_rows_checked = 2; // should be 20
      const minimal_size = 2;
      const base_char_size = 21;

      for (let row = 0; row < Math.min(this.inputData.length, count_of_rows_checked); row+=1) {
        const data = this.inputData[row];
        for(const param_name in data) {
          if (isSpecialColumn(param_name)) { continue }
          sizes[param_name] = sizes[param_name] || 0
          const data_type_item = this.model.find((it: TableColumnModelType) => it.name === param_name);
          const data_type = data_type_item ? data_type_item.type as string: undefined;
          sizes[param_name] = getDefaultColumnSizeByType(data_type)
            || Math.max(Math.max(sizes[param_name], `${data[param_name]}`.length), minimal_size);
        }
      }
      // console.log('Column sizes::', sizes)
      for(const param_name in sizes) {total_size += sizes[param_name]}
      for(const param_name in sizes) {
        percentage[param_name] = Math.round(sizes[param_name] / total_size * 100);
      }
      // const diff = table_current_width - total_size * base_char_size;
      // console.log('## table_current_width:::', table_current_width)
      // console.log('## total_size * base_char_size:::', total_size * base_char_size)
      // console.log('## DEFF:::', diff)

      // const mult = total_size * base_char_size / table_current_width;
      const mult = base_char_size;
      for(const param_name in sizes) {real_sizes[param_name] = mult * sizes[param_name]}
      // console.log('################# REAL SISES::', real_sizes)

      // if(Math.abs(diff) > 20) {
      //   if (diff > 0) {
      //     console.log('EXTRA SIZE -> will be expanded', table_current_width, total_size * base_char_size)
      //   }
      //   else {
      //     console.log('SCROLL WILL BE::', table_current_width, total_size * base_char_size)
      //   }
      // }

      this.model.forEach((item: TableColumnModelType, i: number) => {
        const name = item['name'];
        const size = real_sizes[name]
        // console.log('########### #:' + i + ' name:[' + name + '] size:[' + size + ']')
        this.columnsWidth[i] = size;
      });

      console.log('>>>>>>>>>> this.columnsWidth::', this.columnsWidth)
      // this.localSettings.tableWidth = 700;
    },
    postDataUpdated() {
      // this.view.actualCountOfRows = this.inputData.length;
      this.calculateColumnsInitialWeight();
      this.initWinSize();
    },
    initWinSize() {
      const dom = this.asDomElement();
      const box = dom.getBoundingClientRect();
      this.windowSize.y = box.height;
      this.windowSize.x = box.width;
      //this.calculateColumnsInitialWeight(this.model, dom, box.width);

      // console.log('Column sizes percentage::', percentage);
      // console.log('Column sizes::', sizes)
      // const width = 700;
      // dom.style.width = `${width}px`;
      // alert('INIT' + this.inputData.length)

      // console.log('################################# WIN:', this.windowSize)

    }
},
  data() {
    return {
      // refreshkey: $$.uniqueId('key'),
      // tableHeight: 0,
      // tableWidth: '100',
      tableWrapperWidth: '600',
      selectedIdx: [],
      observer: undefined,
      tableHeaderRef: $$.uniqueId('HR'),
      // exclusiveCss: {
      //     class: 'table-itself'
      // },
      componentKind: 'table',
      view: new TableViewType()
    }
  }
})


</script>


<style>
*{box-sizing: border-box;}

table {
  border-collapse:collapse;
}


</style>

<style lang='scss' src='assets/css/table.scss'></style>
