<template>
  <ActionWrapper>
    <WsWrapper>
      <PopupWindowComp>
        <router-view />
      </PopupWindowComp>
    </WsWrapper>
  </ActionWrapper>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import PopupWindowComp from './app/DbBrowser/components/PopupWindowComp.vue'
import WsWrapper from 'components/system/WsWrapper.vue'
import ActionWrapper from 'components/system/ActionWrapper.vue'

export default defineComponent({
  name: 'App',
    components: {
      ActionWrapper,
      WsWrapper,
      PopupWindowComp
  },
});
</script>
