<template>
  <q-layout view="lHh Lpr lFf">
    <!-- <q-header elevated> -->
    <q-toolbar class="bg-primary text-white">
      <q-btn flat dense round icon="menu" aria-label="Menu">
        <q-menu>
          <q-list dense style="min-width: 100px">
            <q-item to="/" clickable v-close-popup>
              <q-item-section avatar>
                <q-icon name="home" />
              </q-item-section>
              <q-item-section>Home</q-item-section>
            </q-item>
            <q-item clickable>
              <q-item-section avatar>
                <q-icon name="emoji_emotions" />
              </q-item-section>
              <q-item-section>Icons</q-item-section>
              <q-item-section avatar>
                <q-icon name="keyboard_arrow_right" />
              </q-item-section>

              <q-menu anchor="top end" self="top start">
                <q-list dense>
                  <q-item href="https://material.io/tools/icons/?style=baseline" target="_blank" clickable
                    v-close-popup>
                    <q-item-section>Material Icons</q-item-section>
                  </q-item>
                  <q-item href="https://fonts.google.com/icons?icon.style=Outlined" target="_blank" clickable
                    v-close-popup>
                    <q-item-section>Material Symbols Outlined</q-item-section>
                  </q-item>
                  <q-item href="https://pictogrammers.com/library/mdi/" target="_blank" clickable v-close-popup>
                    <q-item-section>MDI v7 (Material Design Icons)</q-item-section>
                  </q-item>
                  <q-item href="https://fontawesome.com/search" target="_blank" clickable v-close-popup>
                    <q-item-section>Font Awesome v6</q-item-section>
                  </q-item>
                  <q-item href="https://ionic.io/ionicons/v4" target="_blank" clickable v-close-popup>
                    <q-item-section>Ionicons</q-item-section>
                  </q-item>
                  <q-item href="https://akveo.github.io/eva-icons" target="_blank" clickable v-close-popup>
                    <q-item-section>Eva Icons</q-item-section>
                  </q-item>
                  <q-item href="https://themify.me/themify-icons" target="_blank" clickable v-close-popup>
                    <q-item-section>Themify Icons</q-item-section>
                  </q-item>
                  <q-item href="https://icons8.com/line-awesome" target="_blank" clickable v-close-popup>
                    <q-item-section>Line Awesome</q-item-section>
                  </q-item>
                  <q-item href="https://icons.getbootstrap.com/" target="_blank" clickable v-close-popup>
                    <q-item-section>Bootstrap Icons</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-item>


            <q-item to="/page1" clickable v-close-popup>
              <q-item-section avatar>
                <q-icon name="table_chart" />
              </q-item-section>

              <q-item-section>Table</q-item-section>
            </q-item>
            <q-item to="/testpage" clickable v-close-popup>
              <q-item-section avatar>
                <q-icon name="storage" />
              </q-item-section>
              <q-item-section>Test page</q-item-section>
            </q-item>
            <q-item @click="() => {
              isModalNewConnectorsVisible = true;
              console.log('Click Services DB!', isModalNewConnectorsVisible);
            }" clickable>
              <!--                  }" clickable v-show="isLogin">-->
              <q-item-section avatar>
                <q-icon name="sym_o_database" />
              </q-item-section>
              <q-item-section>Database Services</q-item-section>
            </q-item>
            <q-item to="/page2" clickable v-close-popup>
              <q-item-section avatar>
                <q-icon name="account_circle" />
              </q-item-section>
              <q-item-section>Registration</q-item-section>
            </q-item>
            <q-item to="/weblogin" clickable v-close-popup>
              <q-item-section avatar>
                <q-icon name="login" />
              </q-item-section>
              <q-item-section>Login</q-item-section>
            </q-item>
            <q-item to="/reguser" clickable v-close-popup>
              <q-item-section avatar>
                <q-icon name="login" />
              </q-item-section>
              <q-item-section>Reg User</q-item-section>
            </q-item>
            <q-separator />
            <q-item to="/qqqqqqqq" clickable v-close-popup>
              <q-item-section avatar>
                <q-icon name="warning" />
              </q-item-section>
              <q-item-section>Err url 404</q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </q-btn>

      <q-toolbar-title>
        <a href="/" >MAIN PAGE!</a>
      </q-toolbar-title>

      <q-item @click="() => {
              isModalAddNewDataVisible = true;
            }" clickable v-show="isLogin">
        <q-item-section>Add Data</q-item-section>
      </q-item>

      <q-item @click="() => {
              isModalUserAccessVisible = true;
              console.log('Click USER REGISTRATION!', isModalUserAccessVisible);
            }" clickable v-show="isLogin">
        <q-item-section>User Access</q-item-section>
      </q-item>

      <q-item @click="() => {
              isChangePassModalVisible = true;
              console.log('Click CHANGE PASS!', isChangePassModalVisible);
            }" clickable>
        <q-item-section>Change Pass</q-item-section>
      </q-item>

      <div>
        <!-- <q-toggle v-model="DarkSwich" color="white" label="Dark theme" class="q-mr-lg" @click="switchDarkMode" /> -->
        <q-toggle v-model="DarkSwich"
          unchecked-icon="light_mode"
          checked-icon="dark_mode"
          color="blue"
          label="Dark theme"
          class="q-mr-lg" />
        <q-btn dense round flat>
          <q-avatar v-if="isLogin">
            <q-icon name="account_circle" />
            <q-tooltip>Account</q-tooltip>
          </q-avatar>
          <q-avatar v-if="!isLogin">
            <q-icon name="login" @click="() => {
              isModalLoginVisible = true;
              console.log('Click LOGIN!', isModalLoginVisible);
            }" clickable />
            <q-tooltip>Login</q-tooltip>
          </q-avatar>
          <q-menu auto-close>
            <q-list style="min-width: 100px">

              <!--                  <q-item @click="() => {-->
              <!--                      isModalLoginVisible = true;-->
              <!--                      console.log('Click LOGIN!', isModalLoginVisible);-->
              <!--                    }"-->
              <!--                    clickable v-show="isLogin === false">-->
              <!--                    <q-item-section>Login</q-item-section>-->
              <!--                  </q-item>-->

              <q-item @click="() => {
              isModalUserRegistrationVisible = true;
              console.log('Click REGISTER!', isModalUserRegistrationVisible);
            }" clickable v-show="isLogin">
                <q-item-section>Add User</q-item-section>
              </q-item>

              <q-item @click="() => {
              isModalLogoutVisible = true;
              console.log('Click LOGOUT!', isModalLogoutVisible);
            }" clickable v-show="isLogin">
                <q-item-section>Logout</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </div>


    </q-toolbar>
    <!-- </q-header> -->

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer>
      <div class="row justify-between items-center">

        <div class="row q-gutter-xs">
          <div class="q-pa-xs">
            <q-spinner-hearts size="xs" />
            <q-tooltip class="bg-purple text-body2" transition-show="rotate"
              transition-hide="flip-left">Nothing</q-tooltip>
          </div>
          <q-btn dense size="sm" icon="logo_dev" @click="showWorkLog" />
          <div class="q-pa-xs">
            {{ backendUrl }}
          </div>
        </div>

        <div>
          <q-btn dense flat size="sm" icon="terminal" label="SQL Editor" @click="showSqlEditor" />
          <q-tooltip class="text-body2">Open SQL editor</q-tooltip>
        </div>

        <div>Quasar v.{{ $q.version }}</div>
      </div>
    </q-footer>

  </q-layout>

  <DlgLogin v-model:visible="isModalLoginVisible" :propActionAfterLogin="doLogin" />

  <DlgRegistration @update-registration-vis="onUpdatePropRegistrationVisible"
    :propVisible="isModalUserRegistrationVisible" />

  <ChangePassword :propVisible="isChangePassModalVisible" @hide-change-pass="hideChangePassword" />

  <!-- <DlgLogout :propVisible="isModalLogoutVisible" /> -->

  <NewConnectors :propVisible="isModalNewConnectorsVisible" @hide-connectors="hideNewConnectors" />

  <AddDataIntoDB :prop-visible="isModalAddNewDataVisible" @hide-add-data="hideAddDataIntoDB" />



  <!-- <DlgLogout :propVisible="isModalLogoutVisible" /> -->
  <DlgConfirm backdrop-filter="blur(4px)" v-model:visible="isModalLogoutVisible" :onOk="doLogout"
    :onCancel="cancelLogout">
    Are you sure you want to log out?
  </DlgConfirm>

  <UserAccess :propVisible="isModalUserAccessVisible" />

  <!-- :title="`Connector name: ${getConnectorName()}`" -->
  <PopUpWindow v-if="SqlEditorVisible" v-slot="slotProps" v-model:visible=SqlEditorVisible
    :title="`Connector name ${getConnectorTitle(connName.name)}`" :size="{ height: 500, width: 800 }">
    <SqlEditor :winHeight="slotProps.wHeight - 130" :connName="connName"></SqlEditor>
    <!-- <SqlEditor connName="" ></SqlEditor> -->
  </PopUpWindow>

  <!-- <WorkLog v-if="true" /> -->



</template>

<script setup>
import { ref, watch, watchEffect } from 'vue';
import { useRouter } from 'vue-router';
import DlgLogin from 'src/app/DbBrowser/components/DlgLogin.vue';
import DlgRegistration from 'src/app/DbBrowser/components/UserRegistration.vue';
import DlgLogout from 'src/app/DbBrowser/components/DlgLogout.vue';
import NewConnectors from 'src/app/DbBrowser/components/NewConnectors.vue';
import DlgConfirm from 'src/app/DbBrowser/components/DlgConfirm.vue';
import UserAccess from 'src/app/DbBrowser/components/UserAccess.vue';
import ChangePassword from 'src/app/DbBrowser/pages/ChangePassword.vue';
import AddDataIntoDB from 'src/app/DbBrowser/pages/AddDataIntoDB.vue';
import { serverUrl, isLogin, userLogout, storeKey, currentConnection, DarkSwich, useNotify } from 'src/app/DbBrowser/myutils'
import PopUpWindow from 'src/app/DbBrowser/components/PopUpWindow.vue';
import SqlEditor from 'src/app/DbBrowser/components/SqlEditor.vue';
import WorkLog from 'src/app/DbBrowser/components/WorkLog.vue'
import { useQuasar } from 'quasar';

const isModalUserRegistrationVisible  = ref(false);
const isChangePassModalVisible        = ref(false);
const isModalLogoutVisible            = ref(false);
const isModalUserAccessVisible        = ref(false);
const isModalNewConnectorsVisible     = ref(false);
const isModalAddNewDataVisible        = ref(false);
const { showNotify } = useNotify();
const router = useRouter();
const $q = useQuasar();

const isModalLoginVisible = ref(false);
const SqlEditorVisible = ref(false);
const connName = ref(currentConnection.connector);
const backendUrl = ref(serverUrl);

const showSqlEditor = () => {
  SqlEditorVisible.value = true;
};

const getConnectorTitle = (name) => {
  console.log('name=', name)
  const title = name.length > 0 ? name : '<none>'
  return title
}

watchEffect(() => {
  storeKey('dark_theme', DarkSwich.value);
  $q.dark.set(DarkSwich.value);
})

watch(currentConnection, val => {
  connName.value = val.connector
});

const doLogin = () => {
  router.push({ path: '/' });
}

const doLogout = () => {
  userLogout().then(() => {
    console.log('Log out')
    showNotify('Logout!', 'warning', 1000)
    setTimeout(() => {
      isLogin.value = false;
      router.push({ path: '/weblogin' });
    }, 500)

  });
}

const showWorkLog = () => {
  console.log('Show WorkLog click!');
}

const cancelLogout = () => {
  console.log('Cancel logout button! ');
}

const onUpdatePropRegistrationVisible = () => {
  isModalUserRegistrationVisible.value = false;
  console.log('Cancel button! isModalUserRegistrationVisible = ', isModalUserRegistrationVisible);
}

const hideNewConnectors = () => {
  isModalNewConnectorsVisible.value = false;
  console.log('Cancel! isModalNewConnectorsVisible = ', isModalNewConnectorsVisible);
}

const hideChangePassword = () => {
  isChangePassModalVisible.value = false;
  console.log('Cancel! isChangePassModalVisible = ', isChangePassModalVisible);
}

const hideAddDataIntoDB = () => {
  isModalAddNewDataVisible.value = false;
  console.log('Cancel! isModalAddNewDataVisible = ', isModalAddNewDataVisible);
}

</script>
