<template>

<TablePaginator
    v-if='isPaginatorApplied'
    @page-size='setPageSize'
    @win-size='setWindowNumberRows'
    @shuffle='shuffle'
    @go-page='goPage'
    @scale='setScale'
    :settings='settings'
    :controller='this'
/>

<table class="table-super-wrapper"><tbody>
<tr><td colspan="2">
 <TableSearcher
      v-if='isSearcherApplied'
      @do-search='doSearch'
      @search-mode='searchMode'
      @clear-search='clearSearch'
     :settings='view.search'
     :controller='this'
/>
</td></tr>
<tr><td><div class="table-wrap-around">
<table
    :class='[currentClass]'
    :style='currentStyle'
    :ref='selfRefName'
>
 <thead>
    <TableHeaderRow
        :ref='tableHeaderRef'
        :item='tableHeader'
        :controller='this'
        :columnsWidth='columnsWidth'
        :settings='localSettings'/>
 </thead>

 <tbody>
    <RegularRow v-for='(row, index) in items'
        :item='row'
        :model='actualModel'
        :dataView='view'
        :key='row.key'
        :itemIndex='index'
        :rowsNumber='items.length'
        :settings='localSettings'
        :columnsWidth='columnsWidth'
        :controller='this'
        @scroll='onScroll($event)'
        @scrollBarSize='onScrollBarSize($event)'
        @click='this.$emit("click", $event)'
    />
<!-- <TableBottomRow-->
<!--     :controller='this'-->
<!--     :settings='localSettings'-->
<!-- />-->
 </tbody>

</table></div>
</td>
  <TableScrollColumn
      :controller='this'
      :tableHeight="localSettings.tableHeight"
      @scroll='onScroll($event)'
      @scrollBarSize='onScrollBarSize($event)'
  />
</tr></tbody></table>

</template>

<script lang='ts'>

/*

function outputsize() {
 width.value = textbox.offsetWidth
 height.value = textbox.offsetHeight
}
outputsize()

new ResizeObserver(outputsize).observe(textbox)
Width: <output id="width">0</output><br>
Height: <output id="height">0</output><br>
<textarea id="textbox">Resize me</textarea><br>
 */

import { defineComponent, nextTick } from 'vue';
import { PropType } from 'vue'
import {$$} from 'src/system/utils'

import TableBaseComponent from './TableBaseComponent.vue'
import { TableSettingsType } from './Types/TableSettingsType'
import RegularRow from './Agregates/Rows/TableRegularRow.vue';
import TableHeaderRow from './Agregates/Rows/TableHeaderRow.vue';
// import TableBottomRow from './Agregates/Rows/TableBottomRow.vue';
import TablePaginator from './Agregates/TablePaginator.vue'
import TableSearcher  from './Agregates/TableSearcher.vue'
import {COLUMN_RESIZE, TABLE_RESIZE} from 'components/Table/Types/EventTypes';

import { DataRowType, InputDataType, RenderRecordInterface, TableViewType } from './Types/TableViewType'

import { dataRender } from 'components/Table/Implementation/dataRenderer';
import { dataIterator } from 'components/Table/Implementation/dataIterator';
import { TableHeaderRowType } from 'components/Table/Types/TableRowType';
import { TableColumnModelType } from 'components/Table/Types/TableColumnType';

import dataCore from './Implementation/dataCore'
import dataScrollWheel from 'components/Table/Implementation/dataScrollWheel';
import {BarXYPercentage} from 'components/Table/Implementation/dataScrollBar';
// import tableWrapper from 'components/Table/Agregates/TableWrapper.vue';
import TableScrollColumn from 'components/Table/Agregates/Columns/TableScrollColumn2.vue';

export default defineComponent({
  inheritAttrs: false,
  components: {
    TableScrollColumn,
    TablePaginator,
    TableHeaderRow,
    RegularRow,
    // TableBottomRow,
    TableSearcher
  },
  mixins: [TableBaseComponent, dataCore, dataScrollWheel ],
  props: {
    // see 'mixins' for other 'props'
    inputData:{ type: Array as PropType<InputDataType>, required: true },
    model:    { type: Array as PropType<TableColumnModelType[]>, required: true },
    settings: { type: TableSettingsType, default: new TableSettingsType() },
    name:     { type: String, default: ''}
  },
  created() {
        // if ($$.isDefined(this.sort_settings)) {
        //     $$.updateObject(this.view.sorter, this.sort_settings)
        // }
        // if ($$.isDefined(this.search_settings)) {
        //     $$.update_object(this.view.search, this.search_settings)
        // }
        // this.view.pageSize =  $$.isDefined(this.settings.page_size)
        //     ? this.settings.page_size
        //     : DEFAULT_PAGE_SIZE
        // $$.merge_objects(this.view.scroll, this.settings.scroll)
      if (this.windowSize.x === -1) {
        this.$nextTick(this.initWinSize)
      }

      // console.log('@@@@@@@@@@@@@@@@@@@ WIN SIZE', this.view.windowSize)
      // console.log('@@@@@@@@@@@@@@@@@@@ WIN SIZE', this.view.windowSize)
      // console.log('@@@@@@@@@@@@@@@@@@@ WIN SIZE', this.view.windowSize)
      // console.log('@@@@@@@@@@@@@@@@@@@ WIN SIZE', this.view.windowSize)
      $$.addEventListener(window, TABLE_RESIZE, () => {
          console.log('######### TABLE_RESIZE')
          if (this.asDomElement()) {
            this.localSettings.tableHeight = this.asDomElement().offsetHeight;
            console.log('%%%%%%%%%%%%%%%% this.localSettings.tableHeight::', this.localSettings.tableHeight)
          }
      });

      $$.addEventListener(window, COLUMN_RESIZE, (data: any) => {
        if (data && data.detail) {
          const { columnIndex, curColWidth, nxtColWidth } = data.detail;
          this.columnsWidth[columnIndex] = curColWidth + 'px';
          this.columnsWidth[columnIndex + 1] = nxtColWidth + 'px';

          console.log('$$$$$$$$ this.columnsWidth columnsWidthSumma: [' + this.columnsWidthSumma + ']', this.columnsWidth);
          console.log('$$$$$$$$ columnIndex: [' + columnIndex + '] curColWidth: [' + curColWidth + '] nxtColWidth:[' + nxtColWidth + ']');
        }
      });
      // this.setupWinSize();
      this.initSorter()
    },

  emits: ['click'],
  mounted() {
    this.localSettings.tableHeight = this.asDomElement().offsetHeight;
    this.initObserver();
  },
  beforeUnmount() {
      if (this.observer) {
        this.observer.unobserve(this.domElement(this.selfRefName))
      }
    },
  computed: {
    style(): any {
        const result = this.currentStyle;
        result['width'] = '1200px';
        console.log('Table style::', result)
        return result;
    },
    // applyPaginator
    actualModel(): TableColumnModelType[] {
      const model = Object.assign(this.model);
      if (this.settings.specialColumn.enumerator) {
        //model.unshift(new TableColumnModelType('#', 'num'))
      }
      return model;
    },
    actualNumberOfColumns(): number { return this.items.length > 0 ? this.items[0].actualNumberOfColumns : 0},
    totalNumberOfRows(): number     { return this.inputData ? this.inputData.length : 0 },

    headerHeight() :  number {
      return this.$refs[this.tableHeaderRef].columnHeight;
    },

    items(): RenderRecordInterface[] {
      if (this.inputData) {
        const [result, info] = dataRender(
            this.selectedIdx,
            this.inputData as DataRowType[],
            this.actualModel,
            this.view,
            this.settings,
            dataIterator,
            null,
            null);

        if (result.length > 0) {
          if (result[0].SYS.indexActual !== 1) {
              result[0].SYS.indexActual = 0
          }
        }
        this.setWheelDelta(0);
        return result;
      }
      return [];
    },

    tableHeader(): TableHeaderRowType {
      return new TableHeaderRowType(this.actualModel);
    },
    isPaginatorApplied(): boolean {return $$.isDefined(this.settings.paginator) },
    isSearcherApplied(): boolean {return this.settings.searchApplied }
  },
  methods: {
    test() {
      const items = this.items;
      console.log('ITEMS', items);
      console.log('Settings', this.settings);
      console.log('this.inputData', this.inputData);
      console.log('typeof', typeof (this.inputData));
      console.log('tableHeaderRef', this.tableHeaderRef);

      // this.setComponentName(this.getComponentName() === '' ? 'ExampleTable' : '');
    },
    onKeydown(event: any) {
      console.log('KEYDOWN', event);
    },
    onScroll(event: BarXYPercentage): void {
      console.log('++++ Table2 onScroll')
      this.setRowPercentage(event);
    },
    onScrollBarSize(size: number): void {
      this.view.scroll.currentScrollBarSize = size;
    },
    onResize() {
      // console.log('@@@@@@@@@@@@@ onRESIZE')

      if (this.asDomElement()) {
        this.localSettings.tableHeight = this.asDomElement().offsetHeight;
        // console.log('%%%%%%%%%%%%%%%% this.localSettings.tableHeight::', this.localSettings.tableHeight)
      }
      // this.$emit('resize', { width, height })
      // this.refreshkey = $$.uniqueId('xkey');
    },
    initObserver() {
      const observer = new ResizeObserver(this.onResize);
      observer.observe(this.domElement(this.selfRefName));
      this.observer = observer
    },
    initWinSize() {
      const dom = this.asDomElement();
      const box = this.asDomElement().getBoundingClientRect();
      this.windowSize.y = box.height;
      this.windowSize.x = box.width;

      // console.log('################################# WIN:', this.windowSize)

    }
},
  data() {
    return {
      // refreshkey: $$.uniqueId('key'),
      // tableHeight: 0,
      selectedIdx: [],
      observer: undefined,
      tableHeaderRef: $$.uniqueId('HR'),
      exclusiveCss: {
          class: 'table-itself'
      },
      componentKind: 'table',
      view: new TableViewType()
    }
  }
})


</script>


<style>
*{box-sizing: border-box;}

table {
  border-collapse:collapse;
}


</style>

<style lang='scss' src='assets/css/table.scss'></style>
