<template>
    <slot></slot>
</template>

<script lang="ts">

let pressedKey: KeyboardEvent | null = null;

export const getPressedKey = (): any => pressedKey;
export const isMetaKeyPressed = (): any => pressedKey && pressedKey.key == 'Meta';
export const isControlKeyPressed = (): any => pressedKey && pressedKey.key == 'Control';

export const getKeyPressed = (): any => pressedKey;


export default {
    name: 'ActionWrapper',
    created() {
      window.addEventListener('keydown', function(ev: KeyboardEvent) {
        pressedKey = ev;
      })

      window.addEventListener('keyup', function(ev: KeyboardEvent) {
        if(pressedKey && pressedKey.code == ev.code) {
          pressedKey = null;
        }
      });
    }
}

</script>
