<template>
    <slot></slot>
</template>

<script>
  import { initWebsocket } from 'components/system/ws-wrapper';
  import { SERVER_ADDRESS } from 'src/local_settings';

  export default {
      name: 'WsWrapper',
      mounted() {
          this.connect()
      },
      methods: {
          connect() { initWebsocket('ws://' + SERVER_ADDRESS + '/ws/') },

      },
      props: [],
      data() {
          return {
              is_active: false
          }
      }
  }

</script>
